
<template>
  <div>
    <div v-if="dataLoading">
      <v-progress-linear class="ma-5" indeterminate></v-progress-linear>
    </div>
    <v-container v-if="!dataLoading">
      <v-tabs v-model="tabs" href="#tab1">
        <v-tab href="#one"> Účastníci k hodnocení </v-tab>
        <v-tab
          v-show="isAdmin() && ratedAttendees"
          href="#two"
          @click="setRatedAttendees"
        >
          Přehled
        </v-tab>
      </v-tabs>
      <v-tabs-items :value="tabs">
        <v-tab-item value="one">
          <v-list three-line>
            <template
              v-for="(attendee, index) in attendeesToRate"
              class="list elevation-3 pa-2 ma-2"
            >
              <v-list-item :key="attendee.id">
                <v-list-item-title
                  ><person-header :person="attendee"></person-header
                ></v-list-item-title>
                <v-list-item-action>
                  <v-row v-if="hasMoreThanVisibility(attendee)" class="mb-1">
                    <div>
                      <v-icon
                        v-if="hasMyRatingForDay(attendee)[0]"
                        color="success"
                        >mdi-checkbox-marked</v-icon
                      >
                      <v-icon v-if="!hasMyRatingForDay(attendee)[0]"
                        >mdi-checkbox-blank-outline</v-icon
                      >
                    </div>
                    <div>
                      <v-icon
                        v-if="hasMyRatingForDay(attendee)[1]"
                        color="success"
                        >mdi-checkbox-marked</v-icon
                      ><v-icon v-if="!hasMyRatingForDay(attendee)[1]"
                        >mdi-checkbox-blank-outline</v-icon
                      >
                    </div>
                    <div>
                      <v-icon
                        v-if="hasMyRatingForDay(attendee)[2]"
                        color="success"
                        >mdi-checkbox-marked</v-icon
                      ><v-icon v-if="!hasMyRatingForDay(attendee)[2]"
                        >mdi-checkbox-blank-outline</v-icon
                      >
                    </div>
                  </v-row>
                  <v-col>
                    <v-btn
                      small
                      elevation="0"
                      color="primary"
                      fab
                      @click="openRatingDialog(attendee)"
                      ><v-icon v-if="hasMoreThanVisibility(attendee)"
                        >mdi-pencil-plus</v-icon
                      ><v-icon v-if="!hasMoreThanVisibility(attendee)"
                        >mdi-eye</v-icon
                      ></v-btn
                    >
                  </v-col>
                </v-list-item-action>
              </v-list-item>
              <v-divider :key="index" :inset="attendee.inset"></v-divider>
            </template>
            <v-divider></v-divider>
          </v-list>

          <v-dialog
            v-if="ratingDialog"
            v-model="ratingDialog"
            persistent
            fullscreen
          >
            <v-card>
              <v-toolbar flat dark color="primary">
                <v-btn icon dark @click="ratingDialog = false">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>{{ detailAttendee.name }}</v-toolbar-title>
                <v-spacer></v-spacer>

                <v-progress-circular
                  v-if="savingRating"
                  indeterminate
                  color="white"
                ></v-progress-circular>
              </v-toolbar>

              <v-container>
                <v-expansion-panels>
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      Přehled hodnocení
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <rating-overview
                        :person="detailAttendee"
                      ></rating-overview>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                  <v-expansion-panel v-if="canRate(detailAttendee)">
                    <v-expansion-panel-header>
                      Hodnocení za první den
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <daily-rating
                        :person="detailAttendee"
                        :ratingDay="0"
                        :saveInProgress="savingRating"
                        v-on:save-rating="savePersonRating($event, 0)"
                      ></daily-rating
                    ></v-expansion-panel-content>
                  </v-expansion-panel>
                  <v-expansion-panel v-if="canRate(detailAttendee)">
                    <v-expansion-panel-header>
                      Hodnocení za druhý den
                    </v-expansion-panel-header>
                    <v-expansion-panel-content
                      ><daily-rating
                        :person="detailAttendee"
                        :ratingDay="1"
                        v-on:save-rating="savePersonRating($event, 1)"
                        :saveInProgress="savingRating"
                      ></daily-rating
                    ></v-expansion-panel-content>
                  </v-expansion-panel>
                  <v-expansion-panel v-if="canRate(detailAttendee)">
                    <v-expansion-panel-header>
                      Hodnocení za třetí den
                    </v-expansion-panel-header>
                    <v-expansion-panel-content
                      ><daily-rating
                        :person="detailAttendee"
                        :ratingDay="2"
                        v-on:save-rating="savePersonRating($event, 2)"
                        :saveInProgress="savingRating"
                      ></daily-rating
                    ></v-expansion-panel-content>
                  </v-expansion-panel>
                  <v-expansion-panel v-if="canAdjust(detailAttendee)">
                    <v-expansion-panel-header>
                      Úprava hodnocení
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <adjustment-rating
                        :person="detailAttendee"
                        v-on:set-adjustment="setAdjustment($event)"
                        :saveInProgress="savingRating"
                      ></adjustment-rating
                    ></v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-container>
            </v-card>
          </v-dialog>
        </v-tab-item>
        <v-tab-item value="two" v-if="isAdmin">
          <rating-export
            :rAttendees="filtered(ratedAttendees)"
            class="mt-3"
          ></rating-export>
          <v-expansion-panels :model="filtersExpanded" class="mb-2 mt-2">
            <v-expansion-panel>
              <v-expansion-panel-header>Filtry</v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-row>
                  <v-col cols="12" lg="8">
                    <filter-selector
                      :hidden-filters="filters"
                      v-on:add-filter="addFilter($event)"
                    ></filter-selector>
                    <div>
                      <v-subheader>Kritéria</v-subheader>

                      <v-chip
                        class="ml-2"
                        v-for="(filter, index) in filters"
                        v-bind:key="filter.value"
                        close
                        @click:close="removeFilter(index)"
                        >{{ filterToText(filter) }}</v-chip
                      >
                    </div>
                  </v-col>
                  <v-col cols="12" lg="3" class="justify-start">
                    <span class="caption">Hledat podle jména</span>
                    <v-autocomplete
                      v-model="nameFilter"
                      :items="filtered(ratedAttendees)"
                      item-text="attendee.name"
                      clearable
                      class="autocomplete"
                    ></v-autocomplete>
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
          <v-list two-line v-if="ratedAttendees && ratedAttendees.length > 0">
            <template
              v-for="(ra, index) in filtered(ratedAttendees)"
              class="list elevation-3 pa-2 ma-2"
            >
              <v-list-item :key="ra.attendee.id">
                <v-list-item-content>
                  <v-list-item-title
                    >{{ index + 1 }}.
                    {{ filters.length > 0 ? "(" + ra.rank + ")" : "" }}
                    {{ ra.attendee.name }}</v-list-item-title
                  >
                  <v-list-item-subtitle class="ms-2 d-none d-sm-flex">{{
                    shortPositionText(ra.position)
                  }}</v-list-item-subtitle>
                </v-list-item-content>
                <span class="text-h5">{{ Math.round(ra.overallRating) }} </span
                ><span>%</span>
                <v-list-item-action>
                  <v-btn
                    small
                    elevation="0"
                    color="primary"
                    fab
                    @click="openOverviewDialog(ra)"
                  >
                    <v-icon>mdi-eye</v-icon></v-btn
                  >
                </v-list-item-action>
              </v-list-item>
            </template>
          </v-list>
          <div
            v-if="ratedAttendees && !(ratedAttendees.length > 0)"
            class="text-subtitle-1 ma-5"
          >
            Žádní účastníci dosud nebyli ohodnoceni.
          </div>
        </v-tab-item>
      </v-tabs-items>
      <v-dialog v-model="overviewDialog" v-if="overviewDialog">
        <v-card>
          <v-toolbar flat dark color="primary">
            <v-btn icon dark @click="overviewDialog = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>{{ detailRa.name }}</v-toolbar-title>
          </v-toolbar>
          <v-container>
            <rating-overview :person="detailRa.attendee"></rating-overview>
          </v-container>
        </v-card>
      </v-dialog>
    </v-container>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import { EmittingCmakClient } from "../cmak-client";
import {
  theStore,
  theClient,
  theCmak,
  shortPositionText,
  calculateOverall,
  averageRatingInCategories,
  RatedAttendee,
  filterToText,
} from "../cmak-ui";
import PersonHeader from "../components/PersonHeader.vue";
import {
  Attendee,
  RatingResponsibilities,
  isWithinFilters,
  ApplicableFilter,
  PositionFilter,
  Rating,
  GameRating,
  Position,
  getRatingType,
  getRatingCategories,
  Authorization,
} from "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-types";
import {
  determineRatingResponsibility,
  getCurrentRatingDay,
} from "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-2021";
import RatingOverview from "../components/RatingOverview.vue";
import dailyRating from "../components/dailyRating.vue";
import adjustmentRating from "../components/adjustmentRating.vue";
import FilterSelector from "../components/FilterSelector.vue";
import RatingExport from "../components/RatingExport.vue";

function getMapped(ra: RatedAttendee): RatedAttendee {
  if (ra.attendee.gameRating) {
    const averageRating = averageRatingInCategories(ra.attendee.gameRating);
    Object.entries(averageRating).forEach((entryAvg) => {
      const wantedCategory = getRatingCategories(ra.position!).find(
        (category) => category.key === entryAvg[0]
      );
      if (wantedCategory) {
        ra[wantedCategory.key] = entryAvg[1];
      }
    });
  }
  return ra;
}

@Component({
  components: {
    PersonHeader,
    RatingOverview,
    dailyRating,
    adjustmentRating,
    FilterSelector,
    RatingExport,
  },
})
export default class AttendeeRating extends Vue {
  dataLoading: boolean = false;
  theClient = new EmittingCmakClient(theClient, this);
  attendeesToRate: Attendee[] | null = null;
  ratingDialog: boolean = false;
  userResponsibilities: RatingResponsibilities | null = null;
  detailAttendee: Attendee | null = null;
  detailGameRating: GameRating | null = null;
  detailRa: RatedAttendee | null = null;
  ratedAttendees: RatedAttendee[] | null = null;
  tabs: number = 1;
  overviewDialog: boolean = false;
  filters: PositionFilter[] = [];
  nameFilter: string = "";
  filtersExpanded: boolean = false;
  savingRating: boolean = false;

  created() {
    this.dataLoading = true;
    this.userResponsibilities = determineRatingResponsibility(theStore.person!);
    this.theClient
      .getAttendeesToRate()
      .then((attendees) => {
        this.attendeesToRate = attendees.sort((a, b) => {
          if (this.hasMoreThanVisibility(a) && this.hasMoreThanVisibility(b)) {
            return 0;
          } else if (
            this.hasMoreThanVisibility(b) &&
            !this.hasMoreThanVisibility(a)
          ) {
            return 1;
          } else {
            return -1;
          }
        });
        console.log("Attendees to rate: " + this.attendeesToRate);
      })
      .finally(() => (this.dataLoading = false));

    if (this.isAdmin()) {
      this.setRatedAttendees();
    }
  }

  isAdmin(): boolean {
    return theStore.person!.authorizations?.includes(Authorization.ADMIN)
      ? true
      : false;
  }

  shortPositionText = shortPositionText;

  setRatedAttendees() {
    this.theClient.getAllAttendees().then((attendees) => {
      this.ratedAttendees = attendees
        .filter((a) => a.gameRating)
        .map((a) => new RatedAttendee(a))
        .sort((a, b) => b.overallRating! - a.overallRating!)
        .map((ra, index) => {
          ra.rank = index + 1;
          return getMapped(ra);
        });
    });
  }

  canRate(attendee: Attendee): boolean {
    if (this.userResponsibilities) {
      return isWithinFilters(
        attendee,
        ApplicableFilter.makeApplicable(this.userResponsibilities?.dailyRating)
      );
    } else {
      return false;
    }
  }

  canAdjust(attendee: Attendee): boolean {
    if (this.userResponsibilities) {
      return isWithinFilters(
        attendee,
        ApplicableFilter.makeApplicable(this.userResponsibilities?.adjustment)
      );
    } else {
      return false;
    }
  }

  hasMoreThanVisibility(attendee: Attendee): boolean {
    if (this.userResponsibilities) {
      return (
        isWithinFilters(
          attendee,
          ApplicableFilter.makeApplicable(
            this.userResponsibilities?.dailyRating
          )
        ) ||
        isWithinFilters(
          attendee,
          ApplicableFilter.makeApplicable(this.userResponsibilities?.adjustment)
        )
      );
    } else {
      return false;
    }
  }

  hasMyRatingForDay(attendee: Attendee): Array<boolean> {
    let daysRatedByMe: Array<boolean> = [];
    daysRatedByMe[0] = attendee.gameRating?.dailyRatings[0].find(
      (r) => r.judge.id == theStore.person!.id
    )
      ? true
      : false;
    daysRatedByMe[1] = attendee.gameRating?.dailyRatings[1].find(
      (r) => r.judge.id == theStore.person!.id
    )
      ? true
      : false;
    daysRatedByMe[2] = attendee.gameRating?.dailyRatings[2].find(
      (r) => r.judge.id == theStore.person!.id
    )
      ? true
      : false;

    return daysRatedByMe;
  }

  openRatingDialog(attendee: Attendee) {
    this.detailAttendee = attendee;
    this.ratingDialog = true;
  }

  openOverviewDialog(ra: RatedAttendee) {
    this.detailRa = ra;
    this.overviewDialog = true;
  }

  posToText(position: Position): string {
    return position ? shortPositionText(position) : "";
  }
  filterToText(filter: PositionFilter): string {
    return filterToText(filter);
  }

  removeFilter(index: number) {
    this.filters.splice(index, 1);
  }

  addFilter(filter: PositionFilter) {
    console.log("new filter", filter.type, filter.value);
    if (this.isNewFilter(filter.type, filter.value)) {
      this.filters.push({ type: filter.type, value: filter.value });
    }
  }

  private isNewFilter(filterType: string, value: string): boolean {
    return (
      this.filters.filter((f) => f.type === filterType && f.value === value)
        .length === 0
    );
  }

  savePersonRating(rating: Rating, ratingDay: number) {
    this.savingRating = true;
    console.log("AttendeeRating: " + rating.overall);
    theClient
      .setDailyRating(this.detailAttendee!.id, ratingDay, rating)
      .then((attendee) => {
        this.detailAttendee = attendee;
        this.attendeesToRate!.splice(
          this.attendeesToRate!.findIndex(
            (a) => a.id == this.detailAttendee!.id
          ),
          1,
          attendee
        );
      })
      .finally(() => (this.savingRating = false));
  }

  setAdjustment(adjustment: number | undefined) {
    this.savingRating = true;
    if (adjustment || adjustment == 0) {
      theClient
        .setRatingAdjustment(this.detailAttendee!.id, adjustment)
        .then((attendee) => {
          this.detailAttendee = attendee;
        }).finally(() => this.savingRating = false);
    }
  }

  filtered(ratedAttendees: RatedAttendee[]) {
    if (!ratedAttendees) {
      return [];
    }
    const applicableFilters: ApplicableFilter[] =
      ApplicableFilter.makeApplicable(this.filters);
    return ratedAttendees.filter((ra) => {
      if (this.filters) {
        if (
          !(
            ra.position &&
            applicableFilters.every((f) => f.matches(ra.position!))
          )
        ) {
          return false;
        }
      }
      if (this.nameFilter?.length > 0) {
        if (!(ra.attendee.name == this.nameFilter)) {
          return false;
        }
      }
      return true;
    });
  }
}
</script>