<template>
  <div>
    <!-- Registrace: 6.5., Deadline pro účastnické poplatky: 31.5., Akce: 5.- 10.9. -->
    <v-row no-gutters>
      <v-col cols="11" lg="6" offset-lg="3">
        <v-timeline align-top dense>
           <v-timeline-item color="#ef5350">
            <v-card color="#ef5350">
              <v-card-title class="white--text">Důležité info</v-card-title>
              <v-card-text class="pt-2 white text--primary">
                <p> <v-icon color="#ef5350">mdi-alert-circle-outline</v-icon> Důležité informace pro všechny účastníky před samotným příjezdem na ČMAK si prosím přečtěte <a href="https://americkykongres.cz/wp-content/uploads/Dulezite-info-CMAK21.pdf">zde.</a></p>
              </v-card-text>
            </v-card>
            </v-timeline-item>
            
           <v-timeline-item color="#ef5350">
            <v-card color="#ef5350">
              <v-card-title class="white--text">Formulář o bezinfekčnosti</v-card-title>
              <v-card-text class="pt-2 white text--primary">
                <p> Formulář o bezinfekčnosti <a href="https://americkykongres.cz/wp-content/uploads/Prohlaseni_covid_form.pdf">zde</a> (vytisknout a přivézt s sebou!) </p>
              </v-card-text>
            </v-card>
            </v-timeline-item>
          <v-timeline-item color="#63a4ff">
            <v-card color="#63a4ff">
              <v-card-title class="white--text">5.-10. září</v-card-title>
              <v-card-text class="pt-2 white text--primary"
                >ČMAK! Konečně v Plzni</v-card-text
              >
            </v-card>
          </v-timeline-item>
        </v-timeline>
      </v-col>
    </v-row>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
@Component
export default class Home extends Vue {}
</script>
