<template>
  <div>
    <div v-if="dataLoading">
      <v-progress-linear class="ma-5" indeterminate></v-progress-linear>
    </div>
    <v-container v-if="!dataLoading">
      <v-col cols="12" xl="8" offset-xl="2">
        <attendee-export :attendees="filtered(people)"></attendee-export>
        <v-expansion-panels :model="filtersExpanded" class="mb-2">
          <v-expansion-panel>
            <v-expansion-panel-header
              ><span
                >Filtry<v-badge
                  dot
                  offset-y="-7"
                  class="ml-1"
                  v-if="
                    positionFilters.length ||
                    otherFilters.authorizations.length ||
                    (nameFilter && nameFilter.length)
                  "
                ></v-badge></span
            ></v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-row>
                <v-col cols="12" lg="2">
                  <v-form class="mb-3">
                    <span class="caption">Oprávnění</span>
                    <v-checkbox
                      v-model="otherFilters.authorizations"
                      dense
                      hide-details
                      label="Admin"
                      :value="ADMIN"
                    ></v-checkbox>
                    <v-checkbox
                      v-model="otherFilters.authorizations"
                      dense
                      hide-details
                      label="Organizátor"
                      :value="ORGANIZER"
                    ></v-checkbox>
                    <v-checkbox
                      v-model="otherFilters.authorizations"
                      dense
                      hide-details
                      label="Hodnotitel"
                      :value="EVALUATOR"
                    ></v-checkbox>
                    <v-checkbox
                      v-model="otherFilters.authorizations"
                      dense
                      hide-details
                      label="Účastník"
                      :value="ATTENDEE"
                    ></v-checkbox>
                  </v-form>
                </v-col>
                <v-col cols="12" lg="2">
                  <v-form class="mb-3">
                    <span class="caption">Další</span>
                    <v-checkbox
                      v-model="otherFilters.debt"
                      dense
                      hide-details
                      label="Dlužník"
                    ></v-checkbox>
                    <v-checkbox
                      v-model="otherFilters.overpay"
                      dense
                      hide-details
                      label="Přeplatník"
                    ></v-checkbox>
                  </v-form>
                </v-col>
                <v-col cols="12" lg="3">
                  <span class="caption">Organizační tým</span>
                  <v-autocomplete
                    v-model="otherFilters.orgTeams"
                    :items="organizerTeams"
                    item-text="name"
                    return-object
                    multiple
                  ></v-autocomplete>
                  <v-chip
                    class="ml-2"
                    v-for="(team, index) in otherFilters.orgTeams"
                    v-bind:key="team.name"
                    close
                    @click:close="otherFilters.orgTeams.splice(index, 1)"
                    >{{ team.name }}</v-chip
                  >

                </v-col>
                <v-col cols="12" lg="3">
                  <span class="caption">Hledat podle jména</span>
                  <v-autocomplete
                    v-model="nameFilter"
                    :items="people"
                    item-text="name"
                    clearable
                    class="autocomplete"
                  ></v-autocomplete>
                </v-col>
              </v-row>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
        <v-virtual-scroll
          v-if="!dataLoading"
          class="list elevation-3 pa-2 ma-2"
          :items="filtered(people)"
          itemHeight="120"
          benched="10"
          max-height="600"
          three-line
        >
          <template v-slot:default="{ item }">
            <v-list-item :key="item.id">
              <v-list-item-content>
                <v-list-item-title
                  ><person-header :person="item"></person-header
                ></v-list-item-title>
                <v-list-item-subtitle>
                  <span v-if="item.authorizations" class="caption">
                    <v-chip
                      class="mr-2"
                      x-small
                      v-for="auth in item.authorizations"
                      :key="auth"
                      >{{ auth }}</v-chip
                    >
                  </span>
                  <span v-else>&nbsp;</span>
                </v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-action>
                <v-btn
                  fab
                  small
                  elevation="0"
                  color="primary"
                  @click.stop="showDetail(item)"
                  class="mr-lg-5"
                  ><v-icon>mdi-information</v-icon></v-btn
                >
              </v-list-item-action>
            </v-list-item>
            <v-divider></v-divider>
          </template>
        </v-virtual-scroll>
      </v-col>
    </v-container>
    <v-dialog v-if="detailDialog" v-model="detailDialog" persistent fullscreen>
      <v-card>
        <v-toolbar flat dark color="primary">
          <v-btn icon dark @click="detailDialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>{{ detailPerson.name }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn
            dark
            text
            @click="
              detailDialog = false;
              savePerson();
            "
          >
            Uložit
          </v-btn>
        </v-toolbar>
        <v-container>
          <v-card class="mb-3">
            <v-card-title>Oprávnění</v-card-title>
            <div class="d-sm-flex">
              <v-switch
                class="ml-3"
                v-model="detailAuthorizations"
                label="Admin"
                :value="ADMIN"
              ></v-switch>
              <v-switch
                class="ml-3"
                v-model="detailAuthorizations"
                label="Organizátor"
                :value="ORGANIZER"
              ></v-switch>
              <v-switch
                class="ml-3"
                v-model="detailAuthorizations"
                label="Hodnotitel"
                :value="EVALUATOR"
              ></v-switch>
              <v-switch
                class="ml-3"
                v-model="detailAuthorizations"
                label="Účastník"
                :value="ATTENDEE"
              ></v-switch>
            </div>
          </v-card>
          <v-card>
            <v-card-title>Role na ČMAKu</v-card-title>
            <v-card-text v-if="detailAuthorizations.includes(ORGANIZER)">
              <span
                >Aktuální role (organizátor):
                {{ orgPositionName(detailPerson) }}</span
              >
              <div class="mt-3">
                <span>Vybrat roli</span>
                <v-autocomplete
                  v-model="detailPosition"
                  :items="availableOrgPositions"
                  item-text="name"
                  return-object
                ></v-autocomplete>
              </div>
            </v-card-text>
            <v-card-text v-if="detailAuthorizations.includes(ATTENDEE)">
              <span
                >Aktuální role (účastník):
                {{
                  detailPerson.position
                    ? shortPositionText(detailPerson.position)
                    : "Žádná"
                }}</span
              >
            </v-card-text>
          </v-card>
          <v-card v-if="detailAuthorizations.includes(ORGANIZER)" class="mt-3">
            <v-card-title>Organizační role</v-card-title>
            <v-card-text>
              <span>Patří do týmu: </span>
              <v-chip
                class="ml-2"
                v-for="(team, index) in detailOrgTeams"
                :key="team.name"
                close
                @click:close="detailOrgTeams.splice(index, 1)"
                >{{ team.name }}</v-chip
              >
              <v-autocomplete
                v-model="detailOrgTeams"
                :items="organizerTeams"
                item-text="name"
                return-object
                multiple
              ></v-autocomplete>

              <span>Je vedoucí týmu: </span>
              <v-select v-model="detailTeamHead" :items="organizerTeams" clearable item-text="name" return-object></v-select>
              <span>Je vedoucí větve: </span>
              <v-select v-model="detailBranchHead" :items="organizerBranches" clearable item-text="value" item-value="key"></v-select>
            </v-card-text>
          </v-card>
          <v-card v-if="(detailAuthorizations.includes(ATTENDEE)|| detailAuthorizations.includes(ORGANIZER))" class="mt-3">
            <v-card-title>Servis</v-card-title>

            <v-card-text v-if="detailPerson.financeInfo">
              <fee-list :person="detailPerson" :fees="detailFees"></fee-list>

              <div class="mt-3">
                Zbývá zaplatit: {{ -computeBalance(detailPerson.financeInfo) }} Kč
              </div>
              <div class="mt-3">
                Variabilní symbol: {{ detailPerson.financeInfo.varSymbol }}
              </div>
              <v-btn
                v-if="!changePaymentSection"
                small
                class="mt-3"
                @click ="changePaymentSection = true;"
              >
                Upravit platbu
              </v-btn>
              <div v-if="changePaymentSection" class="mt-6"><strong>Úprava plateb</strong></div>

              <div v-if="changePaymentSection" class="mt-3">
                <v-form>
                  <v-row>
                    <v-col>
                    <v-text-field v-model.number="detailBalanceCorrection" type="number" label="Změna částky" :rules="rules.paymentChange" hint="Tato částka bude připočtena k dosavadním platbám. Může být i záporná.">

                    </v-text-field>
                    </v-col>
                    <v-col>
                    <v-text-field v-model="detailBalanceCorrectionComment" label="Důvod opravy" placeholder="Láďa blbě vyplnil VS">

                    </v-text-field>
                    </v-col>
                  </v-row>
                </v-form>
              </div>
            </v-card-text>
          </v-card>
          <v-card v-if="detailAuthorizations.includes(ATTENDEE)" class="mt-3">
            <v-card-title> Osobní údaje a doplňující informace </v-card-title>
            <v-card-text>
              <v-row v-if="detailPerson.services && detailPerson.personalInfo">
                <v-col>
                  <div class="mb-4">
                    Email:
                    <div class="ml-2 mt-2">
                      {{ detailPerson.email }}
                    </div>
                  </div>
                  <!-- <div class="mb-4" v-if="detailPerson.services.accommodationInfo.idNumber">
                    Číslo občanského průkazu:
                    <div class="ml-2 mt-2">{{ detailPerson.services.accommodationInfo.idNumber }}</div>
                  </div> -->
                  <div
                    class="mb-4"
                    v-if="detailPerson.services.specialFoodNeeds"
                  >
                    Speciální požadavky (obědy):
                    <div class="ml-2 mt-2">
                      {{ detailPerson.services.specialFoodNeeds }}
                    </div>
                  </div>
                  <div class="mb-4">
                    Telefonní číslo:
                    <div class="ml-2 mt-2">
                      {{ detailPerson.personalInfo.phone }}
                    </div>
                  </div>
                  <div class="mb-4" v-if="detailPerson.personalInfo.address">
                    Adresa:
                    <div class="ml-2 mt-2">
                      {{ detailPerson.personalInfo.address.line1 }},
                      {{ detailPerson.personalInfo.address.city }},
                      {{ detailPerson.personalInfo.address.zip }}
                    </div>
                  </div>
                  <div
                    class="mb-4"
                    v-if="
                      detailPerson.services.accommodationInfo &&
                      detailPerson.services.accommodationInfo.birthday
                    "
                  >
                    Datum narození:
                    <div class="ml-2 mt-2">
                      {{ detailPerson.services.accommodationInfo.birthday }}
                    </div>
                  </div>
                  <div class="mb-4">
                    Pohlaví:
                    <div class="ml-2 mt-2">
                      {{ detailPerson.personalInfo.sex }}
                    </div>
                  </div>
                  <div
                    v-if="
                      detailPerson.services.accommodationInfo &&
                      (detailPerson.services.accommodationInfo.dormPreference ||
                        detailPerson.services.accommodationInfo
                          .roommateString ||
                        detailPerson.services.accommodationInfo.cellmateString)
                    "
                    class="mb-4"
                  >
                    Preference kolejí
                  </div>
                  <div
                    v-if="
                      detailPerson.services.accommodationInfo &&
                      detailPerson.services.accommodationInfo.dormPreference
                    "
                    class="mb-4 ml-4"
                  >
                    Kolej:
                    <div class="ml-2 mt-2">
                      {{
                        detailPerson.services.accommodationInfo.dormPreference
                      }}
                    </div>
                  </div>
                  <div
                    v-if="
                      detailPerson.services.accommodationInfo &&
                      detailPerson.services.accommodationInfo.roommatePreference
                    "
                    class="mb-4 ml-4"
                  >
                    Spolubydlící na pokoji:
                    <div class="ml-2 mt-2">
                      {{
                        detailPerson.services.accommodationInfo
                          .roommatePreference
                      }}
                    </div>
                  </div>
                  <div
                    v-if="
                      detailPerson.services.accommodationInfo &&
                      detailPerson.services.accommodationInfo.cellmatePreference
                    "
                    class="mb-4 ml-4"
                  >
                    Spolubydlící na buňce:
                    <div class="ml-2 mt-2">
                      {{
                        detailPerson.services.accommodationInfo
                          .cellmatePreference
                      }}
                    </div>
                  </div>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>
<style lang="css" scoped>
.list {
  overflow-y: auto;
  min-height: 800px;
  max-height: 1500px;
}
</style>

<script lang="ts">
import {
  Attendee,
  Authorization,
  OrgPosition,
  Position,
  OrganizerInfo,
  PositionFilter,
  ApplicableFilter,
  OrgTeam,
  Services,
  FinanceInfo,
  Sex,
  Fee,
  Person,
} from "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-types";
import PersonHeader from "../components/PersonHeader.vue";
import AttendeeExport from "../components/AttendeeExport.vue";
// import { Attendee } from "amplify/backend/function/cmakappLambdaLayer/opt/cmak-types";
import { EmittingCmakClient } from "../cmak-client";
import { Component, Vue, Watch } from "vue-property-decorator";
import {
  theStore,
  theClient,
  averageEval,
  satisfactionEstimate,
  theCmak,
  distributePositions,
  shortPositionText,
  isReadyForPosition,
  filterToText,
  computeBalance
} from "../cmak-ui";
import FeeList from "../components/FeeList.vue";

@Component({ components: { PersonHeader, AttendeeExport, FeeList } })
export default class ListOfEveryone extends Vue {
  theClient = new EmittingCmakClient(theClient, this);
  dataLoading: boolean = false;
  people: Attendee[] = [];
  detailDialog: boolean | null = null;
  detailPerson: Attendee | null = null;
  EVALUATOR = Authorization.EVALUATOR;
  ADMIN = Authorization.ADMIN;
  ORGANIZER = Authorization.ORGANIZER;
  ATTENDEE = Authorization.ATTENDEE;
  availableOrgPositions: OrgPosition[] = [];
  detailPosition: OrgPosition | null = null;
  detailAuthorizations: Authorization[] = [];
  detailOrgTeams = [] as OrgTeam[];
  positionFilters: PositionFilter[] = [];
  organizerTeams = theCmak.orgTeams;
  organizerBranches = Array.from(theCmak.orgBranches.entries()).map(([key,value])=>{return {key:key,value:value}})
  otherFilters = {
    authorizations: [] as Authorization[],
    orgTeams: [] as OrgTeam[],
    debt: null,
    overpay: null
  };
  filtersExpanded: boolean = false;
  detailFees: Fee[] | null = null;
  detailTeamHead: OrgTeam | null = null;
  detailBranchHead: string | null = null;
  changePaymentSection: boolean | null = null;
  detailBalanceCorrection: number | null = null;
  detailBalanceCorrectionComment: string | null = null;
  nameFilter: string = "";
  rules = {
  paymentChange: [
      (val) =>
        (!isNaN(Number(val))) ||
        "Pouze čísla!",
    ]}
  //TODO: pomocna mapa na ukladani authorizations

  created() {
    this.dataLoading = true;
    this.theClient
      .getAllAttendees()
      .then((attendees) => (this.people = attendees))
      .finally(() => (this.dataLoading = false));
    this.availableOrgPositions = theCmak.orgPositions;
  }

  showDetail(person: Attendee) {
    if (!person.authorizations) {
      person.authorizations = [];
    }
    this.detailAuthorizations = person.authorizations;
    this.detailOrgTeams = person.organizer?.orgTeam ?? [];
    this.detailPerson = person;
    this.detailPosition = person.organizer?.orgPosition ?? null;
    this.detailDialog = true;
    this.detailFees = this.detailPerson.financeInfo?.fees ?? null;
    this.detailTeamHead = this.detailPerson.organizer?.teamHead ?? null;
    this.detailBranchHead = this.detailPerson.organizer?.branchHead ?? null;
    this.detailPosition = this.detailPerson.organizer?.orgPosition ?? null;
    this.changePaymentSection = this.detailPerson.financeInfo?.balanceCorrection? true : false;
    this.detailBalanceCorrection = this.detailPerson.financeInfo?.balanceCorrection ?? null;
    this.detailBalanceCorrectionComment = this.detailPerson.financeInfo?.balanceCorrectionComment ?? null
    
  }

  isAdmin(attendee: Attendee): boolean {
    return attendee.authorizations?.includes(this.ADMIN) ?? false;
  }
  isEvaluator(attendee: Attendee): boolean {
    return attendee.authorizations?.includes(this.EVALUATOR) ?? false;
  }
  isOrg(attendee: Attendee): boolean {
    return attendee.authorizations?.includes(this.ORGANIZER) ?? false;
  }
  isAttendee(attendee: Attendee): boolean {
    return attendee.authorizations?.includes(Authorization.ATTENDEE) ?? false;
  }
  orgPositionName(attendee: Attendee): string {
    return attendee.organizer?.orgPosition?.name ?? "Žádná";
  }
  saveOrgPosition() {
    const orgInfo = this.detailPerson!.organizer ?? ({} as OrganizerInfo);
    orgInfo.orgPosition = this.detailPosition ?? undefined;
    this.detailPerson!.organizer = orgInfo;
  }

  computeBalance(financeInfo?: FinanceInfo): number {
    return computeBalance(financeInfo)
  }

  savePerson() {
    let newOrganizer: OrganizerInfo | undefined;
    if (this.detailAuthorizations.includes(Authorization.ORGANIZER)) {
      newOrganizer = this.detailPerson?.organizer ?? {
        orgTeam: this.detailOrgTeams ?? ([] as OrgTeam[]),
      };
      newOrganizer.orgTeam = this.detailOrgTeams;
      newOrganizer.orgPosition = this.detailPosition ?? undefined;
      newOrganizer.teamHead = this.detailTeamHead ?? undefined;
      newOrganizer.branchHead = this.detailBranchHead ?? undefined;
      console.log(newOrganizer.orgPosition)
    } else {
      newOrganizer = undefined;
    }
    let newFinanceInfo: FinanceInfo | undefined;
    if (this.detailBalanceCorrection && this.detailPerson?.financeInfo) {
      newFinanceInfo = {
        paid: this.detailPerson?.financeInfo?.paid,
        fees: this.detailPerson?.financeInfo?.fees,
        varSymbol: this.detailPerson?.financeInfo?.varSymbol,
        balanceCorrection: this.detailBalanceCorrection,
        balanceCorrectionComment: this.detailBalanceCorrectionComment??""
      }
    }

    let attendeePatch: Partial<Attendee> = {
      authorizations: this.detailAuthorizations,
      organizer: newOrganizer,
      financeInfo: newFinanceInfo
    };
    this.theClient.updateAttendee(attendeePatch, this.detailPerson!.id);
    Vue.set(this.detailPerson!, "authorizations", this.detailAuthorizations);
    Vue.set(this.detailPerson!, "organizer", newOrganizer);
    Vue.set(this.detailPerson!, "financeInfo", newFinanceInfo);
  }
  shortPositionText(position: Position) {
    return shortPositionText(position);
  }

  filtered(people: Attendee[]): Attendee[] {
    const applicableFilters: ApplicableFilter[] =
      ApplicableFilter.makeApplicable(this.positionFilters);
    return people.filter((p) => {
      if (
        !this.otherFilters.authorizations.every((a) =>
          p.authorizations?.includes(a)
        )
      ) {
        return false;
      }
      if (
        !this.otherFilters.orgTeams.every((t) =>
          p.organizer?.orgTeam.includes(t)
        )
      ) {
        return false;
      }
      if (this.nameFilter?.length > 0) {
        if (!(p.name == this.nameFilter)) {
          return false;
        }
      }
      if(this.otherFilters.debt) {
        if(this.computeBalance(p.financeInfo) >= 0) {
          return false;
        }
      }
      if(this.otherFilters.overpay) {
        if(this.computeBalance(p.financeInfo) <= 0) {
          return false;
        }
      }
      return true;
    });
  }

  removeFilter(index: number) {
    this.detailOrgTeams.splice(index, 1);
  }
}
</script>
