<template>
  <v-app v-on:cmak-server-call-start="callStart" v-on:cmak-server-call-end="callEnd" >
    <v-app-bar
      app
      absolute
      class="white--text primary darken-1"
      
    >
      <v-app-bar-nav-icon color="white" @click="menuVisible = true"
        ><v-icon>mdi-menu</v-icon></v-app-bar-nav-icon
      >
      <v-toolbar-title
        ><div style="width: 280px">{{ $route.name }}</div></v-toolbar-title
      >
       <v-spacer></v-spacer>

      <v-progress-circular
      v-if="inProgress>0"
      indeterminate
      color="white"
    ></v-progress-circular>
    </v-app-bar>

    <v-navigation-drawer app absolute temporary left v-model="menuVisible">
      <v-list dense nav>
        <v-list-item
          :to="{ path: '/main/profile', params: { person: person } }"
        >
          <v-list-item-content>
            <person-header v-if="person" :person="person()"></person-header>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/main/home">
          <v-list-item-icon>
            <v-icon>mdi-home</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <span class="v-list-item-text">Domů</span>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/main/profile">
          <v-list-item-icon>
            <v-icon>mdi-account</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <span class="v-list-item-text">Profil</span>
          </v-list-item-content>
        </v-list-item>

        <v-list-item v-if="registrationsAllowed" to="/main/registration">
          <v-list-item-icon>
            <v-icon>mdi-account-plus</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <span class="v-list-item-text">Registrace</span>
          </v-list-item-content>
        </v-list-item>

        <v-list-item v-if="canViewService()" to="/main/service">
          <v-list-item-icon>
            <v-icon>mdi-cart-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <span class="v-list-item-text">Servis</span>
          </v-list-item-content>
        </v-list-item>

        <!-- <v-list-item to="/main/messages">
            <v-list-item-icon>
              <v-icon>mdi-mail</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <span class="v-list-item-text">Zprávy</span>
            </v-list-item-content>
          </v-list-item> -->
        
        <v-list-item v-if="isOrganizer() || isAdmin()" to="/main/rating">
          <v-list-item-icon>
            <v-icon>mdi-badge-account</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <span class="v-list-item-text">Hodnocení</span>
          </v-list-item-content>
        </v-list-item>

        <v-list-item v-if="isAdmin()" to="/main/admin">
          <v-list-item-icon>
            <v-icon>mdi-lock</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <span class="v-list-item-text">Admin</span>
          </v-list-item-content>
        </v-list-item>
        <v-list-item @click="signOut()">
          <v-list-item-icon>
            <v-icon>mdi-logout</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <span class="v-list-item-text">Odhlásit</span>
          </v-list-item-content>
        </v-list-item>
        <!-- <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-schedule</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
            <span class="v-list-item-text">Program</span>
            </v-list-item-content>
          </v-list-item> -->
      </v-list>
    </v-navigation-drawer>

    <v-main v-on:cmak-server-call-start="callStart($event)" v-on:cmak-server-call-end="callEnd($event)">
      <!-- TADY jiný views -->
      <router-view 
      v-on:cmak-server-call-start="callStart($event)" 
      v-on:cmak-server-call-end="callEnd($event)"
      v-on:cmak-server-call-ignore="callEnd($event)"
      />
    </v-main>
    <v-snackbar v-model="snackbar" color="error" timeout="4000">{{error}} 
      <template v-slot:action="{ attrs }" v-bind="attrs">
      <v-btn icon @click="snackbar = false"><v-icon>mdi-close</v-icon></v-btn>
      </template>
    </v-snackbar>
    <v-footer padless class="white--text primary darken-1 justify-md-space-between justify-center flex-column flex-md-row">
        <v-card flat class="white--text primary darken-1 text-center">
          <v-btn href="https://www.instagram.com/americky.kongres/" target="_blank" class="white--text primary darken-1 elevation-0 ma-1" 
            ><v-icon>mdi-instagram</v-icon></v-btn
          >
          <v-btn href="https://www.facebook.com/americkykongres" target="_blank" class="white--text primary darken-1 elevation-0 ma-1"
            ><v-icon>mdi-facebook</v-icon></v-btn
          >
          <v-btn href="https://twitter.com/americkykongres?lang=en" target="_blank" class="white--text primary darken-1 elevation-0 ma-1"
            ><v-icon>mdi-twitter</v-icon></v-btn
          >
          <v-btn href="https://americkykongres.cz/" target="_blank" class="white--text primary darken-1 elevation-0 ma-1"
            ><v-icon>mdi-web</v-icon></v-btn
          >
          <br>
          </v-card>
          <v-card flat class="mr-2 white--text primary darken-1 text-center d-flex flex-column flex-md-row align-center">

            <router-link to="/main/terms" class = "caption mr-md-4" tag="span" exact :style="{ cursor: 'pointer'}">Všeobecné podmínky</router-link>
            <span class="white--text sm-caption">{{ new Date().getFullYear() }} - BONE.d <v-icon class="secondary--text">mdi-bone</v-icon></span>

          </v-card>
    
    </v-footer>
  </v-app>
</template>

<style lang="css" scoped>
.v-app {
  border: 1px solid rgba(#000, 0.12);
  min-height: 800px;
}
.v-drawer {
  width: 300px;
  max-width: calc(100vw - 125px);
}
div.v-app-bar-title__content {
  width: 150px !important;
}
</style>

<script lang="ts">
import {
  Attendee,
  Position,
  Person,
  Authorization,
} from "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-types";
import { getCurrentRatingDay } from "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-2021";
import { theClient, theStore, theConfig } from "../cmak-ui";
import { CmakServerCallEvent, EmittingCmakClient } from "../cmak-client";
import { Vue, Component, Watch } from "vue-property-decorator";
import PersonHeader from "../components/PersonHeader.vue";
import Home from "./views/Home.vue";
import {Auth} from '@aws-amplify/auth'

@Component({ components: { PersonHeader } })
export default class Main extends Vue {
  theClient=new EmittingCmakClient(theClient,this)
  menuVisible: boolean | null = null;
  snackbar = false
  error:string|null=null
  inProgress = 0
  registrationsAllowed: boolean | null = null;
  hideAssignedRoles: boolean | null = null;

  created() {
    theConfig.get().then(c => {this.registrationsAllowed = c.registrationsAllowed; this.hideAssignedRoles = c.hideAssignedRoles})
  }

  person() {
    return theStore.person;
  }

  @Watch("navList")
  onPropertyChanged(value: string, oldValue: string) {
    this.menuVisible = false;
  }

  hideMenu() {
    this.menuVisible = false;
  }

  isAdmin(): boolean {
    return this.person()?.authorizations?.find(a => a == Authorization.ADMIN || a == Authorization.EVALUATOR)?true:false
  }

  canViewService() {
    return this.person()?.authorizations?.includes(Authorization.ATTENDEE) || this.person()?.authorizations?.includes(Authorization.ORGANIZER);
  }

  isOrganizer(): boolean {
    return this.person()?.authorizations?.includes(Authorization.ORGANIZER)?true:false;
  }
  //so far we let in any organizer, but the ones who have no responsibilities should not be let in

  callStart(event:CmakServerCallEvent){
    this.inProgress++
    console.log(event)
  }

  callEnd(event:CmakServerCallEvent){
    this.inProgress--
    if(event.error){
      this.snackbar = true
      this.error=event.message
    };
    
    console.log(event)
  }

  getCurrentRatingDay() {
    return getCurrentRatingDay()
  }

  @Watch('$route', { immediate: true, deep: true })
   onUrlChange(newVal: any) {
      this.inProgress = 0
  }

  mounted() {
    this.theClient.getMe().then((a) => {
      theStore.person = a;
    }); //todo - possibly redundant
  }

  signOut() {
    Auth.signOut()
      .then(data => this.$router.push({path:'/'}))
      .catch(err => console.log(err));
  }
}
</script>
