<template>
  <div>HELOOOOOOOO</div>
</template>
<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
@Component
export default class Messages extends Vue {
  menuVisible = false;
}
</script>
