<template>
  <v-card elevation="0">
    <v-container>
      <v-col :lg="8" offset-lg="2">
        <div class="mb-6"><span class="text-h5 text-md-h4">Proč bych měl být vybrán na ČMAK?</span></div>
        <div>
         <quill-editor :content="content" v-on:contents-changed="updateContent($event)"></quill-editor>
          <v-btn  v-if="registrationsAllowed" @click="saveLetter" class = "mt-3 primary">
          Uložit změny
          </v-btn>
          <v-btn class = "mt-3 ml-3" to="/main/registration">Zpět</v-btn>
          <div>
            <span class="caption">Počet slov: {{ wordCount }}</span>
          </div> 
        </div>
      </v-col>     
    </v-container>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import QuillContent from "@/components/QuillContent.vue";
import QuillEditor from "@/components/QuillEditor.vue";
import { theClient, theStore, countWords, theConfig } from "../cmak-ui"
import {EmittingCmakClient} from "../cmak-client";
import Delta from 'quill-delta'
import { Attendee, RegistrationInfo } from  "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-types";

@Component({ components: { QuillContent, QuillEditor } })
export default class MotivationLetter extends Vue {
  theClient=new EmittingCmakClient(theClient,this)
  content?:Delta = null;
  wordCount: Number = 0
  me:Attendee|null = null;
  registrationsAllowed = true;

  mounted(){    
      this.me = theStore.person!
      this.content= theStore.person!.registrationInfo?.motivationalLetter
      theConfig.get().then(c => this.registrationsAllowed = c.registrationsAllowed)
  }
  updateContent(change: Delta) {
    this.content = change
    console.log(change)
    this.wordCount = countWords(change)
  }

  saveLetter() {
    if (this.me) {
    let updatedRegistration:RegistrationInfo = this.me?.registrationInfo??{}
        
      updatedRegistration.motivationalLetter = {delta:this.content}
      // in progress = true
      this.theClient.updateRegistration(updatedRegistration)
      .then(a=>theStore.person=a)
      .then(()=>{
        this.$router.push({ path: '/main/registration' })
      })
      // .then(()=>....in progress=false)
    } else {
      console.log("sum-ting-wong - there is no ME")
    }
  }

}
</script>
