<template>
  <div>
    <!-- train bar -->
    <div>
      <v-container>
        <v-col cols="12" lg="8" offset-lg="2">
          <v-stepper v-model="stepsComplete" vertical non-linear flat>
            <v-stepper-step
              id="first"
              :complete="positions[0] ? true : false"
              step="1"
              editable
            >
              <!-- :complete="shortText1 ? true : false" -->
              Role 1. preference
              <div class="text-caption">
                {{ toText(positions[0]) }}
              </div>
            </v-stepper-step>

            <v-stepper-content step="1">
              <role-selection
                :initialRole="positions[0]"
                :demand="demand"
                v-on:set-position="onPosition($event, 0)"
              ></role-selection>
            </v-stepper-content>

            <!-- <div v-bind:id="'list-' + id"></div> -->

            <v-stepper-step
              id="second"
              :complete="positions[1] ? true : false"
              step="2"
              editable
            >
              Role 2. preference
              <div class="text-caption">
                {{ toText(positions[1]) }}
              </div>
            </v-stepper-step>
            <v-stepper-content step="2">
              <role-selection
                :initialRole="positions[1]"
                :demand="demand"
                v-on:set-position="onPosition($event, 1)"
              ></role-selection>
            </v-stepper-content>

            <v-stepper-step
              id="third"
              :complete="positions[2] ? true : false"
              step="3"
              editable
            >
              Role 3. preference
              <div class="text-caption">
                {{ toText(positions[2]) }}
              </div>
            </v-stepper-step>

            <v-stepper-content step="3">
              <role-selection
                :initialRole="positions[2]"
                :demand="demand"
                v-on:set-position="onPosition($event, 2)"
              ></role-selection>
            </v-stepper-content>

            <v-stepper-step
              id="fourth"
              step="4"
              :complete="filters.length > 0"
              editable
            >
              Záložní preference
            </v-stepper-step>
            <v-stepper-content step="4">
              <p>
                Pokud se na vás nedostane ani jedna z vašich preferovaných rolí,
                pokusíme se vybrat za vás podle vašich priorit, dejte nám jejich
                seznam od nejdůležitějších.
              </p>
              <div>
                <filter-selector
                  v-on:add-filter="addFilter($event)"
                  :hiddenFilters="filters"
                  :shortcuts="filterGenerators"
                ></filter-selector>
              </div>
              <div>
                <v-list class="elevation-2" subheader>
                  <v-subheader>Kritéria</v-subheader>
                  <v-list-item
                    v-for="(filter, index) in filters"
                    v-bind:key="filter.value"
                  >
                    <v-list-item-content>
                      <v-list-item-title
                        v-text="filterToText(filter)"
                      ></v-list-item-title>
                    </v-list-item-content>

                    <v-list-item-action
                      class="d-none d-sm-block"
                      v-if="index < filters.length - 1"
                    >
                      <v-btn small icon @click="moveDown(index)">
                        <v-icon color="grey lighten-1"
                          >mdi-arrow-down-drop-circle</v-icon
                        >
                      </v-btn>
                    </v-list-item-action>
                    <v-list-item-action v-if="index > 0">
                      <v-btn small icon @click="moveUp(index)">
                        <v-icon color="grey lighten-1"
                          >mdi-arrow-up-drop-circle</v-icon
                        >
                      </v-btn>
                    </v-list-item-action>
                    <v-list-item-action>
                      <v-btn small icon @click="deleteFilter(filter.value)">
                        <v-icon color="grey lighten-1">mdi-delete</v-icon>
                      </v-btn>
                    </v-list-item-action>
                  </v-list-item>
                </v-list>
              </div>
            </v-stepper-content>
          </v-stepper>
          <v-btn v-if="registrationsAllowed" class="mt-5" @click="savePreferences" color="primary"
            >Uložit preference</v-btn
          >
          <v-btn class = "mt-5 ml-3" to="/main/registration">Zpět</v-btn>
        </v-col>
      </v-container>
    </div>
  </div>
</template>

<style lang="css" scoped>
.md-radio {
  display: flex;
}
.md-layout-item {
  font-size: 12px;
}
.md-steppers-content {
  padding-left: 20px !important;
}
.md-stepper-content {
  padding-left: 10px !important;
}

.filter-list {
  max-width: 50em;
}
</style>

<script lang="ts">
import Vue from "vue";
import { Prop, Component, Watch } from "vue-property-decorator";
import RoleSelection from "../components/RoleSelection.vue";
import FilterSelector from "../components/FilterSelector.vue";
import {
  Position,
  PartisanPosition,
  PositionFilter,
  BodyType,
  SenatePosition,
  CongressPosition,
  Party,
  State,
  PartyFilter,
  Committee,
  Fraction,
  ApplicableFilter,
  RegistrationInfo,
  Person,
  Attendee,
} from "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-types";
import {
  shortPositionText,
  filterToText,
  theCmak,
  theClient,
  theStore,
  theConfig  
} from "../cmak-ui";
import {EmittingCmakClient} from "../cmak-client";
@Component({ components: { RoleSelection, FilterSelector } })
export default class Preferences extends Vue {
  theClient=new EmittingCmakClient(theClient,this)
  stepsComplete: number = 1;  
  cmakDefinition = theCmak;
  demand: Map<string, number> = new Map();
  positions = new Array<Position>(3);

  filters: Array<PositionFilter> = [];
  filterGenerators: { label: string; generator: () => PositionFilter[] }[] = [];
  registrationsAllowed = true

  created() {
    this.filters =
      theStore.person!.registrationInfo?.secondaryRoleFilters ?? [];
    this.positions = theStore.person!.registrationInfo?.primaryRoles ?? [];
    this.theClient.getPositionDemand().then((demand) => (this.demand = demand));
    theConfig.get().then(c => this.registrationsAllowed = c.registrationsAllowed)
  }

  @Watch("positions")
  onPositionsChange() {
    console.log("onPositionsChange", this);
    if (this.positions && this.positions.length > 0 && this.positions[0]) {
      console.log("onPositions Changed");
      this.filterGenerators = [
        { label: "Podle 1. preference", generator: this.generateFilters },
      ];
    }
  }

  toText(position: Position) {
    return position ? shortPositionText(position) : "";
  }

  isFilterSelected(value: string): boolean {
    return this.filters.filter((f) => f.value === value).length > 0;
  }

  committees(): Committee[] {
    return [
      ...this.cmakDefinition.congressCommittees,
      ...this.cmakDefinition.senateCommittees,
    ];
  }

  states(): string[] {
    return Object.values(State);
  }

  fractions(): Fraction[] {
    return this.cmakDefinition.fractions;
  }

  addFilter(filter: PositionFilter) {
    console.log("new filter", filter.type, filter.value);
    if (this.isNewFilter(filter.type, filter.value)) {
      this.filters.push({ type: filter.type, value: filter.value });
    }
  }

  private isNewFilter(filterType: string, value: string): boolean {
    return (
      this.filters.filter((f) => f.type === filterType && f.value === value)
        .length === 0
    );
  }

  savePreferences() {
    //get Person -> save info to his registrationInfo
    let registrationInfo: RegistrationInfo =
      theStore.person?.registrationInfo ?? {};
    registrationInfo.primaryRoles = this.positions;
    registrationInfo.secondaryRoleFilters = this.filters;
    this.theClient
      .updateRegistration(registrationInfo)
      .then((a) => {
        theStore.person = a;
      })
      .then(() => {
        this.$router.push({ path: "/main/registration" });
      });
  }

  filterToText(filter: PositionFilter) {
    return filterToText(filter);
  }

  moveUp(index: number) {
    [this.filters[index], this.filters[index - 1]] = [
      this.filters[index - 1],
      this.filters[index],
    ];
    this.filters = [...this.filters];
  }

  moveDown(index: number) {
    [this.filters[index], this.filters[index + 1]] = [
      this.filters[index + 1],
      this.filters[index],
    ];
    this.filters = [...this.filters];
  }

  deleteFilter(value: string) {
    this.filters = this.filters.filter((f) => f.value !== value);
  }

  onPosition(position: Position, index: number) {
    this.positions[index] = position;
    this.positions = [...this.positions];
    this.onPositionsChange();
  }

  generateFilters(): PositionFilter[] {
    return ApplicableFilter.extractMatchingFilters(this.positions[0]);
  }
}
</script>