<template>
  <v-container>
    <div>
      <consent-dialog :person="person()" v-if="!consent"></consent-dialog>
      <attendee-profile :person="person()" v-on="$listeners"></attendee-profile>
    </div>
  </v-container>
</template>
<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import {
  Attendee,
  Position,
  Person,
} from "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-types";
import { theStore } from "../cmak-ui";
import AttendeeProfile from "../components/AttendeeProfile.vue";
import ConsentDialog from "../components/ConsentDialog.vue";

@Component({ components: { AttendeeProfile, ConsentDialog } })
export default class Profile extends Vue {
  consent = false;

  created() {
    this.consent = this.person()?.consent ? true : false;
  }

  person() {
    return theStore.person;
  }
}
</script>
