<template>
  <div class="registration">
    <!-- Tady zobrazit, co ma vyplneno -> preference a motivak a nechat ho to upravovat a pak submitnout -->
    <div v-if="$route.name === 'Registrace'">
      <v-container class="d-flex">
        <v-col cols="12" lg="8" offset-lg="2">
           <v-alert
           v-if="!registrationsAllowed && !isReadyForPosition(store.person)"
           class = 'ma-2'
            border="left"
            colored-border
            type="error"
            elevation="2"
          >
            Registrace pro letošní rok byly <strong>uzavřeny</strong>. Vaše registrace není kompletní a nebude brána v potaz při rozdělování mandátů.
          </v-alert>

          <v-alert
           v-if="!registrationsAllowed && isReadyForPosition(store.person)"
           class = 'ma-2'
            border="left"
            colored-border
            type="success"
            elevation="2"
          >
            Registrace pro letošní rok byly <strong>uzavřeny</strong>. Vaše registrace je kompletní a bude brána v potaz při rozdělování mandátů. 
          </v-alert>
          
          <v-card class="ma-2">
            <v-card-title>
              <div class="me-2 v-title">Základní údaje</div>
              <v-icon
                color="green"
                v-if="
                  store.person.name &&
                  store.person.consent && nameSaved
                "
                >mdi-check-circle-outline</v-icon
              >
            </v-card-title>
            <v-card-text>
              <v-form v-model="basicsValid">
                <v-text-field v-model="name" label="Jméno" required :rules="rules.name">
                </v-text-field>

                <v-btn
                :disabled="!(consent&&basicsValid)"
                elevation="0"
                @click="saveName()"
                color="primary"
                class="lighten-1"
                >Uložit<v-icon>mdi-create</v-icon></v-btn>
               <span v-if="!consent" class="pl-2 caption">Nejprve potvrďte souhlas</span>

                <div v-if="!consent">                  
                  <v-checkbox
                    v-model="consent1"
                    :rules="[
                      (v) =>
                        !!v ||
                        'Musíte potvrdit souhlas, abyste mohli pokačovat!',
                    ]"
                    required
                  >
                    <template v-slot:label>
                      <div>
                      Souhlasím s
                      
                      <router-link
                        @click.stop
                        class="pl-1"
                        to="/main/terms"
                        
                        >podmínkami účasti</router-link
                      >
                    
                      </div>
                    </template>
                  </v-checkbox>
                  <v-checkbox
                    v-model="consent2"
                    :rules="[
                      (v) =>
                        !!v ||
                        'Musíte potvrdit souhlas, abyste mohli pokačovat!',
                    ]"
                    required
                  >
                    <template v-slot:label>
                      Souhlasím se
                      <router-link
                        class="pl-1"
                        to="/main/terms"
                        @click.stop
                        >zpracováním osobních údajů</router-link
                      >
                    </template>
                  </v-checkbox>
                  <v-btn
                    elevation="0"
                    @click="saveConsent()"
                    color="primary"
                    :disabled="!(consent1&&consent2)"
                    >Přijmout<v-icon>mdi-create</v-icon></v-btn
                  >
                </div>
              </v-form>
            </v-card-text>
          </v-card>
          <v-card class="ma-2">
            <v-card-title>
              <div class="me-2 v-title">Motivační dopis</div>
              <v-icon
                color="green"
                v-if="
                  store.person.registrationInfo &&
                  store.person.registrationInfo.motivationalLetter
                "
                >mdi-check-circle-outline</v-icon
              >
            </v-card-title>

            <v-card-text>
              Napište krátký text, ve kterém zdůvodníte, proč bychom měli vybrat
              právě vás jako účastníka ČMAKu, popřípadě uveďte předchozí
              zkušenosti.
            </v-card-text>

            <v-card-actions>
              <v-btn
                :disabled="!consent"
                elevation="0"
                to="/main/registration/motivation-letter"
                color="primary"
                class="lighten-1"
                >{{ registrationsAllowed ? "Upravit" : "Náhled"}}<v-icon>mdi-create</v-icon></v-btn
              > <span v-if="!consent" class="pl-2 caption">Nejprve potvrďte souhlas</span>
            </v-card-actions>
          </v-card>
          <v-card class="ma-2">
            <v-card-title>
              <div class="me-2 v-title">Prefererované role</div>
              <v-icon
                color="green"
                v-if="
                  store.person.registrationInfo &&
                  store.person.registrationInfo.primaryRoles &&
                  store.person.registrationInfo.primaryRoles.length == 3
                "
                >mdi-check-circle-outline</v-icon
              >
            </v-card-title>

            <v-card-text>
              Nastavte si preference ohledně vašich rolí v modelu.
            </v-card-text>

            <v-card-actions>
              <v-btn
                :disabled="!consent"
                elevation="0"
                to="/main/registration/preferences"
                color="primary"
                class="lighten-1"
                >{{ registrationsAllowed ? "Upravit" : "Náhled"}}<v-icon>mdi-create</v-icon></v-btn
              > <span v-if="!consent" class="pl-2 caption">Nejprve potvrďte souhlas</span>
            </v-card-actions>
          </v-card>
        </v-col>
        <!-- <v-btn class= "ml-3 primary" @click="updateRegistration">Odeslat</v-btn> -->
      </v-container>
    </div>
    <router-view v-on="$listeners" />
  </div>
</template>

<style lang="css" scoped>
.v-title {
  font-size: 18px !important;
}
.card {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
v-card-actions {
  margin-top: auto;
}
</style>

<script lang="ts">
import { Component, Emit, Vue, Watch } from "vue-property-decorator";
import AddressEditor from "@/components/AddressEditor.vue";
import HelloWorld from "@/components/HelloWorld.vue";
import AttendeeProfile from "@/components/AttendeeProfile.vue";

import {
  Address,
  Attendee,
  Message,
} from "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-types";
import { theClient, theStore, theConfig, isReadyForPosition} from "../cmak-ui";
import {EmittingCmakClient} from "../cmak-client";

@Component({
  components: {
    AddressEditor,
    HelloWorld,
    AttendeeProfile,
  },
})
export default class Registration extends Vue {
  theClient=new EmittingCmakClient(theClient,this)
  store = theStore;
  name?: string;
  consent: boolean = false;
  consent1: boolean = false;
  consent2: boolean = false;
  attendee: Attendee|null = null;
  basicsValid:boolean = false;
  rules = {
      name: [val => ((val??'').split(' ').length > 1)&&((val || '').split(' ').length <= 3)&&val?.length>5 || 'Neplatné jméno']
  }
  nameSaved: boolean = false
  registrationsAllowed: boolean = true

  created() {
    this.name = theStore.person?.name;
    this.attendee = theStore.person!;
    this.consent = theStore.person?.consent?true:false
    theConfig.get().then(c => this.registrationsAllowed = c.registrationsAllowed)
  }

  saveConsent(){
    this.theClient.grantConsent().then(a=>{
      this.consent = a.consent!
      this.attendee = a
      theStore.person = a
    })
  }

  saveName(){
    this.theClient.updateName(this.name!).then(a=>{      
      this.attendee = a
      theStore.person = a
      this.nameSaved = true
    })
  }
  isReadyForPosition(attendee: Attendee) {
    return isReadyForPosition(attendee)
  }
}
</script>
