<template>
  <div>
    <div v-if="dataLoading">
      <v-progress-linear class="ma-5" indeterminate></v-progress-linear>
    </div>
    <v-container v-if="!dataLoading">
      <v-col cols="12" xl="8" offset-xl="2">
        <div class="mb-5">
          <v-btn class="primary me-3 mb-2" @click="givePositions">
            <v-icon class="mr-1">mdi-head-sync</v-icon> Automaticky přiřadit
            role
          </v-btn>
          <v-btn
            class="accent mb-2 me-3"
            :loading="dataSaving"
            @click="sendToServer"
          >
            <v-icon class="mr-1">mdi-content-save</v-icon> Uložit
            přiřazení</v-btn
          >
          <v-btn
            class="accent mb-2"
            :loading="dataSaving"
            @click="grantAttendees"
          >
            <v-icon class="mr-1">mdi-skull</v-icon> DISTRIBUCE</v-btn
          >
        </div>
        <v-expansion-panels :model="filtersExpanded" class="mb-2">
          <v-expansion-panel>
            <v-expansion-panel-header
              ><span
                >Filtry<v-badge
                  dot
                  offset-y="-7"
                  class="ml-1"
                  v-if="filters.length || nameFilter || backupCandidateFilter"
                ></v-badge></span
            ></v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-row>
                <v-col cols="12" lg="3">
                  <v-form class="mb-3">
                    <span class="caption">Filtrovat podle:</span>
                    <v-checkbox
                      v-model="filterCategories.primary"
                      dense
                      hide-details
                      label="Preferovaných rolí"
                    ></v-checkbox>
                    <v-checkbox
                      v-model="filterCategories.filters"
                      dense
                      hide-details
                      label="Preferovaných filtrů"
                    ></v-checkbox>
                    <v-checkbox
                      v-model="filterCategories.assigned"
                      dense
                      hide-details
                      label="Přiřazených rolí"
                    ></v-checkbox>
                  </v-form>
                </v-col>
                <v-col cols="12" lg="4">
                  <filter-selector
                    :hidden-filters="filters"
                    v-on:add-filter="addFilter($event)"
                  ></filter-selector>
                  <div>
                    <v-subheader>Kritéria</v-subheader>

                    <v-chip
                      class="ml-2"
                      v-for="(filter, index) in filters"
                      v-bind:key="filter.value"
                      close
                      @click:close="removeFilter(index)"
                      >{{ filterToText(filter) }}</v-chip
                    >
                  </div>
                </v-col>
                <v-col cols="12" lg="3" offset-lg="1" class="justify-start">
                  <span class="caption">Hledat podle jména</span>
                  <v-autocomplete
                    v-model="nameFilter"
                    :items="filtered(rankedAttendees)"
                    item-text="attendee.name"
                    clearable
                    class="autocomplete"
                  ></v-autocomplete>

                  <div>
                   <v-checkbox
                      v-model="backupCandidateFilter"
                      dense
                      hide-details
                      label="Náhradníci"
                    ></v-checkbox>
                  </div>
                </v-col>
              </v-row>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
        <v-virtual-scroll
          class="list rounded elevation-3"
          :items="filtered(rankedAttendees)"
          itemHeight="80"
          benched="10"
          max-height="1000"
        >
          <template v-slot:default="{ item, index }">
            <v-list-item :key="item.attendee.uuid">
              <v-list-item-content>
                <v-list-item-title
                  >{{ index + 1 }}.
                  {{ (filters.length > 0 || backupCandidateFilter) ? "(" + item.rank + ")" : "" }}
                  {{ item.attendee.name }}</v-list-item-title
                >
                <v-list-item-subtitle>
                  <evaluation :eval="item.averageEval"></evaluation>
                  <span class="caption">{{ posToText(item.position) }} </span>
                </v-list-item-subtitle>
                <span class="caption" v-if="item.position">
                  Spokojenost: {{ Math.round(item.satisfaction) }}
                </span>
              </v-list-item-content>

              <v-list-item-action>
                <v-checkbox
                  color="accent"
                  v-model="item.blocked"
                  off-icon="mdi-lock-open"
                  on-icon="mdi-lock"
                  :disabled="!item.position"
                >
                </v-checkbox>
              </v-list-item-action>
              <v-list-item-action>
                <v-btn icon color="primary" dark @click.stop="showDetail(item)"
                  ><v-icon>mdi-pencil</v-icon></v-btn
                >
              </v-list-item-action>
            </v-list-item>
          </template>
        </v-virtual-scroll>
        <v-dialog
          v-if="attendeeDetailDialog"
          v-model="attendeeDetailDialog"
          persistent
          fullscreen
        >
          <v-card>
            <v-toolbar dark class="primary">
              <v-btn class="ma-1" icon @click="attendeeDetailDialog = false">
                <v-icon>mdi-close</v-icon>
              </v-btn>

              <v-toolbar-title>{{
                detailAttendee.attendee.name
              }}</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-toolbar-items>
                <v-btn
                  :disabled="!isAvailable(selectedPosition)"
                  class="ma-1"
                  text
                  @click="
                    attendeeDetailDialog = false;
                    savePosition(selectedPosition);
                  "
                >
                  Uložit
                </v-btn>
              </v-toolbar-items>
            </v-toolbar>

            <v-container>
              <v-row>
                <v-col cols="12" lg="6">
                  <v-card class="pa-2">
                    <v-card-title>Role</v-card-title>
                    <v-card-text>
                      <div class="text-subtitle-1 black--text">
                        Aktuální role
                      </div>
                      <div class="mb-3 ms-1">
                        {{
                          detailAttendee.position
                            ? posToText(detailAttendee.position)
                            : "Žádná"
                        }}
                      </div>
                      <div class="text-subtitle-1 black--text">
                        Preferované role
                      </div>
                      <div class="mb-3">
                        <div
                          v-for="(role, i) in detailAttendee.attendee
                            .registrationInfo
                            ? detailAttendee.attendee.registrationInfo
                                .primaryRoles
                            : []"
                          v-bind:key="i"
                          class="ms-1"
                        >
                          Role {{ i + 1 }}: {{ posToText(role) }}
                        </div>
                      </div>
                      <div>
                        <div class="text-subtitle-1 black--text">Filtry:</div>
                        <v-chip
                          class="ma-1"
                          v-bind:key="filter.value"
                          v-for="filter in detailAttendee.attendee
                            .registrationInfo
                            ? detailAttendee.attendee.registrationInfo
                                .secondaryRoleFilters
                            : []"
                          >{{ filterToText(filter) }}</v-chip
                        >
                      </div>
                    </v-card-text>
                  </v-card>
                </v-col>

                <v-col cols="12" lg="6">
                  <v-card class="pa-2">
                    <v-card-title>Manuální výběr role</v-card-title>
                    <v-card-text>
                      <role-selection
                        :initialRole="detailAttendee.position"
                        :demand="demandCache"
                        :usedRoles="usedPositions(rankedAttendees,detailAttendee)"
                        v-on:set-position="selectedPosition = $event"
                      ></role-selection>
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-card>
                    <v-card-title>Motivační dopis</v-card-title>
                    <v-card-text>
                      <div class="text-subtitle-1 black--text">
                        Průměrné hodnocení
                      </div>
                      <evaluation
                        :eval="detailAttendee.averageEval"
                        class="ms-5"
                      ></evaluation>
                      <div class="mt-2 text-subtitle-1 black--text">
                        Hodnotitelé
                      </div>
                      <v-list-item
                        v-for="(rating, index) in detailAttendee.attendee
                          .motivationLetterRatings"
                        :key="index"
                      >
                        <v-list-item-content>
                          <span>{{ rating.author.name }}</span>
                          <evaluation
                            :eval="{
                              creativity: rating.creativity,
                              grammar: rating.grammar,
                              karasIndex: rating.karasIndex,
                              motivation: rating.motivation,
                            }"
                          ></evaluation>
                        </v-list-item-content>
                      </v-list-item>

                      <v-expansion-panels :model="letterExpanded">
                        <v-expansion-panel>
                          <v-expansion-panel-header
                            class="text-subtitle-1 black--text"
                            >Dopis</v-expansion-panel-header
                          >
                          <v-expansion-panel-content>
                            <quill-content
                              v-if="
                                detailAttendee.attendee.registrationInfo &&
                                detailAttendee.attendee.registrationInfo
                                  .motivationalLetter
                              "
                              :content="
                                detailAttendee.attendee.registrationInfo
                                  .motivationalLetter.delta
                              "
                            ></quill-content>
                          </v-expansion-panel-content>
                        </v-expansion-panel>
                      </v-expansion-panels>
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-dialog>
      </v-col>
    </v-container>
  </div>
</template>
<style lang="css" scoped>
.list {
  max-height: 1500px;
  overflow-y: auto;
}
</style>
<script lang="ts">
import { component } from "node_modules/vue/types/umd";
import { Vue, Component, Prop } from "vue-property-decorator";
import {
  Attendee,
  Position,
  Person,
  LetterEvaluation,
  demandEstimate,
  PositionFilter,
  ApplicableFilter,
  Authorization,
} from "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-types";
import {
  theStore,
  theClient,
  averageEval,
  satisfactionEstimate,
  theCmak,
  distributePositions,
  shortPositionText,
  isReadyForPosition,
  filterToText,
} from "../cmak-ui";
import AttendeeProfile from "../components/AttendeeProfile.vue";
import RoleSelection from "../components/RoleSelection.vue";
import Evaluation from "../components/Evaluation.vue";
import FilterSelector from "../components/FilterSelector.vue";
import { CmakClient } from "@/cmak-client";
import { EmittingCmakClient } from "../cmak-client";
import QuillContent from "../components/QuillContent.vue";

class RankedAttendee {
  rank: number = 0;
  position?: Position;
  satisfaction?: number;
  averageEval: LetterEvaluation;
  blocked: boolean = false;
  constructor(public attendee: Attendee) {
    this.averageEval = averageEval(attendee.motivationLetterRatings ?? []);
    if (attendee.position) {
      this.position = attendee.position;
      this.satisfaction = satisfactionEstimate(attendee, attendee.position);
      this.blocked = true;
    }
  }
}
function sortAttendees(attendees: RankedAttendee[]) {
  attendees.sort((a1, a2) => {
    const a1Eval = a1.averageEval;
    const a2Eval = a2.averageEval;
    if (!a1Eval || !a2Eval) {
      return (a1Eval ? 1 : 0) - (a2Eval ? 1 : 0);
    }
    if (!isReadyForPosition(a1.attendee)) {
      if (!isReadyForPosition(a2.attendee)) {
        return 0;
      } else {
        return 1;
      }
    } else if (!isReadyForPosition(a2.attendee)) {
      return -1;
    }
    const compare =
      (a2Eval.creativity +
        a2Eval.grammar +
        a2Eval.motivation +
        a2Eval.karasIndex) *
        100 +
      a2Eval.creativity -
      ((a1Eval.creativity +
        a1Eval.grammar +
        a1Eval.motivation +
        a1Eval.karasIndex) *
        100 +
        a1Eval.creativity);
    return compare;
  });
}

@Component({
  components: { Evaluation, RoleSelection, FilterSelector, QuillContent },
})
export default class RoleAdmin extends Vue {
  theClient = new EmittingCmakClient(theClient, this);
  filterCategories: {
    primary: boolean;
    filters: boolean;
    assigned: boolean;
  } = {
    primary: false,
    filters: false,
    assigned: false,
  };
  filters: PositionFilter[] = [];
  filtersExpanded = false;
  dataLoading: boolean = true;
  dataSaving: boolean = false;
  demandCache!: Map<string, number>;
  rankedAttendees: RankedAttendee[] = [] as RankedAttendee[];
  attendeeDetailDialog = false;
  detailAttendee?: RankedAttendee;
  selectedPosition?: Position | null = null;
  letterExpanded = false;
  nameFilter: string = "";
  backupCandidateFilter: boolean = false;

  created() {
    this.dataLoading = true;
    this.theClient
      .getAllAttendees()
      .then((attendees) => {
        const ra = attendees.map((a) => new RankedAttendee(a));
        sortAttendees(ra);
        ra.forEach((ra, index) => (ra.rank = index + 1));
        this.rankedAttendees = ra;
      })
      .finally(() => (this.dataLoading = false));
    this.theClient
      .getPositionDemand()
      .then((demand) => (this.demandCache = demand));
  }

  usedPositions(rankedAttendees:RankedAttendee[], detailAttendee?:RankedAttendee):Position[]{
      return rankedAttendees.filter(ra=>ra.attendee.id!=detailAttendee?.attendee.id)
      .filter((a) => a.blocked)
      .map((a) => a.position!);
  }

  givePositions() {
    const wantedAttendees = this.rankedAttendees.filter((a) => !a.blocked);

    const availablePositions = [...theCmak.positions]
    this.usedPositions(this.rankedAttendees).forEach(up=>{
      const index = availablePositions.findIndex(p=>up.identifier==p.identifier)
        if(index>=0){
          availablePositions.splice(index,1)
        }
    })
    distributePositions(
      availablePositions,
      wantedAttendees,
      new Map(
        demandEstimate(
          wantedAttendees.map((ra) => ra.attendee),
          theCmak.positions
        )
      )
    );
    wantedAttendees.forEach((ra) => {
      if (ra.position) {
        ra.satisfaction = satisfactionEstimate(ra.attendee, ra.position);
      } else {
        ra.satisfaction = undefined;
      }
    });

    this.rankedAttendees = [...this.rankedAttendees];
  }
  posToText(position: Position): string {
    return position ? shortPositionText(position) : "";
  }
  filterToText(filter: PositionFilter): string {
    return filterToText(filter);
  }
  filtersToText() {
    return this.detailAttendee?.attendee.registrationInfo?.secondaryRoleFilters
      ?.map(filterToText)
      .join(", ");
  }

  removeFilter(index: number) {
    this.filters.splice(index, 1);
  }

  addFilter(filter: PositionFilter) {
    console.log("new filter", filter.type, filter.value);
    if (this.isNewFilter(filter.type, filter.value)) {
      this.filters.push({ type: filter.type, value: filter.value });
    }
  }

  private isNewFilter(filterType: string, value: string): boolean {
    return (
      this.filters.filter((f) => f.type === filterType && f.value === value)
        .length === 0
    );
  }

  showDetail(attendee: RankedAttendee) {
    this.detailAttendee = attendee;
    this.attendeeDetailDialog = true;
  }

  savePosition(position: Position) {
    this.detailAttendee!.position = position;
    this.detailAttendee!.blocked = true;
    this.detailAttendee!.satisfaction = satisfactionEstimate(
      this.detailAttendee!.attendee,
      this.detailAttendee!.position
    );
  }

  isAvailable(position: Position): boolean {
    if (!position) {
      return false;
    }
    let availablePositions = [...theCmak.positions];
    this.rankedAttendees
      .filter((r) => r.blocked)
      .forEach((ra) => {
        let i = availablePositions.findIndex(
          (p) => p.identifier == ra.position?.identifier
        );
        availablePositions.splice(i, 1);
      });

    return availablePositions.find((p) => p.identifier == position.identifier)
      ? true
      : false;
  }
  
  sendToServer() {
    this.dataSaving = true;
    //change email for id after merge
    const map = new Map(
      this.rankedAttendees
        .filter((r) => r.position)
        .map((r) => [r.attendee.id, r.position!])
    );
    this.theClient.assignPositions(map).finally(() => (this.dataSaving = false));
  }

  filtered(rankedAttendees: RankedAttendee[]) {
    const applicableFilters: ApplicableFilter[] = ApplicableFilter.makeApplicable(
      this.filters
    );
    return rankedAttendees.filter((ra) => {
      if (this.filterCategories.primary) {
        if (
          !ra.attendee.registrationInfo?.primaryRoles?.filter(
            (r) => r && applicableFilters.every((f) => f.matches(r))
          ).length
        ) {
          return false;
        }
      }
      if (this.filterCategories.assigned) {
        if (
          !(
            ra.position &&
            applicableFilters.every((f) => f.matches(ra.position!))
          )
        ) {
          return false;
        }
      }
      if (this.filterCategories.filters) {
        if (
          !applicableFilters.every((f) =>
            ra.attendee.registrationInfo?.secondaryRoleFilters?.find(
              (secondaryFilter) =>
                secondaryFilter &&
                secondaryFilter.type == (f as any).type &&
                secondaryFilter.value == f.value
            )
          )
        ) {
          return false;
        }
      }
      if (this.nameFilter?.length > 0) {
        if (!(ra.attendee.name == this.nameFilter)) {
          return false;
        }
      }
      if (this.backupCandidateFilter) {
        if(!ra.attendee.backupRoleCandidate) {
          return false;
        }
      }
      return true;
    });
  }

  grantAttendees() {
    this.theClient.grantAttendeeStatus();
  }
}
</script>
