<template>
  <v-container>
    <consent-dialog :person="person" v-if="!consent"></consent-dialog>
    <v-col cols="12" xl="8" offset-xl="2">
      <v-stepper alt-labels class="elevation-0" v-model="progress">
        <v-stepper-header class="elevation-0 text-subtitle-1">
          <v-stepper-step step="1" :complete="progress > 1">
            Položky
          </v-stepper-step>
          <v-divider></v-divider>

          <v-stepper-step step="2" :complete="progress > 2">
            Osobní údaje
          </v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step step="3"> Souhrn </v-stepper-step>
        </v-stepper-header>

        <v-stepper-content step="1">
          <v-row>
            <v-col cols="2" md="1" class="d-flex justify-center" v-if="!isOrganizer()">
              <v-checkbox
                class="ma-2 ml-3"
                v-model="truth"
                readonly
              ></v-checkbox>
            </v-col>
            <v-col cols="10" md="11" v-if="!isOrganizer()">
              <div class="text-subtitle-1 mb-3">
                <strong>Účastnický poplatek</strong>
              </div>

              <div class="text-body-2 mb-2">
                Tato položka je povinná pro všechny účastníky!
              </div>
            </v-col>
            <v-col cols="2" md="1" class="d-flex justify-center">
              <v-checkbox
                class="ma-2 ml-3"
                v-model="standardNights"
              ></v-checkbox>
            </v-col>
            <v-col cols="10" md="11">
              <div class="text-subtitle-1 mb-3">
                <strong>5 nocí na kolejích UK {{ isOrganizer() ? "":"(750 Kč)" }}</strong>
              </div>

              <div class="text-body-2 mb-2">
                Pět nocí osvěžujícího spánku na kolejích UK pro odpočinek po
                náročném jednání.
              </div>
              <v-alert
                colored-border
                border="left"
                type="info"
                class="text-body-2"
              >
                Pokud chcete jiný počet nocí, napište nám na
                registrace@americkykongres.cz
              </v-alert>
            </v-col>
          </v-row>
          <!-- Only show this stuff if the 5 nights are chosen -->
          <v-row v-if="nights >= 5">
            <v-col cols="2" md="1"> </v-col>
            <v-col cols="10" md="3">
              <v-text-field
                class="id"
                label="Číslo občanského průkazu"
                hint="Tento údaj je vyžadován ubytovatelem"
                :rules="rules.idNum"
                v-model="idNumber"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row v-if="nights >= 5">
            <v-col cols="2" md="1" class="d-flex justify-center">
              <v-checkbox class="ma-2 ml-3" v-model="extraNight"></v-checkbox>
            </v-col>
            <v-col cols="10" md="11">
              <div class="text-subtitle-1 mb-3">
                <strong>Noc na koleji navíc {{ isOrganizer() ? "" : "(150 Kč)" }} (doporučujeme)</strong>
              </div>

              <div class="text-body-2 mb-2">
                Hodí se pro účast na afterparty.
              </div>
            </v-col>
          </v-row>
          <v-row v-if="nights >= 5">
            <v-col cols="2" md="1"></v-col>
            <v-col cols="10" md="6">
              <v-radio-group v-model="dormPreference">
                <v-radio label="Heyrovského" :value="heyrovskeho"></v-radio>
                <v-radio label="Bolevecká" :value="bolevecka"></v-radio>
              </v-radio-group>
              <v-btn
                v-if="dormPreference"
                plain
                text
                @click="dormPreference = null"
                >Zrušit preference</v-btn
              >

              <!-- pokud něco vybere -->

              <v-text-field
                :rules="roomMateRules()"
                v-model="roommateString"
                label="Preference spolubydlícího (na pokoji)"
              ></v-text-field>

              <v-text-field
                label="Preference spolubydlícího (na buňce, tj. vedlejším pokoji)"
                :rules="rules.twoRoommates"
                v-model="cellmateString"
              ></v-text-field>

              <v-alert
                colored-border
                border="left"
                type="info"
                class="text-body-2"
              >
                Preference koleje je čistě informativní, budeme se snažit vašemu
                přání vyhovět, ale z kapacitních a dalších důvodů můžete být
                ubytováni i na jiné než vámi preferované koleji.
              </v-alert>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="2" md="1" class="d-flex justify-center">
              <v-checkbox class="ma-2 ml-3" v-model="lunch"></v-checkbox>
            </v-col>
            <v-col cols="10" md="11">
              <div class="text-subtitle-1 mb-3">
                <strong>Obědy {{ isOrganizer() ? "":"(200 Kč)" }}</strong>
              </div>

              <div class="text-body-2 mb-2">
                5 teplých lahodných obědů od pondělí do pátku. Stravování
                probíhá v restauracích v centru Plzně. Nápoje si hradí účastník
                sám.
              </div>
            </v-col>
          </v-row>
          <!-- pokud si je vybere -->
          <v-row v-if="lunch">
            <v-col cols="2" md="1"></v-col>
            <v-col cols="10" md="5">
              <v-text-field
                label="Dietářské omezení (vegan apod.)"
                hint="Pokud máte nějaké speciální požadavky ohledně stravování
                      (bezlepková dieta, vegetarián, vegan…)"
                v-model="specialFoodNeeds"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="2" md="1" class="d-flex justify-center">
              <v-checkbox class="ma-2 ml-3" v-model="transport"></v-checkbox>
            </v-col>
            <v-col cols="10" md="11">
              <div class="text-subtitle-1 mb-3">
                <strong>Celotýdenní jízdenka na MHD v Plzni {{ isOrganizer() ? "":"(100 Kč)" }}</strong>
              </div>

              <div class="text-body-2 mb-2">
                Jednoduché cestování po celé Plzni. Platí od neděle 5. 9. do
                pátku 10. 9. 2021.
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="2" md="1"> </v-col>
            <v-col cols="10" md="11">
              <v-btn
                :disabled="canProceed(1) == false"
                color="primary"
                @click="progress = 2"
                >Pokračovat</v-btn
              >
            </v-col>
          </v-row>
        </v-stepper-content>

        <v-stepper-content step="2">
          <v-row>
            <v-col cols="12" lg="4">
              <div class="text-subtitle-1 mb-3">
                <strong>Telefonní číslo</strong>
              </div>
              <v-text-field
                class="id"
                label="Tel. číslo"
                required
                :rules="rules.phoneNum"
                v-model="phone"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12" lg="4">
              <div class="text-subtitle-1 mb-3"><strong>Adresa</strong></div>
              <address-editor
                :address="address"
                v-on:address-changed="saveAddress($event)"
              ></address-editor
            ></v-col>
          </v-row>
          <v-row v-if="nights >= 5">
            <v-col cols="12" lg="4">
              <div class="text-subtitle-1 mb-3">
                <strong>Datum narození</strong>
              </div>
              <v-menu
                ref="menu"
                v-model="menu"
                :close-on-content-click="false"
                :return-value.sync="birthday"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="birthday"
                    label="Vyberte datum"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="date" no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menu = false"
                    >Zrušit</v-btn
                  >
                  <v-btn text color="primary" @click="$refs.menu.save(date)"
                    >OK</v-btn
                  >
                </v-date-picker>
              </v-menu>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" lg="1">
              <div class="text-subtitle-1 mb-3"><strong>Pohlaví</strong></div>
              <v-radio-group v-model="sex" class="ml-3">
                <v-radio :value="man" label="Muž"></v-radio>
                <v-radio :value="woman" label="Žena"></v-radio>
              </v-radio-group>
            </v-col>
            <v-col cols="12">
              <v-alert
                colored-border
                border="left"
                type="info"
                class="text-body-2"
              >
                Pohlaví potřebujeme kvůli kolejím. V případě jiné možnosti nám,
                prosím, napište mail na registrace@americkykongres.cz
              </v-alert>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-btn @click="progress = 1" class="mr-3"> Zpět</v-btn>
              <v-btn
                :disabled="!canProceed(2)"
                color="primary"
                @click="
                  progress = 3;
                  feeGenerator(generateServices());
                  checkChange();
                "
                >Pokračovat</v-btn
              >
            </v-col>
          </v-row>
        </v-stepper-content>

        <v-stepper-content step="3">
          <v-row>
            <v-col cols="12">
              <div class="text-h5 mb-5">Seznam položek</div>
              <fee-list :person="person" :fees="fees"></fee-list>
            </v-col>
            <v-col>
              <div></div>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <div class="text-h5 mb-5">
                Osobní údaje a doplňující informace
              </div>
              <div class="mb-4" v-if="idNumber">
                Číslo občanského průkazu:
                <div class="ml-2 mt-2">{{ idNumber }}</div>
              </div>
              <div class="mb-4" v-if="specialFoodNeeds">
                Speciální požadavky (obědy):
                <div class="ml-2 mt-2">{{ specialFoodNeeds }}</div>
              </div>
              <div class="mb-4">
                Telefonní číslo:
                <div class="ml-2 mt-2">{{ phone }}</div>
              </div>
              <div class="mb-4" v-if="address">
                Adresa:
                <div class="ml-2 mt-2">
                  {{ address.line1 }}, {{ address.city }}, {{ address.zip }}
                </div>
              </div>
              <div class="mb-4" v-if="specialFoodNeeds">
                Datum narození:
                <div class="ml-2 mt-2">{{ birthday }}</div>
              </div>
              <div class="mb-4">
                Pohlaví:
                <div class="ml-2 mt-2">{{ sex }}</div>
              </div>
              <div v-if="dormPreference || roommateString" class="mb-4">
                Preference kolejí
              </div>
              <div v-if="dormPreference" class="mb-4 ml-4">
                Kolej:
                <div class="ml-2 mt-2">{{ dormPreference }}</div>
              </div>
              <div v-if="roommateString" class="mb-4 ml-4">
                Spolubydlící na pokoji:
                <div class="ml-2 mt-2">{{ roommateString }}</div>
              </div>
              <div v-if="cellmateString" class="mb-4 ml-4">
                Spolubydlící na buňce:
                <div class="ml-2 mt-2">{{ cellmateString }}</div>
              </div>
              <v-btn
                color="primary"
                v-if="!isOrderEqual() && payment == false"
                @click="
                  updateServices();
                  savePersonalInfo();
                  payment = true;
                "
                >Potvrdit</v-btn
              >
              <v-alert
                v-if="payment"
                type="success"
                border="left"
                colored-border
                >Vaše objednávka byla
                <strong>úspěšně uložena!</strong> Pokračujte k platbě zde, nebo
                později ze svého profilu.</v-alert
              >
              <!-- update finance info as well!!!! -->
            </v-col>
          </v-row>

          <v-row v-if="payment">
            <v-col v-if="computeBalance(person.financeInfo) < 0">
              <div class="text-h5 mb-5">Platba</div>
              <div>
                Zaplaťte prosím celkovou částku převodem na účet. Využijte QR
                kód nebo níže uvedené údaje. Nezapomeňte na
                <strong>jméno a variabilní symbol!</strong> Po odeslání platby
                dejte organizačnímu týmu pár dní na její zpracování.
              </div>
              <div class="pa-5">
                <qr-code-cust
                  :name="person.name"
                  :amount="computeBalance(person.financeInfo)"
                  :varSymbol="person.financeInfo.varSymbol"
                  :specSymbol="1000"
                ></qr-code-cust>
              </div>
            </v-col>
            <v-col v-if="computeBalance(person.financeInfo) == 0">
              <div class="text-h5 mb-5">Platba</div>
              <v-alert
                v-if="payment"
                type="success"
                border="left"
                colored-border
                >Všechny vaše objednávky jsou
                <strong>zaplaceny!</strong></v-alert
              >
            </v-col>
            <v-col v-if="computeBalance(person.financeInfo) > 0">
              <div class="text-h5 mb-5">Platba</div>
              <v-alert v-if="payment" type="error" border="left" colored-border
                >Máte přeplatek
                {{ Math.abs(computeBalance(peron.financeInfo)) }} Kč.</v-alert
              >
            </v-col>
            <v-col>
              <div>
                Pokud si přejete změnit objednávku, nebo ji stornovat, napište
                nám na registrace@americkykongres.cz. Do emailu uveďte své jméno
                a váš variabilní symbol.
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-btn @click="progress = 2" class="mr-3"> Zpět</v-btn>
            </v-col>
          </v-row>
        </v-stepper-content>
      </v-stepper>
    </v-col>
  </v-container>
</template>
<style lang="css" scoped>
</style>
<script lang="ts">
import Vue from "vue";
import { Component, Watch } from "vue-property-decorator";
import {
  Attendee,
  PriceList,
  Services,
  FinanceInfo,
  AccommodationInfo,
  Dorm,
  Address,
  Sex,
  feeGenerator,
  Fee,
  PersonalInfo,
  Authorization
} from "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-types";
import { theStore, theClient, theCmak, computeBalance } from "../cmak-ui";
import AddressEditor from "../components/AddressEditor.vue";
import { CmakDefinition } from "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-2021";
import { EmittingCmakClient } from "../cmak-client";
import FeeList from "../components/FeeList.vue";
import QrCodeCust from "../components/QrCodeCust.vue";
import equal from "fast-deep-equal";
import ConsentDialog from "../components/ConsentDialog.vue";

@Component({
  components: { AddressEditor, FeeList, QrCodeCust, ConsentDialog },
})
export default class ServiceOrder extends Vue {
  person = theStore.person;
  authorizations = theStore.person?.authorizations;
  theClient = new EmittingCmakClient(theClient, this);
  menu = false;
  progress = 1;
  date = new Date().toISOString().substr(0, 10);
  standardNights: boolean = false;
  extraNight: boolean = false;
  idNumber: number | null = null;
  phone: number | null = null;
  nights: number | null = null;
  dormPreference: Dorm | null = null;
  // roommatePreference: string[] | null = null;
  // cellmatePreference: string[] | null = null;
  lunch: boolean | null = null;
  transport: boolean | null = null;
  birthday: Date | null = null;
  heyrovskeho = Dorm.Heyrovskeho;
  bolevecka = Dorm.Bolevecka;
  roommateString: string | null = null;
  cellmateString: string | null = null;
  specialFoodNeeds: string | null = null;
  address: Address | null = null;
  sex: Sex | null = null;
  man = Sex.MALE;
  woman = Sex.FEMALE;
  //services: Services | null = null;
  prices: PriceList = theCmak.priceList;
  orgPrices: PriceList = theCmak.orgPriceList;
  fees: Fee[] | null = null;

  dataSaving: boolean = false;
  payment = false;
  truth = true;
  consent = false;

  rules = {
    phoneNum: [
      (val) =>
        ((val || "").toString().length >= 9 && !isNaN(Number(val))) ||
        "Povinné pole, formát XXXXXXXXX",
    ],
    idNum: [
      (val) =>
        ((val || "").toString().length >= 9 && !isNaN(Number(val))) ||
        "Povinné pole, formát XXXXXXXXX",
    ],
    twoRoommates: [
      (val) =>
        val == null ||
        val == "" ||
        String(val).match(
          /^(?<mate1>[a-zA-Z\u00C0-\u024F\u1E00-\u1EFF]+\s[a-zA-Z\u00C0-\u024F\u1E00-\u1EFF]+)\s*(((,\s*(?<mate2>[a-zA-Z\u00C0-\u024F\u1E00-\u1EFF]+\s+[a-zA-Z\u00C0-\u024F\u1E00-\u1EFF]+)\s*))){0,1}$/
        ) ||
        "Jména a příjmení jednoho nebo dvou lidí oddělená čárkou",
    ],
    oneRoommate: [
      (val) =>
        val == null ||
        val == "" ||
        String(val).match(
          /^(?<mate1>[a-zA-Z\u00C0-\u024F\u1E00-\u1EFF]+\s+[a-zA-Z\u00C0-\u024F\u1E00-\u1EFF]+)\s*$/
        ) ||
        "Jméno a příjmení",
    ],
  };

  created() {
    if (theStore.person?.services) {
      const services = theStore.person.services;
      this.idNumber = services.accommodationInfo?.idNumber ?? null;
      this.phone = theStore.person.personalInfo?.phone ?? null;
      this.nights = services.accommodationInfo?.nights ?? null;
      this.standardNights = this.nights ? true : false;
      this.extraNight = this.nights == 6;
      this.dormPreference = services.accommodationInfo?.dormPreference ?? null;
      this.roommateString =
        services.accommodationInfo?.roommatePreference?.join(", ") || null;
      this.cellmateString =
        services.accommodationInfo?.cellmatePreference?.join(", ") || null;
      this.lunch = services.lunch ?? null;
      this.transport = services.transport ?? null;
      this.birthday = services.accommodationInfo?.birthday ?? null;
      this.specialFoodNeeds = services.specialFoodNeeds ?? null;
      this.address = theStore.person.personalInfo?.address ?? null;
      this.sex = theStore.person.personalInfo?.sex ?? null;
    }
    this.consent = this.person?.consent ? true : false;
  }
  isOrganizer() {
     return this.person?.authorizations?.includes(Authorization.ORGANIZER);
  }

  roomMateRules() {
    if (this.dormPreference == this.heyrovskeho) {
      return this.rules.twoRoommates;
    } else {
      return this.rules.oneRoommate;
    }
  }

  computeBalance(financeInfo: FinanceInfo): number {
    return computeBalance(financeInfo)
  }

  isOrderEqual(): boolean {
    console.log(
      equal(this.generateServices(), theStore.person?.services) &&
        equal(
          {
            phone: this.phone,
            sex: this.sex,
            address: this.address,
          },
          theStore.person?.personalInfo
        )
    );
    console.log(
      JSON.stringify(this.generateServices()) +
        " + " +
        JSON.stringify(theStore.person?.services)
    );
    console.log(
      JSON.stringify({
        phone: this.phone,
        sex: this.sex,
        address: this.address,
      }) +
        " + " +
        JSON.stringify(theStore.person?.personalInfo)
    );

    return (
      equal(this.generateServices(), theStore.person?.services) &&
      equal(
        {
          phone: this.phone,
          sex: this.sex,
          address: this.address,
        },
        theStore.person?.personalInfo
      )
    );
  }

  @Watch("standardNights")
  @Watch("extraNight")
  accomodationChanged() {
    if (this.standardNights) {
      this.nights = 5;
      if (this.extraNight) {
        this.nights = 6;
      }
    } else {
      this.nights = 0;
      this.extraNight = false;
    }
  }

  checkChange() {
    if (!this.isOrderEqual()) {
      this.payment = false;
    } else {
      this.payment = true;
    }
  }

  saveAdress(address: Address) {
    this.address = address;
  }

  generateServices(): Services {
    let services = {
      accommodationInfo: this.nights
        ? {
            idNumber: this.idNumber!,
            nights: this.nights!,
            birthday: this.birthday!,
            dormPreference: this.dormPreference ?? undefined,
            roommatePreference:
              this.roommateString?.split(",").map((n) => n.trim()) ?? undefined,
            cellmatePreference:
              this.cellmateString?.split(",").map((n) => n.trim()) ?? undefined,
          }
        : undefined,
      lunch: this.lunch ?? undefined,
      specialFoodNeeds: this.specialFoodNeeds ?? undefined,
      transport: this.transport ?? undefined,
    };
    return services!;
  }

  savePersonalInfo() {
    if (this.address && this.sex && this.phone) {
      let personalInfo = {
        address: this.address,
        phone: this.phone,
        sex: this.sex,
      };
      this.theClient
        .updatePersonalInfo(personalInfo)
        .then((p) => (theStore.person = p));
    }
  }

  saveAddress(address: Address) {
    this.address = address;
  }

  updateServices() {
    this.dataSaving = true;
    this.theClient.updateServices(this.generateServices()).then((p) => {
      this.dataSaving = false;
      theStore.person = p;
    });
  }

  @Watch("services")
  feeGenerator(services: Services) {
    if (this.person?.authorizations?.includes(Authorization.ORGANIZER)) {
      console.log(feeGenerator(services, this.orgPrices));
      this.fees = feeGenerator(services, this.orgPrices);
    }else {
      console.log(feeGenerator(services, this.prices));
      this.fees = feeGenerator(services, this.prices);
    }
  }

  canProceed(step: number): boolean {
    switch (step) {
      case 1: {
        if (this.nights) {
          return this.idNumber ? true : false;
        } else {
          return true;
        }
      }
      case 2: {
        if (this.phone && this.address && this.sex) {
          if (this.nights) {
            return this.birthday ? true : false;
          } else {
            return true;
          }
        } else {
          return false;
        }
      }
      default: {
        return false;
      }
    }
  }
}
</script>
