<template>
  <div>
    <v-container>
      <v-card class="ma-3">
        <v-card-title>Podmínky účasti</v-card-title>
        <v-card-text>
          <p>
            Tyto Podmínky účasti se společně se Zásadami ochrany osobních údajů,
            které jsou jejich součástí, vztahují na podání přihlášky a k účasti
            na projektu Český model amerického kongresu (dále jen
            „<strong>projekt</strong>“), který je realizován spolkem
          </p>
          <p><strong>Centrum politických studií, z. s.</strong></p>
          <p>IČ: 22844228</p>
          <p>se sídlem Náměstí Jana Palacha 2, Praha 1 – Staré město</p>
          <p>
            zapsán ve spolkovém rejstříku vedeném u Městského soudu
            v&nbsp;Praze, sp. zn. L 61124
          </p>
          <p>
            (dále jen jako „<strong>spolek</strong>“ nebo „<strong>my</strong>“)
          </p>
          <p>&nbsp;</p>
          <ol>
            <li>
              <strong>ÚVODNÍ USTANOVENÍ</strong>
              <ul>
                <li>
                  <strong
                    >Kdo jsme a k&nbsp;čemu slouží webové rozhraní?</strong
                  >
                </li>
              </ul>
            </li>
          </ol>
          <p>
            Jsme zapsaný spolek, jehož cílem je občanské vzdělávání české
            veřejnosti, zejména studentů středních a vysokých škol, se zvláštním
            ohledem na rozšiřování povědomí v otázkách domácí i mezinárodní
            politiky, svobody a fungování demokracie.
          </p>
          <p>
            Webové rozhraní www.americkykongres.cz, případně
            registrace.americkykongres.cz (obě dále jen „<strong
              >webové rozhraní</strong
            >“) slouží výhradně pro účely registrace k&nbsp;účasti na projektu a
            poskytování nezbytných informací o projektu.
          </p>
          <p>
            <strong
              >Veškeré pokyny týkající se realizace projektu, včetně data a
              místa konání jsou uvedeny na webovém rozhraní.</strong
            >
          </p>
          <ul>
            <li>
              <strong>Jak vyjádříte souhlas s&nbsp;podmínkami účasti?</strong>
            </li>
          </ul>
          <p>
            Potvrzením na webovém rozhraní při podání přihlášky na projekt
            stvrzujete, že jste se s těmito podmínkami účasti seznámili a
            souhlasíte s&nbsp;nimi.
          </p>
          <p>&nbsp;</p>
          <ol start="2">
            <li>
              <strong
                >REGISTRACE, PŘIHLÁŠENÍ MANDÁTU A OBJEDNÁVKA DOPROVODNÝCH
                SLUŽEB</strong
              >
              <ul>
                <li>
                  <strong
                    >Jakým způsobem je možné podat přihlášku na projekt?</strong
                  >
                </li>
              </ul>
            </li>
          </ol>
          <p>
            Přihlásit na projekt je možné výhradně prostřednictvím webového
            rozhraní, nestanoví-li spolek něco jiného. Na projekt se přihlásíte
            výběrem jednoho mandátu, který je na&nbsp;webovém rozhraní dostupný,
            případně kombinací mandátů. Podrobný popis mandátů i podání
            přihlášky je uveden na webovém rozhraní.
          </p>
          <p>
            <strong
              >Berte na vědomí, že rozdělení jednotlivých mandátů mezi účastníky
              je zcela v&nbsp;kompetenci spolku. Spolek je proto oprávněn vám
              vámi zvolený mandát nepřidělit. V&nbsp;takovém případě vám bude
              přidělen jiný mandát z&nbsp;nabídky.</strong
            >
          </p>
          <p>
            <strong
              >Při podání přihlášky je nezbytné vyplnit všechny požadované údaje
              a přiložit příslušné dokumenty, jsou-li vyžadovány (zejména pak
              motivační dopis).</strong
            >
          </p>
          <p>
            Neuvedete-li všechny informace, případně budou některé informace
            chybné (ať už záměrně či nikoliv), jsme oprávněni vám účast na
            projektu neumožnit. Zjistíme-li tuto skutečnost v&nbsp;průběhu
            konání projektu, jsme oprávněni vám účast na projektu ukončit.
          </p>
          <p>
            Jste-li účastníkem, který je v&nbsp;době konání projektu nezletilou
            osobou, je nutné, aby souhlas s&nbsp;vaší účastí na projektu udělil
            váš zákonný zástupce. Obdobně se bude postupovat v&nbsp;případě
            objednávky doprovodných služeb. Pokud podáváte přihlášku na projekt,
            máme za to, že byl tento souhlas udělen. Zjistíme-li po podání
            přihlášky, případně v&nbsp;rámci projektu, že souhlas nebyl udělen,
            jsme oprávněni vaši účast na projektu ukončit.
          </p>
          <ul>
            <li><strong>Kdy je vaše přihláška závazná?</strong></li>
          </ul>
          <p>
            Ihned po odeslání přihlášky vám bude automaticky zasláno potvrzení o
            tom, že vaši přihlášku evidujeme.<strong>
              V&nbsp;tomto případě se však ještě nejedná o závazné přijetí vaší
              přihlášky z&nbsp;naší strany, resp. přidělení daného
              mandátu.</strong
            >
          </p>
          <p>
            <strong
              >Přihláška se stává závaznou až okamžikem jejího přijetí ze strany
              spolku.</strong
            >
            Toto přijetí vám bude zasláno na váš email uvedený v&nbsp;přihlášce
            s&nbsp;odstupem několika dnů až týdnů. V&nbsp;rámci potvrzení vaší
            přihlášky vám bude sdělen přidělený mandát a potvrzena objednávka
            doprovodných služeb.
          </p>
          <ul>
            <li>
              <strong
                >Jakým způsobem je možné objednat si doprovodné služby?</strong
              >
            </li>
          </ul>
          <p>
            Doprovodné služby související s&nbsp;projektem, především pak
            ubytování a stravování v&nbsp;lokalitě konání projektu, jízdenku na
            městskou hromadnou dopravu a další služby uvedené na webovém
            rozhraní, je možné objednat v&nbsp;rámci podávání přihlášky, resp.
            volby mandátu. Spolek je oprávněn umožnit objednávku služby i
            později. Rozsah poskytovaných služeb je uveden na webovém rozhraní,
            případně bude zveřejněn bezprostředně před konáním projektu.
          </p>
          <p>
            Spolek si vyhrazuje právo doprovodné služby příslušným způsobem
            změnit. V&nbsp;tomto případě je spolek povinen poskytnout služby
            nejméně v&nbsp;tom rozsahu a kvalitě, ve kterých si je účastník
            objednal.
          </p>
          <ul>
            <li><strong>Je možné účast na projektu zrušit?</strong></li>
          </ul>
          <p>
            V&nbsp;případě, že účast na projektu zrušíte
            <strong>do 31. července </strong>příslušného roku&nbsp;(včetně),
            bude vám <strong>vrácena zaplacená částka</strong> v&nbsp;plné výši.
            Berte však na vědomí, že pokud svou účast na projektu zrušíte po
            datu uvedeném výše, nemáte na vrácení zaplacené částky nárok.
          </p>
          <p>
            Peněžní prostředky vám zašleme nejpozději do 30 pracovních dnů ode
            dne zrušení vaší účasti, a to na bankovní účet, ze kterého jsme tyto
            peněžní prostředky přijali.
          </p>
          <p>&nbsp;</p>
          <ol start="3">
            <li>
              <strong>REGISTRAČNÍ POPLATEK A CENA DOPROVODNÝCH SLUŽEB</strong>
              <ul>
                <li>
                  <strong
                    >Jaká je výše registračního poplatku a cena doprovodných
                    služeb?</strong
                  >
                </li>
              </ul>
            </li>
          </ol>
          <p>
            Výše registračního poplatku i cena doprovodných služeb je uvedena na
            webovém rozhraní v&nbsp;rámci podání přihlášky.
          </p>
          <ul>
            <li>
              <strong
                >Do kdy je nutné uhradit registrační poplatek a cenu
                doprovodných služeb?
              </strong>
            </li>
          </ul>
          <p>
            Registrační poplatek a cena doprovodných služeb je splatná do 7 dnů
            od okamžiku, kdy vám potvrdíme vaši přihlášku dle článku 2.2 těchto
            podmínek účasti. Nebude-li v&nbsp;této době celá platba připsána na
            náš bankovní účet, jsme oprávněni vaši přihlášku zrušit a neumožnit
            vám účast na projektu.
          </p>
          <ul>
            <li>
              <strong>Jakým</strong>
              <strong
                >způsobem je možné registrační poplatek a cenu doprovodných
                služeb hradit?</strong
              >
            </li>
          </ul>
          <p>
            Nedohodneme-li se na jiném postupu, je platbu možné provést pouze
            bankovním převodem. Pokyny vám budou sděleny prostřednictvím
            e-mailu, který uvedete v&nbsp;přihlášce.
          </p>
          <p>&nbsp;</p>
          <ol start="4">
            <li>
              <strong>PODMÍNKY ÚČASTI NA PROJEKTU</strong>
              <ul>
                <li>
                  <strong>Jaké máte při účasti na projektu povinnosti?</strong>
                </li>
              </ul>
            </li>
          </ol>
          <p>
            <strong
              >V&nbsp;rámci projektu jste povinni jednat v&nbsp;souladu
              s&nbsp;pokyny organizátorů, kteří jsou k&nbsp;tomu spolkem
              pověřeni.</strong
            >
          </p>
          <p>
            <strong
              >V&nbsp;rámci projektu máte povinnost jednat a chovat se tak,
              abyste neporušovali tyto podmínky účasti, veřejný pořádek, právní
              předpisy České republiky nebo dobré mravy. To zahrnuje zejména,
              nikoliv však výlučně, zákaz požívání alkoholu a omamných a
              psychotropních látek po celou dobu konání projektu, a to i mimo
              oficiální program (tedy zejména po dobu večerních a nočních
              hodin);</strong
            >
          </p>
          <p>
            Je-li vám poskytována doprovodná služba v&nbsp;podobě ubytování,
            jste povinni dodržovat a jednat v&nbsp;souladu s&nbsp;Ubytovacím
            řádem Kolejí a menz Univerzity Karlovy, jakož i s&nbsp;dalšími
            provozními řády prostor, ve kterých se projekt koná. Tyto provozní
            řády vám budou na žádost zpřístupněny bez zbytečného odkladu.
          </p>
          <p>
            Berte na vědomí, že jakékoliv podklady a dokumentu předané vám
            v&nbsp;rámci projektu nebo v&nbsp;jeho souvislosti jsou chráněny
            zákonem č. 121/2000 Sb., autorský zákon, ve znění pozdějších
            předpisů.
          </p>
          <ul>
            <li>
              <strong>Jsme oprávněni vám účast na projektu ukončit?</strong>
            </li>
          </ul>
          <p>
            Dojde-li k&nbsp;porušení vaší povinnosti dle článku 4.1. těchto
            podmínek účasti, jsme oprávněni vám účast na projektu ukončit, a to
            i v&nbsp;průběhu jeho konání. V&nbsp;tomto případě nemáte právo na
            vrácení registračního poplatku, resp. ceny doprovodných služeb,
            které jste uhradili.
          </p>
          <p>
            Dále vezměte na vědomí, že v&nbsp;případě porušení vaší povinnosti
            dle článku 4.1 těchto podmínek účasti, jsme oprávněni neumožnit vám
            účast na jakýchkoliv dalších projektech, které spolek pořádá.
          </p>
          <ul>
            <li><strong>Jste odpovědni za škodu?</strong></li>
          </ul>
          <p>
            <strong
              >V&nbsp;případě, že v&nbsp;rámci konání projektu způsobíte škodu
              (zejména, nikoliv však výlučně, na zařízení nebo vybavení
              místností, kde se projekt koná, v&nbsp;ubytovacích zařízeních,
              v&nbsp;restauracích, kde probíhá společné stravování, případně na
              jakémkoliv jiném místě, které souvisí s&nbsp;realizací projektu),
              a v&nbsp;důsledku tohoto jednání po nás bude vymáhána škoda nebo
              jakékoliv jiné plnění, jste povinni nám tuto škodu v&nbsp;plné
              výši nahradit.</strong
            >
          </p>
          <ul>
            <li>
              <strong
                >Je za vás spolek odpovědný v&nbsp;rámci konání
                projektu?</strong
              >
            </li>
          </ul>
          <p>
            Berte na vědomí, že spolek není odpovědný za vaši osobu nebo vaše
            jednání v&nbsp;průběhu projektu. Jste-li nezletilým účastníkem,
            odpovědnost za vás má váš zákonný zástupce.
          </p>
          <p><strong>&nbsp;</strong></p>
          <ol start="5">
            <li>
              <strong
                >OCHRANA AUTORSKÝCH PRÁV, ODPOVĚDNOST A UŽÍVÁNÍ WEBOVÉHO
                ROZHRANÍ</strong
              >
              <ul>
                <li>
                  <strong
                    >Je obsah webových stránek chráněn autorským právem?</strong
                  >
                </li>
              </ul>
            </li>
          </ol>
          <p>
            Obsah webových stránek umístěných na webovém rozhraní (texty včetně
            obchodních podmínek, fotografie, obrázky, loga, programové vybavení
            a další) je chráněn naším autorským právem nebo právy dalších osob.
            Obsah nesmíte měnit, kopírovat, rozmnožovat, šířit ani používat
            k&nbsp;jakémukoli účelu bez našeho souhlasu či souhlasu držitele
            autorských práv. Zejména je zakázáno bezplatné či úplatné
            zpřístupňování fotografií a textů umístěných na webovém rozhraní.
          </p>
          <p>
            Názvy a označení výrobků, zboží, služeb, firem a společností mohou
            být registrovanými ochrannými známkami příslušných vlastníků.&nbsp;
          </p>
          <ul>
            <li><strong>Odpovědnost a užívání webového rozhraní</strong></li>
          </ul>
          <p>
            Neneseme odpovědnost za chyby vzniklé v důsledku zásahů třetích osob
            do webového rozhraní nebo v důsledku jeho užití v rozporu
            s&nbsp;jeho určením. Při využívání webového rozhraní nesmíte
            používat postupy, které by mohly narušit funkci systému nebo
            nepřiměřeně zatěžovat systém.
          </p>
          <p>
            Pokud se při užívání webového rozhraní dopustíte jakéhokoliv
            nezákonného či neetického jednání, jsme oprávněni omezit, pozastavit
            nebo ukončit váš přístup na webové rozhraní, a to bez jakékoli
            náhrady. V&nbsp;tomto případě jste dále povinni uhradit nám škodu,
            která vaším jednáním dle tohoto odstavce prokazatelně vznikla, a to
            v&nbsp;plné výši.
          </p>
          <p>
            <strong
              >Upozorňujeme vás na to, že kliknutím na některé odkazy na webovém
              rozhraní může dojít k opuštění webového rozhraní a k přesměrování
              na webové stránky třetích subjektů.</strong
            >
          </p>
          <p><strong>&nbsp;</strong></p>
          <p>&nbsp;</p>
          <p>Tyto podmínky účasti jsou platné a účinné od 2. 5. 2021.</p>
        </v-card-text>
      </v-card>
      <v-card class="ma-3">
        <v-card-title>Zásady ochrany osobních údajů</v-card-title>
        <v-card-text>
            <p>
              Tyto zásady ochrany osobních údajů (dále jen
              „<strong>Zásady</strong>“) popisují způsob získávání, používání a
              dalšího nakládání s osobními údaji získanými v souvislosti s
              účastí na projektu Český model amerického kongresu (dále jen
              „<strong>projekt</strong>“).<br />Zásady jsou součástí
              Podmínek účasti.
            </p>
            <p><u>Správce osobních údajů:</u></p>
            <p>IČ: 22844228</p>
            <p>se sídlem Náměstí Jana Palacha 2, Praha 1 – Staré město</p>
            <p>
              zapsán ve spolkovém rejstříku vedeném u Městského soudu
              v&nbsp;Praze, sp. zn. L 61124
            </p>
            <p>&nbsp;</p>
            <p>
              <strong
                >Ochrana osobních údajů je pro nás velice důležitá. Prosíme o
                důsledné seznámení se s&nbsp;těmito Zásadami, které obsahují
                důležité informace týkající se nakládání s vašimi osobními údaji
                a souvisejících práv a povinností.</strong
              >
            </p>
            <p><strong>&nbsp;</strong></p>
            <ol>
              <li>
                <strong>ÚVODNÍ USTANOVENÍ</strong>
                <ul>
                  <li>
                    <strong
                      >Čím se řídíme při nakládání s&nbsp;osobními
                      údaji?</strong
                    >
                  </li>
                </ul>
              </li>
            </ol>
            <p>
              Při nakládání s&nbsp;osobními údaji postupujeme v&nbsp;souladu
              s&nbsp;právním řádem České republiky a přímo použitelnými předpisy
              Evropské unie, zejména s nařízením Evropského parlamentu a Rady
              (EU) 2016/679 ze dne 27. dubna 2016 o ochraně fyzických osob v
              souvislosti se zpracováním osobních údajů a o volném pohybu těchto
              údajů a o zrušení směrnice 95/46/ES (dále jen
              „<strong>nařízení</strong>“) a zákonem č.&nbsp;480/2004 Sb., o
              některých službách informační společnosti a o změně některých
              zákonů, ve znění pozdějších předpisů.
            </p>
            <ul>
              <li><strong>Co jsou osobní údaje?</strong></li>
            </ul>
            <p>
              Osobními údaji se rozumí veškeré informace, které identifikují
              nebo mohou identifikovat konkrétní fyzickou osobu. Osobními údaji
              jsou zejména (avšak nikoliv výlučně):
            </p>
            <ul>
              <li>
                <strong>identifikační údaje</strong>, jako např. jméno a
                příjmení, rodné číslo, datum narození, pohlaví, přihlašovací
                jméno do uživatelského účtu;
              </li>
              <li>
                <strong>kontaktní údaje</strong>, jako např. adresa bydliště
                (nebo doručovací adresa), telefonní číslo, emailová adresa;
              </li>
              <li>
                <strong>další údaje</strong>, jako např. informace získané
                pomocí souborů cookies, IP adresa (síťový identifikátor) včetně
                typu prohlížeče, zařízení a operačního systému, doby a počtu
                přístupů na webové rozhraní a další obdobné informace.
              </li>
            </ul>
            <ol start="2">
              <li>
                <strong>ZÍSKÁVÁNÍ A VYUŽÍVÁNÍ OSOBNÍCH ÚDAJŮ</strong>
                <ul>
                  <li><strong>Jak získáváme vaše osobní údaje?</strong></li>
                </ul>
              </li>
            </ol>
            <p>
              Své osobní údaje nám poskytujete zejména při vyplnění přihlášky na
              projekt, případně v&nbsp;rámci vzájemné komunikace mezi vámi a
              spolkem nebo spolkem pověřenou osobou.
              <strong
                >Pokud dojde k&nbsp;jakékoliv změně vašich osobních údajů,
                informujte nás o tom prosím.</strong
              >
            </p>
            <p>
              <strong
                >V&nbsp;rámci realizace projektu dále dochází k&nbsp;zachycení
                vaší podoby organizátory projekty, případně osobami, se kterými
                spolupracujeme. Zasláním přihlášky k&nbsp;účasti na projektu
                výslovně souhlasíte s&nbsp;pořízením takového obrazového
                záznamu. Pokud si nepřejete být na fotografiích zachyceni,
                sdělte tuto skutečnost příslušnému členovi organizačního týmu,
                resp. osobě, která záznam provádí.</strong
              >
            </p>
            <ul>
              <li>
                <strong
                  >Na jakém základě a pro jaké účely zpracováváme vaše osobní
                  údaje?</strong
                >
              </li>
            </ul>
            <p>
              Osobní údaje zadané v&nbsp;rámci podání přihlášky na projekt
              můžeme bez vašeho výslovného souhlasu zpracovávat na základě a za
              účelem realizace vaší účasti na projektu. Dále můžeme tyto údaje
              zpracovávat na základě a za účelem
              <strong>splnění našich zákonem stanovených povinností </strong
              >(zejména evidenční povinnosti, archivace daňových dokladů apod.)
              a na základě našeho oprávněného zájmu pro účely
              <strong>ochrany našich právních nároků</strong>. Kontaktní údaje
              můžeme dále uchovávat na základě našeho
              <strong>oprávněného zájmu</strong>, zejména za účelem kontaktování
              v případě nabídky místa v organizačním týmu projektu či
              informování o dalším ročníku.
            </p>
            <p>
              <strong
                >Použít vaše osobní údaje k&nbsp;jinému účelu, než pro který
                byly získány, můžeme jen na základě vašeho souhlasu.
              </strong>
            </p>
            <ul>
              <li><strong>Po jak dlouhou dobu údaje využíváme?</strong></li>
            </ul>
            <p>
              Osobní údaje zadané v rámci podání přihlášky na projekt využíváme
              pouze po dobu před projektem a po dobu realizace projektu, a dále
              podobu nezbytně nutnou ke splnění našich právních povinností,
              resp. pro ochranu našich právních nároků. Osobní údaje
              zpracovávané na základě našeho oprávněného zájmu uchováváme
              <strong>nejdéle po dobu jednoho roku</strong>.
            </p>
            <p>&nbsp;</p>
            <ol start="3">
              <li>
                <strong
                  >VAŠE PRÁVA V&nbsp;SOUVISLOSTI S&nbsp;OSOBNÍMI ÚDAJI</strong
                >
                <ul>
                  <li>
                    <strong
                      >Jaká máte práva v&nbsp;souvislosti s&nbsp;vašimi osobními
                      údaji?</strong
                    >
                  </li>
                </ul>
              </li>
            </ol>
            <p>
              V&nbsp;souvislosti s&nbsp;vašimi osobními údaji vám náležejí tato
              práva:
            </p>
            <ul>
              <li>
                právo na odvolání souhlasu se zpracováním osobních údajů
                (souhlas lze odvolat kdykoliv prostřednictvím našich kontaktních
                údajů;
              </li>
              <li>právo na přístup k osobním údajům;</li>
              <li>právo na opravu vašich osobních údajů;</li>
              <li>právo vznést námitku proti zpracování;</li>
              <li>právo na výmaz („právo být zapomenut“);</li>
              <li>právo na omezení zpracování;</li>
              <li>právo na přenositelnost údajů.</li>
              <li><strong>Jak můžete svá práva uplatnit?</strong></li>
            </ul>
            <p>
              Vaše práva v&nbsp;souvislosti s&nbsp;osobními údaji můžete
              uplatnit prostřednictvím našich kontaktních údajů. Veškeré
              informace a úkony vám budou poskytnuty bez zbytečného odkladu.
            </p>
            <p>
              Při ochraně vašich osobních údajů vám vyjdeme maximálně vstříc.
              Pokud ovšem s&nbsp;vyřízením nebudete spokojeni, máte právo
              obrátit se na příslušné orgány, zejména na Úřad pro ochranu
              osobních údajů (http://www.uoou.cz), který vykonává dozor nad
              ochranou osobních údajů. Tímto ustanovením není dotčeno vaše
              oprávnění obrátit se se svým podnětem na Úřad pro ochranu osobních
              údajů přímo.
            </p>
            <p>
              Pokud se zejména vaše bydliště, místo výkonu zaměstnání nebo místo
              údajného porušení ochrany osobních údajů nachází mimo Českou
              republiku v&nbsp;jiném členském státě Evropské unie, můžete se
              obrátit na příslušný dozorový úřad v&nbsp;tomto členském státě.
            </p>
            <p>&nbsp;</p>
            <ol start="4">
              <li>
                <strong>SPRÁVA A ZPRACOVÁNÍ OSOBNÍCH ÚDAJŮ</strong>
                <ul>
                  <li><strong>Kdo vaše osobní údaje zpracovává?</strong></li>
                </ul>
              </li>
            </ol>
            <p>Jsme správcem osobních údajů ve smyslu nařízení.</p>
            <p>
              V rozsahu, jaký je nutný pro realizaci vaší účasti na projektu,
              jsme oprávněni vaše osobní údaje předávat i dalším osobám. Mezi
              tyto osoby se řadí organizátoři projektu, kteří jsou k této
              činnosti spolkem zmocněni, Univerzita Karlova (poskytovatel
              ubytování), Plzeňské městské dopravní podniky a.s. (poskytovatel
              dopravy), společnost Google LLC (poskytovatel informačních systémů
              a úložišť) a společnost Microsoft Corporation (poskytovatel
              emailových schránek).
            </p>
            <p>
              Kdo konkrétně vaše osobní údaje zpracovává, vám sdělíme také na
              základě vašeho dotazu. Vaše osobní údaje nebudou předávány do
              států mimo Evropskou unii.
            </p>
            <p>Vaše osobní údaje dále zpracovává:</p>
            <ul>
              <li><strong>Jak osobní údaje zpracováváme?</strong></li>
            </ul>
            <p>
              Osobní i další získávané údaje jsou plně zabezpečeny proti
              zneužití. Osobní údaje budou zpracovávány v elektronické podobě
              automatizovaným způsobem nebo v tištěné podobě neautomatizovaným
              způsobem.
            </p>
            <p>&nbsp;</p>
            <p>Tyto Zásady jsou platné a účinné od 2. 5. 2021.</p>
          
        </v-card-text>
      </v-card>
    </v-container>
  </div>
</template>
<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
@Component
export default class Terms extends Vue {}
</script>