<template>
  <v-app style="background-color:#1e88e5">
    <div class="welcome" width="100%" height="100%" style="background-color:#1e88e5">
      <v-row class="mt-10" no-gutters>
        <v-col class="d-flex justify-center" offset="">
          <!-- <svg
            src="/assets/cmaklogo.svg"
            width="300"
            height="300"
            style="fill: #ffffff;stroke-width:1"
            class="ma-8"
          /> -->
          <svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   id="svg8"
   version="1.1"
   viewBox="0 0 150 297"
   height="297px"
   width="210px">
  <defs
     id="defs2" />
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     id="layer1">
    <path
       id="path826"
       d="m 3.7211824,296.61025 c -0.30606,-0.21437 -0.76598,-0.89898 -1.02206,-1.52136 -0.42637,-1.03626 -0.45689,-2.1346 -0.3623,-13.03784 0.0568,-6.54844 0.10329,-13.63266 0.10329,-15.74271 v -3.83646 l -0.97553,-1.45521 c -2.13575002,-3.1859 -1.92142002,-7.02608 0.54987,-9.85215 0.41528,-0.47491 0.84412,-1.28019 0.95296,-1.78951 0.69142,-3.23553 3.20119,-5.53593 8.2562096,-7.5675 l 2.85816,-1.14867 0.0704,-7.47746 c 0.0642,-6.81995 0.0288,-7.53602 -0.40188,-8.14348 -1.99689,-2.81629 -2.6013,-5.48491 -1.79324,-7.91774 0.48788,-1.46887 2.54,-3.92863 4.23618,-5.07768 0.85023,-0.57597 0.92826,-0.73211 0.83709,-1.67496 -0.11565,-1.19601 0.33983,-3.36 0.95063,-4.51647 0.58854,-1.11432 1.62839,-2.00908 3.77376,-3.2472 1.01865,-0.58787 2.10506,-1.3479 2.41426,-1.68896 0.85542,-0.94354 1.40756,-2.99556 1.69868,-6.31303 0.36751,-4.18796 1.77896,-9.32987 3.86073,-14.06468 0.90716,-2.06325 1.26991,-2.77317 3.08594,-6.03926 3.09123,-5.55949 8.37736,-11.83616 13.71492,-16.28488 2.99264,-2.49429 4.29078,-3.37223 7.63693,-5.16491 3.49463,-1.87223 3.9827,-2.4951 3.89709,-4.97333 -0.0486,-1.40806 0.044,-1.8934 0.46854,-2.45508 0.68884,-0.91132 2.18265,-1.80616 4.5746,-2.74031 1.50222,-0.58669 1.89119,-0.84542 1.75887,-1.16998 -0.65333,-1.60251 -0.69456,-1.94029 -0.37582,-3.07873 0.18534,-0.66198 0.80842,-1.72288 1.41966,-2.41724 l 1.08935,-1.23748 0.0945,-7.27168 c 0.0616,-4.73931 -0.006,-7.60566 -0.19282,-8.23068 -0.15803,-0.52745 -0.70959,-1.45232 -1.22569,-2.05527 -1.79504,-2.0971 -2.01828,-3.46478 -0.9184,-5.62668 0.63379,-1.24576 1.40471,-1.91259 3.34148,-2.89032 1.56959,-0.79237 1.63997,-0.87186 1.95415,-2.20697 0.40419,-1.7176 1.05315,-2.99887 2.04162,-4.03083 1.61291,-1.68387 1.72598,-2.02454 1.52302,-4.588879 -0.20583,-2.600629 0.20251,-4.837261 1.17407,-6.430873 0.35803,-0.587248 0.54081,-1.34417 0.54146,-2.242306 8e-4,-1.186974 -0.11653,-1.483501 -0.94277,-2.38125 -1.05629,-1.147718 -1.02425,-0.63813 -0.42487,-6.757674 0.31826,-3.249379 1.15805,-5.927693 2.49508,-7.957469 0.50414,-0.765353 1.00294,-1.86378 1.10843,-2.44095 0.51508,-2.817967 3.09814,-4.067102 5.837184,-2.822782 2.12583,0.965743 3.32352,3.074013 2.93199,5.161096 -0.1239,0.660407 0.0402,1.410413 0.63201,2.888347 0.72019,1.798597 0.79859,2.280184 0.79161,4.862648 -0.005,1.770138 -0.24669,4.263701 -0.63256,6.520141 -0.34365,2.00959 -0.55758,3.910931 -0.47539,4.2252 0.0822,0.31427 0.54543,1.090195 1.02944,1.724277 0.99634,1.305279 1.11861,2.515835 0.595,5.890604 -0.36656,2.36251 -0.11388,3.1345 1.78372,5.44953 1.57378,1.91999 1.94087,2.62862 1.94087,3.74666 0,0.57183 0.23134,0.83356 1.18299,1.33841 3.1352,1.66322 4.37711,3.29459 4.36885,5.73891 -0.004,1.06982 -0.21567,1.65676 -1.17453,3.25094 -0.64356,1.06997 -1.29232,2.51523 -1.44169,3.21168 -0.32802,1.5295 -0.68666,7.31259 -0.68666,11.07235 v 2.73569 l 1.43157,1.25515 c 1.21582,1.06599 1.4565,1.43125 1.597,2.42368 0.091,0.64269 0.0611,1.67974 -0.0664,2.30454 -0.1275,0.6248 -0.17035,1.2962 -0.0952,1.492 0.14262,0.37165 1.62894,0.98879 3.551074,1.47444 1.49574,0.37792 2.8121,1.71909 3.20025,3.26057 0.16698,0.66313 0.3036,2.26939 0.3036,3.56947 v 2.36378 l 2.44739,1.46186 c 6.22658,3.71923 13.53157,9.82291 16.51614,13.80004 0.55297,0.73687 1.0672,1.39928 1.14275,1.47204 0.0755,0.0728 0.61728,0.78714 1.20387,1.5875 4.6895,6.3986 7.65804,14.39739 8.8847,23.93999 0.73989,5.75589 0.46645,8.60376 -0.8261,8.60376 -0.82549,0 -1.05802,-0.84948 -1.0635,-3.88521 -0.0162,-8.95937 -2.81326,-18.18515 -7.81175,-25.76587 -0.9892,-1.50023 -1.94734,-2.91364 -2.1292,-3.14091 -3.77823,-4.72176 -5.49987,-6.44122 -10.53563,-10.52233 -0.83249,-0.67467 -5.54368,-3.68817 -6.04274,-3.86522 -0.72601,-0.25757 -0.54724,0.16394 0.49042,1.15629 0.52438,0.50149 1.69303,1.8643 2.59698,3.02846 3.59919,4.63524 6.26879,9.74967 8.50316,16.29041 2.75884,8.07599 5.13896,22.17384 3.99478,23.66168 -0.32531,0.42301 -0.50294,0.47091 -0.88546,0.23876 -0.72179,-0.43803 -1.12415,-1.97307 -1.40767,-5.3703 -0.66593,-7.97939 -3.54315,-18.67665 -6.87488,-25.56013 -1.99703,-4.12595 -3.81367,-6.80657 -6.58971,-9.72372 -3.23855,-3.40316 -5.57529,-4.92706 -9.528544,-6.21403 -1.65419,-0.53852 -2.16841,-1.11651 -1.60128,-1.79986 0.31041,-0.37402 0.66635,-0.42454 2.06869,-0.29358 l 1.69377,0.15816 -0.1629,-0.98536 c -0.0896,-0.54195 -0.1642,-1.1792 -0.1658,-1.41612 -0.002,-0.28611 -0.55823,-0.63503 -1.65656,-1.03902 -1.97178,-0.72527 -4.00461,-1.83299 -5.08307,-2.76982 -1.8456,-1.60324 -2.18157,-3.09084 -1.06849,-4.73106 0.3638,-0.5361 0.66146,-1.08277 0.66146,-1.21484 0,-0.13207 -0.50982,-0.59088 -1.13293,-1.01959 -1.08263,-0.74488 -1.3146,-0.79019 -5.22552,-1.02067 -7.639114,-0.4502 -11.701524,-0.0374 -12.968554,1.31772 -0.39512,0.42261 -0.50209,0.77639 -0.37815,1.25075 0.88827,3.39981 -0.15446,5.27522 -3.88072,6.97964 -0.78406,0.35865 -1.73742,0.73034 -2.11857,0.82601 -0.55375,0.13898 -0.72557,0.37769 -0.85516,1.18809 -0.0892,0.55779 -0.2347,1.20317 -0.32334,1.43417 -0.1259,0.32808 0.0188,0.42 0.66088,0.42 0.48044,0 1.0513,0.22924 1.3737,0.55164 l 0.55163,0.55164 1.28058,-1.0798 c 1.76349,-1.487 2.44156,-1.71566 3.18235,-1.07318 0.57686,0.50031 0.59403,0.5001 1.2492,-0.0153 0.84426,-0.6641 1.81844,-0.66977 2.17013,-0.0126 0.22238,0.41552 0.10089,0.7216 -0.65641,1.65364 -4.15078,5.10859 -6.33305,17.07712 -6.98662,38.3177 -0.11866,3.8563 -0.29987,7.21061 -0.4027,7.45402 -0.32066,0.75905 -1.02302,0.83472 -1.56807,0.16894 -0.47286,-0.5776 -0.49017,-0.97083 -0.3123,-7.09379 0.10357,-3.56526 0.2287,-6.89901 0.27806,-7.40833 0.0494,-0.50933 0.16327,-2.1762 0.25311,-3.70417 0.53085,-9.02794 2.57168,-19.61738 4.83201,-25.07237 0.37757,-0.9112 0.61066,-1.73256 0.51798,-1.82524 -0.55782,-0.55782 -6.81174,5.33307 -9.39683,8.85135 -5.2139,7.09606 -8.54109,15.99566 -9.5656,25.58613 -0.15542,1.45479 -0.26911,4.78308 -0.25266,7.39619 0.0268,4.26297 -0.0183,4.78635 -0.43899,5.09399 -0.6528,0.47733 -0.82336,0.43652 -1.31566,-0.31483 -0.66988,-1.02236 -0.40508,-11.77542 0.39754,-16.14335 2.00039,-10.88636 6.61182,-20.56599 13.08406,-27.46415 1.53257,-1.63343 0.60316,-1.30723 -2.90638,1.02005 -4.04563,2.68279 -6.61033,4.7538 -9.63294,7.77867 -6.39496,6.39973 -10.00803,12.95517 -11.81874,21.44356 -0.64189,3.00904 -0.70207,3.7845 -0.6674,8.59896 0.021,2.91041 0.072,5.88698 0.11337,6.61458 0.0714,1.25479 0.0412,1.32292 -0.58619,1.32292 -2.6926,0 -2.77379,-12.04974 -0.13638,-20.23911 0.88643,-2.75242 1.84272,-5.30222 2.37362,-6.32887 0.24619,-0.47606 0.363,-0.94381 0.25959,-1.03942 -0.10342,-0.0956 -0.23581,-0.0411 -0.29421,0.12108 -0.0584,0.1622 -0.67273,1.17423 -1.36518,2.24895 -2.53155,3.92914 -4.90151,9.58578 -5.97331,14.25716 -0.21703,0.94588 -0.5772,3.21296 -0.80038,5.03795 -0.46456,3.79871 -0.86535,5.31193 -1.85353,6.99814 -0.95982,1.6378 -1.54563,2.13705 -3.91183,3.33379 -1.12437,0.56867 -2.21797,1.30191 -2.43022,1.62943 -0.25115,0.38752 -0.3886,1.30812 -0.39359,2.63606 -0.0101,2.6701 -0.76627,4.28377 -2.44577,5.21891 -3.29873,1.83673 -3.59544,2.9595 -1.43155,5.41702 1.23668,1.40448 1.3315,2.27143 1.26141,11.53287 -0.0358,4.72942 -0.13448,9.05326 -0.21931,9.60851 -0.24728,1.61853 -1.46633,2.61634 -4.09769,3.354 -2.93703,0.82335 -4.86232,1.74437 -6.0923201,2.91444 -0.8894595,0.84613 -1.0041995,1.09793 -0.9829495,2.15713 0.0227,1.12936 -0.60139,2.60342 -1.10218,2.60342 -0.1134,0 -0.57596,0.34542 -1.02791,0.76761 -1.19381,1.11518 -1.09984,1.98499 0.43504,4.02684 l 1.25677,1.67189 -0.0893,16.80902 c -0.0833,15.68732 -0.12208,16.88412 -0.58091,17.93456 -0.52753,1.20772 -1.26181,1.65258 -2.72775,1.65258 -0.46747,0 -1.10036,-0.1754 -1.40641,-0.38977 z M 82.410426,135.76831 c 3.09232,0.0175 5.6224,-0.0152 5.6224,-0.0727 0,-0.0575 -0.27837,-0.21037 -0.61861,-0.33973 l -0.6186,-0.23519 -0.16682,-7.45959 c -0.13693,-6.12242 -0.0996,-7.6205 0.20822,-8.35722 0.43215,-1.03426 1.26349,-1.20574 1.78638,-0.36846 0.44207,0.70787 0.73234,0.66806 0.73234,-0.10044 0,-0.34628 0.39634,-1.41709 0.88076,-2.37957 l 0.88075,-1.74997 -1.18473,-0.57352 c -0.65161,-0.31544 -1.57692,-0.91786 -2.05626,-1.33873 -0.47934,-0.42086 -1.2645,-0.87791 -1.7448,-1.01566 -1.3044,-0.3741 -5.582114,-0.3005 -8.317104,0.14309 -2.47523,0.40145 -6.71487,1.84067 -6.71487,2.27946 0,0.13499 0.35719,0.87834 0.79375,1.65188 0.43657,0.77355 0.79375,1.60221 0.79375,1.84146 0,0.33556 0.16975,0.40107 0.74243,0.28653 1.42813,-0.28562 1.46825,-0.0363 1.29376,8.041 -0.0871,4.03384 -0.23025,7.57394 -0.31802,7.86689 -0.0878,0.29295 -0.51028,0.7339 -0.93888,0.97988 -0.42861,0.24599 -0.77929,0.63634 -0.77929,0.86746 0,0.36577 0.26568,0.39308 2.05052,0.21075 1.12779,-0.11521 4.5806,-0.19514 7.672924,-0.17763 z m -5.142674,-1.39403 c -0.44104,-0.67398 -0.47294,-1.36337 -0.39557,-8.549 0.0736,-6.83432 0.13808,-7.85743 0.51359,-8.14663 0.53737,-0.41385 0.64467,-0.41237 1.23179,0.0169 0.43389,0.31727 0.48611,1.02878 0.59712,8.13594 0.0967,6.18996 0.0488,7.92353 -0.23311,8.44738 -0.49836,0.92594 -1.1467,0.96201 -1.71382,0.0954 z m 5.360014,0.28495 c -0.498594,-0.49858 -0.478784,-0.0725 -0.423434,-9.10922 0.0406,-6.63294 0.087,-7.31942 0.524194,-7.76676 0.31073,-0.31794 0.66776,-0.43101 1.01398,-0.32112 0.78244,0.24834 0.95081,2.67978 0.7195,10.39067 -0.15313,5.10479 -0.27399,6.5313 -0.5792,6.83651 -0.49156,0.49156 -0.73935,0.48562 -1.25504,-0.0301 z m -1.002974,-26.66712 c 2.987424,0.0273 3.983404,-0.0418 3.814664,-0.26458 -0.12561,-0.16582 -0.60008,-0.77773 -1.0544,-1.35981 -1.61183,-2.06514 -2.01944,-3.38277 -2.169024,-7.011463 l -0.13634,-3.307292 h -1.15976 -1.15976 l 0.0496,2.67021 c 0.0697,3.753515 -0.24952,4.800205 -1.98633,6.512165 -0.92371,0.9105 -1.48209,1.70692 -1.59496,2.2749 -0.17076,0.85925 -0.16085,0.87037 0.5898,0.66146 0.41992,-0.11687 2.58285,-0.19588 4.80651,-0.17559 z m 72.034748,185.71272 c -0.24118,-0.29061 -0.31131,-3.70249 -0.28656,-13.94249 0.0352,-14.56158 0.0663,-14.90921 1.33392,-14.90921 0.55226,0 0.68467,0.16384 0.85538,1.05834 0.11109,0.58208 0.13105,6.89239 0.0444,14.02291 -0.12834,10.55752 -0.22754,13.07512 -0.53431,13.5599 -0.4337,0.68537 -0.95434,0.76296 -1.4128,0.21055 z M 12.146452,292.03849 c -0.19131,-0.0666 -0.47849,-0.436 -0.63818,-0.82092 -0.53472,-1.28886 -0.13712,-27.68613 0.47382,-31.45767 0.11284,-0.69664 0.26163,-0.85989 0.78372,-0.85989 0.82539,0 1.03941,0.75149 1.01723,3.57187 -0.11698,14.88057 -0.34163,28.4886 -0.47736,28.91624 -0.18753,0.59087 -0.62501,0.83631 -1.15923,0.65037 z m 135.388328,-1.82066 c -0.28635,-0.34503 -0.34363,-1.85216 -0.28407,-7.47447 0.041,-3.87327 0.0986,-10.14952 0.12784,-13.94722 0.0561,-7.27675 0.13899,-7.77947 1.2828,-7.77947 0.27856,0 0.60433,0.26585 0.7295,0.59532 0.1244,0.32742 0.15122,6.79817 0.0596,14.37946 -0.13424,11.1077 -0.23709,13.86903 -0.52971,14.22135 -0.46025,0.55415 -0.92883,0.55585 -1.38596,0.005 z m -129.444688,-0.6968 c -0.25604,-0.18722 -0.55543,-0.75393 -0.66531,-1.25936 -0.25816,-1.18745 -0.33874,-26.57219 -0.0915,-28.8325 0.17534,-1.60313 0.23255,-1.71979 0.84343,-1.71979 0.5709,0 0.68109,0.15367 0.8553,1.19283 0.2474,1.47565 0.65568,25.92159 0.47374,28.36545 -0.1519,2.04044 -0.64135,2.81954 -1.41564,2.25337 z m 123.628578,-0.35584 c -0.28625,-0.3449 -0.35571,-3.33276 -0.36313,-15.6194 -0.008,-13.22341 0.0423,-15.22553 0.3877,-15.44447 0.8366,-0.53024 1.35549,-0.047 1.60955,1.49914 0.11605,0.70616 0.2143,7.5347 0.21835,15.17455 0.008,14.49083 -0.0165,14.81666 -1.09707,14.81666 -0.2208,0 -0.56073,-0.19191 -0.7554,-0.42648 z m -8.13131,-2.09131 c -0.18481,-0.40562 -0.25098,-1.41352 -0.16937,-2.57969 0.0737,-1.05269 0.18356,-7.56944 0.24418,-14.48168 0.0606,-6.91224 0.15815,-12.80584 0.21673,-13.09688 0.0677,-0.33659 0.35737,-0.55912 0.79586,-0.61148 0.6078,-0.0726 0.72437,0.0476 0.98513,1.01603 0.38785,1.44034 0.12425,28.29661 -0.29013,29.55952 -0.35728,1.0889 -1.32662,1.1945 -1.7824,0.19418 z m -108.029958,-0.0363 c -0.29626,-0.35691 -0.37327,-3.04884 -0.41819,-14.61823 -0.0303,-7.79941 0.0336,-14.59747 0.14209,-15.10679 0.26446,-1.24216 1.231,-1.44574 1.65729,-0.34908 0.19074,0.4907 0.3374,5.61178 0.42861,14.96596 0.12565,12.88557 0.0979,14.2822 -0.29563,14.88281 -0.50392,0.76908 -1.00138,0.84311 -1.51417,0.22533 z m 98.193198,-0.22516 c -0.18716,-0.2255 -0.3399,-0.73421 -0.33943,-1.13045 0.006,-5.40486 0.40413,-30.50311 0.49018,-30.93147 0.0638,-0.31772 0.37458,-0.65973 0.69058,-0.76002 1.23245,-0.39117 1.27631,5.3e-4 1.27631,11.39989 0,11.02615 -0.23257,20.81864 -0.50445,21.24056 -0.31639,0.49098 -1.26753,0.59799 -1.61319,0.18149 z m -88.139028,-0.57034 c -0.30084,-0.36389 -0.34559,-2.93041 -0.26086,-14.96218 0.0562,-7.98762 0.17954,-14.90395 0.27399,-15.36963 0.13437,-0.66245 0.32305,-0.86441 0.86721,-0.9282 0.52827,-0.0619 0.74682,0.0653 0.90901,0.52917 0.23588,0.67462 0.15613,27.83936 -0.0861,29.31798 -0.29353,1.79202 -0.94385,2.33145 -1.70329,1.41286 z m 11.47214,-0.57561 c -0.51108,-0.3244 -0.81698,-1.7022 -0.72523,-3.26657 0.16595,-2.82947 0.39739,-10.86365 0.53978,-18.73734 0.17395,-9.61895 0.3229,-10.84792 1.31477,-10.84792 1.17803,0 1.21835,1.33002 0.64181,21.16667 -0.24081,8.28539 -0.39529,10.85063 -0.68116,11.31094 -0.39947,0.64319 -0.57256,0.70262 -1.08997,0.37422 z m 65.521618,-0.21695 c -0.55686,-0.67173 -0.53798,-32.28181 0.0195,-32.62618 0.51077,-0.31553 1.24917,0.10218 1.50421,0.85092 0.11158,0.32757 0.16965,7.44168 0.12905,15.80913 -0.0617,12.71369 -0.13656,15.31136 -0.45564,15.80886 -0.45511,0.70958 -0.71135,0.74324 -1.19712,0.15727 z m -25.664594,-0.26464 c -0.50235,-0.60606 -0.52479,-32.09078 -0.0237,-33.24848 0.4554,-1.05211 1.40065,-0.89014 1.70543,0.29223 0.12323,0.47806 0.1898,7.8653 0.14793,16.4161 -0.0703,14.36192 -0.11188,15.60145 -0.54524,16.26258 -0.54406,0.82999 -0.78363,0.88176 -1.28442,0.27757 z m 12.19713,-0.105 c -0.18941,-0.35392 -0.23431,-1.48291 -0.12891,-3.24115 0.089,-1.48392 0.28459,-8.23445 0.43474,-15.00117 0.150151,-6.76672 0.334531,-12.92821 0.409731,-13.69219 0.12957,-1.31646 0.175883,-1.38906 0.885903,-1.38906 0.71306,0 0.75827,0.0729 0.93806,1.51186 0.1039,0.83152 0.11253,4.43316 0.0192,8.00364 -0.0933,3.57049 -0.2421,10.24226 -0.3306,14.82616 -0.16995,8.80259 -0.27793,9.525 -1.423703,9.525 -0.28257,0 -0.644561,-0.24439 -0.804411,-0.54309 z m -39.704374,-0.14832 c -0.31257,-0.37716 -0.36014,-2.81765 -0.29551,-15.15875 0.0424,-8.09006 0.14555,-15.45335 0.22926,-16.36286 0.14681,-1.59486 0.17833,-1.65364 0.88684,-1.65364 0.45024,0 0.80881,0.17924 0.92627,0.46302 0.34363,0.83019 0.13331,31.60131 -0.22106,32.34208 -0.38796,0.811 -1.03114,0.96703 -1.5258,0.37015 z m 13.40079,-0.42579 c -0.34861,-0.49771 -0.41072,-1.68656 -0.40433,-7.73906 0.0124,-11.73387 0.44865,-24.53625 0.84467,-24.78755 0.67268,-0.42687 1.21496,-0.21632 1.49236,0.57944 0.35046,1.00532 0.11911,28.87829 -0.25569,30.80553 -0.34457,1.7718 -0.94793,2.18255 -1.67701,1.14164 z m 80.947498,-26.6963 c -2.31057,-1.80067 -7.95971,-3.77915 -15.34583,-5.37454 -1.74625,-0.37718 -3.65125,-0.80225 -4.23333,-0.94459 -1.65024,-0.40356 -8.32365,-1.50776 -12.7,-2.10139 -19.3501,-2.62473 -49.023438,-3.97865 -65.087508,-2.96977 -11.58702,0.72771 -23.28877,2.42585 -32.16282,4.66744 -2.50227,0.63207 -7.03066,2.04487 -8.05385,2.5127 -7.1502796,3.26926 -6.9708196,3.20919 -7.5395296,2.52394 -0.26448,-0.31869 -0.24436,-0.52363 0.10359,-1.05465 0.61224,-0.9344 1.2548196,-1.3006 4.8522796,-2.76522 12.40542,-5.0506 26.94985,-7.28402 53.78054,-8.25844 15.838074,-0.5752 32.872728,0.40296 53.719668,3.08467 10.87361,1.39876 19.12497,3.07817 25.52304,5.19474 6.72671,2.22529 9.7724,3.97585 9.59928,5.51736 -0.11145,0.99248 -1.15826,0.97873 -2.45553,-0.0322 z M 21.615852,239.70049 c -0.28966,-0.76187 -0.32379,-16.21713 -0.04,-18.10673 0.15643,-1.04156 0.26066,-1.19063 0.83247,-1.19063 1.31866,0 1.38251,0.53069 1.20968,10.05417 -0.0872,4.80219 -0.22851,8.99914 -0.31415,9.32656 -0.22635,0.86551 -1.34832,0.8101 -1.68802,-0.0834 z m 117.536858,-0.43018 c -0.23657,-0.23657 -0.27249,-2.0337 -0.1441,-7.2099 0.094,-3.79212 0.24794,-7.18332 0.34196,-7.53599 0.23376,-0.87677 0.93373,-1.29442 1.53278,-0.91454 0.36242,0.22983 0.46252,0.66065 0.46073,1.98302 -0.004,2.93063 -0.42611,12.77565 -0.57446,13.39721 -0.15707,0.65813 -1.07918,0.81793 -1.61691,0.2802 z M 27.488482,238.02589 c -0.167,-0.10321 -0.40925,-0.7768 -0.53835,-1.49687 -0.25861,-1.44259 -0.37861,-15.95525 -0.14155,-17.12028 0.20218,-0.99359 1.07673,-1.45492 1.65771,-0.87445 0.37825,0.37792 0.44263,1.49501 0.5162,8.95552 0.0842,8.5376 -0.0543,10.2878 -0.83806,10.58855 -0.19377,0.0744 -0.48895,0.0507 -0.65595,-0.0525 z m 104.633878,-0.62328 c -0.31073,-0.49638 -0.33995,-1.91439 -0.17581,-8.53281 0.21011,-8.47244 0.36213,-9.49221 1.39303,-9.34491 0.90086,0.12872 0.99981,1.3172 0.81602,9.80064 -0.15064,6.9528 -0.20717,7.64513 -0.66444,8.13594 -0.64031,0.68729 -0.90894,0.67574 -1.3688,-0.0589 z m -98.191768,-1.5875 c -0.37429,-0.52823 -0.40182,-1.56422 -0.24437,-9.19427 0.0976,-4.72943 0.28484,-8.80732 0.41612,-9.06198 0.28753,-0.5578 1.09572,-0.60505 1.52392,-0.0891 0.48037,0.57881 0.28202,17.90917 -0.21178,18.50356 -0.49811,0.59959 -0.98362,0.54782 -1.48389,-0.15821 z m 91.164228,-0.68961 c -0.30832,-0.57611 -0.19231,-15.90797 0.13203,-17.44846 0.15786,-0.74977 0.28234,-0.8626 0.87572,-0.79375 0.98026,0.11374 1.43708,1.95901 1.21951,4.92612 -0.0887,1.21002 -0.16068,4.36518 -0.15989,7.01146 0.002,5.27487 -0.2374,6.60727 -1.2099,6.74571 -0.36316,0.0517 -0.68133,-0.11197 -0.85747,-0.44108 z m -82.065498,-0.72838 c -0.49944,-0.60127 -0.70357,-17.93365 -0.21809,-18.51861 0.56747,-0.68376 1.48649,-0.44786 1.80404,0.46306 0.43338,1.2432 0.38864,16.81669 -0.0508,17.68526 -0.41112,0.81257 -1.04147,0.96462 -1.53514,0.37029 z m 73.808998,-0.3018 c -0.36995,-0.94256 -0.0423,-17.50796 0.35582,-17.99167 0.4831,-0.58691 1.24175,-0.38056 1.45916,0.39688 0.11192,0.40018 0.20348,4.37075 0.20348,8.82349 0,6.48491 -0.0747,8.23547 -0.37544,8.79739 -0.49122,0.91786 -1.27743,0.90537 -1.64302,-0.0261 z m -64.590818,-0.52917 c -0.35756,-0.81798 -0.44732,-16.38049 -0.10453,-18.12395 0.15996,-0.81356 0.30831,-0.99219 0.82403,-0.99219 0.91499,0 1.19045,1.12759 1.2621,5.16646 0.0945,5.32474 -0.12975,13.14317 -0.40004,13.94968 -0.15337,0.45766 -0.433,0.72761 -0.75368,0.72761 -0.30268,0 -0.63905,-0.29563 -0.82788,-0.72761 z m 55.796008,-0.2016 c -0.6398,-0.63979 -0.73681,-2.17813 -0.64776,-10.27109 0.0794,-7.2184 0.11182,-7.64879 0.60242,-8.00721 1.43601,-1.04914 1.68872,0.29367 1.78299,9.47408 0.0727,7.0748 0.0378,7.83488 -0.38933,8.48748 -0.53686,0.82028 -0.78621,0.87886 -1.34832,0.31674 z M 97.189716,233.0941 c -0.69665,-0.69664 -0.77789,-2.13012 -0.59913,-10.57149 0.1498,-7.07408 0.23198,-8.24797 0.59621,-8.51745 0.60878,-0.4504 1.07275,-0.17369 1.32877,0.79249 0.23183,0.87491 0.38671,16.16219 0.17676,17.44779 -0.15581,0.95409 -0.94912,1.40215 -1.50261,0.84866 z m -34.428954,-0.48964 c -0.38894,-0.5936 -0.4175,-1.53413 -0.27159,-8.94588 0.0969,-4.92331 0.27945,-8.57763 0.45003,-9.01013 0.41729,-1.05798 1.14292,-0.92938 1.6304,0.28894 0.34733,0.86806 0.38416,2.18189 0.2521,8.99475 -0.0978,5.04632 -0.26347,8.19651 -0.4508,8.57226 -0.41733,0.83709 -1.09945,0.87947 -1.61014,0.10006 z m 11.31581,-0.35862 c -0.42319,-0.64636 -0.45571,-1.48053 -0.37356,-9.58264 0.077,-7.59209 0.14982,-8.94157 0.50403,-9.33767 0.6239,-0.69771 1.11176,-0.56118 1.5245,0.42663 0.51217,1.2258 0.40329,17.12269 -0.12474,18.21194 -0.49085,1.01257 -0.99139,1.10472 -1.53023,0.28174 z m 11.691714,0.0851 c -0.48763,-0.3563 -0.51762,-0.819 -0.59326,-9.15392 -0.0693,-7.63168 -0.0253,-8.8617 0.33683,-9.41431 0.51963,-0.79307 1.04667,-0.80896 1.57992,-0.0476 0.3517,0.50211 0.41173,1.80696 0.41089,8.92969 -0.001,7.84912 -0.0319,8.39242 -0.52528,9.20154 -0.60686,0.99532 -0.54442,0.9703 -1.2091,0.48463 z m 57.576824,-12.87693 c -0.58401,-0.26147 -1.32958,-0.72484 -1.65683,-1.02972 -1.90302,-1.77293 -10.76095,-5.39218 -16.59562,-6.78077 -11.36156,-2.70395 -26.407194,-4.15865 -42.880678,-4.14597 -17.59943,0.0136 -33.10185,2.02521 -47.88958,6.21436 -4.05309,1.14819 -4.58375,1.26509 -5.06879,1.11668 -0.66018,-0.202 -0.81997,-0.92336 -0.32556,-1.46968 1.61923,-1.78923 18.20007,-5.50318 29.86831,-6.69023 6.49148,-0.66039 20.6615,-1.3014 28.310424,-1.28067 13.795364,0.0374 31.423234,2.18338 41.912784,5.10241 3.08388,0.85818 8.14685,2.84113 10.607,4.15431 2.53212,1.3516 5.26209,3.13677 5.74628,3.75759 0.94996,1.21802 -0.25747,1.84426 -2.02774,1.05169 z m -40.77446,-21.02848 c -0.23763,-0.28632 -0.40276,-1.93924 -0.53527,-5.35781 -0.38783,-10.00544 -2.281203,-19.72831 -5.445234,-27.9625 -1.15974,-3.01815 -3.77066,-8.44098 -5.22293,-10.84792 -0.61462,-1.01865 -1.19155,-2.04926 -1.28206,-2.29024 -0.20455,-0.54464 0.68391,-1.40509 1.23319,-1.19431 1.51336,0.58073 6.18138,9.89608 8.724724,17.41078 2.26603,6.69534 3.89148,16.30947 4.29745,25.41829 0.15061,3.37928 0.1154,3.97885 -0.26804,4.56406 -0.50477,0.77037 -1.00604,0.85704 -1.50183,0.25965 z m -18.726514,-1.90104 c -0.1312,-0.25466 -0.31901,-2.54662 -0.41735,-5.09323 -0.22292,-5.77292 -0.55296,-12.93874 -1.0602,-23.01875 -0.551604,-10.96171 -0.789004,-16.66338 -0.734444,-17.6387 0.1138,-2.0342 0.972964,-2.79788 1.773364,-1.57631 0.44136,0.6736 0.63267,3.63518 1.18144,18.28897 0.38298,10.2265 1.02336,24.21915 1.21294,26.50338 0.0987,1.18937 0.0476,2.10242 -0.13702,2.4474 -0.36236,0.67707 -1.48705,0.73102 -1.81873,0.0872 z m 42.838254,-8.56288 c -0.27555,-0.4531 -0.64803,-1.60309 -0.82775,-2.55554 -0.30037,-1.5919 -0.28756,-1.76037 0.15858,-2.0866 1.13082,-0.82687 1.7873,-0.0528 2.38456,2.81167 0.30447,1.46021 0.32665,2.00395 0.0932,2.28521 -0.50815,0.61229 -1.27732,0.4189 -1.80861,-0.45474 z m -4.83934,-1.16858 c -0.6328,-0.72778 -1.36724,-2.47538 -1.63086,-3.88061 -0.30293,-1.61472 1.04766,-2.68067 2.02631,-1.59927 0.473,0.52266 1.3976,5.11456 1.15641,5.74311 -0.23209,0.6048 -0.89486,0.49238 -1.55186,-0.26323 z m -81.097368,-0.31495 c -0.21065,-0.54893 0.85331,-5.81406 1.27837,-6.32624 0.38563,-0.46465 1.14428,-0.46481 1.52977,-2.6e-4 0.21663,0.26102 0.22566,0.74055 0.0324,1.71979 -0.14739,0.74682 -0.39055,1.97742 -0.54036,2.73468 -0.1498,0.75726 -0.46591,1.5907 -0.70246,1.85209 -0.54512,0.60235 -1.37029,0.61267 -1.59772,0.02 z m 6.04307,-1.10752 c -0.54013,-0.34209 -0.39794,-2.46018 0.32138,-4.78722 0.50992,-1.64967 0.71656,-1.99944 1.22509,-2.07367 0.33644,-0.0491 0.71265,0.0699 0.83602,0.26459 0.60914,0.961 -0.22401,5.20335 -1.24301,6.32933 -0.51576,0.56991 -0.62189,0.59477 -1.13948,0.26697 z m 65.990178,-0.90209 c -1.31808,-2.01164 -1.22477,-5.47263 0.14754,-5.47263 0.7938,0 1.36381,1.6147 1.40103,3.96875 0.0293,1.85074 -0.008,1.98992 -0.54722,2.06673 -0.38031,0.0541 -0.72347,-0.13875 -1.00135,-0.56285 z m -58.712498,-0.85295 c -0.20383,-0.53117 0.0754,-4.24936 0.39951,-5.31938 0.50405,-1.66417 2.34604,-1.14072 2.34604,0.66668 0,1.17195 -0.67147,3.56919 -1.24485,4.44428 -0.45968,0.70156 -1.26837,0.81387 -1.5007,0.20842 z m 51.193838,-0.71707 c -0.12207,-0.32743 -0.30519,-1.5694 -0.40692,-2.75994 -0.17031,-1.99311 -0.14324,-2.18695 0.34163,-2.44645 0.80719,-0.43199 1.28426,-0.0916 1.73804,1.24021 0.47241,1.38644 0.53304,2.89206 0.15636,3.88281 -0.34053,0.89564 -1.50644,0.94878 -1.82911,0.0834 z m -43.103698,0.0132 c -0.46337,-0.46336 -0.38854,-3.24709 0.13164,-4.89729 0.40265,-1.27736 0.51905,-1.41671 1.12448,-1.34617 0.65997,0.0769 0.67708,0.13143 0.75184,2.3981 0.10732,3.25321 -0.82146,5.03187 -2.00796,3.84536 z m 35.023384,-0.51531 c -0.37584,-0.63624 -0.48957,-1.3497 -0.48188,-3.02273 0.0114,-2.47436 0.11203,-2.75904 0.97549,-2.75904 0.53416,0 0.66927,0.2213 1.04272,1.70802 0.50617,2.01511 0.55789,4.14272 0.11154,4.58906 -0.53981,0.53981 -1.13444,0.35386 -1.64787,-0.51531 z m -8.18825,0.0754 c -0.89677,-0.99092 -0.87769,-5.96641 0.0242,-6.3125 1.07912,-0.4141 1.5961,0.85055 1.67872,4.10652 0.0321,1.26436 -0.0705,1.79135 -0.42472,2.18281 -0.57822,0.63892 -0.71866,0.64146 -1.27821,0.0232 z m -9.186954,-0.34941 c -0.48629,-0.90866 -0.6373,-4.28058 -0.23517,-5.25141 0.27086,-0.6539 0.47146,-0.79761 1.02349,-0.73324 0.57323,0.0669 0.71737,0.25483 0.87293,1.1384 0.23291,1.32297 0.22301,3.75559 -0.0188,4.63021 -0.24789,0.89642 -1.21051,1.02304 -1.64241,0.21604 z m -8.94397,-0.52011 c -0.84782,-2.43208 0.37433,-5.96564 1.76006,-5.08878 0.38945,0.24643 0.45022,0.62459 0.38246,2.3799 -0.10026,2.59732 -0.43329,3.54211 -1.24858,3.54211 -0.439,0 -0.68263,-0.22708 -0.89394,-0.83323 z"
       style="fill:#ffffff;stroke-width:1" />
  </g>
</svg>

        </v-col>
      </v-row>      
      <v-row no-gutters>
        <v-col class="d-flex justify-center">
          <auth-button
            v-on:user-logged-in="$router.push({ path: '/main/home' })"
          ></auth-button>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col class="d-flex justify-center">
          <span class="caption white--text">Český model amerického kongresu</span>
        </v-col>
      </v-row>
    </div>
  </v-app>
</template>
<style lang = "css" scoped>
  .row {
    padding-left: 0px !important;

  }
</style>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import AuthButton from "../components/AuthButton.vue";

@Component({ components: { AuthButton } })
export default class Welcome extends Vue {}
</script>
