<template>
  <div>
    <v-row>
      <v-col cols="12" lg="7">
        <div
          v-if="getRatingType(person.position) === 'Congress'"
          class="text-caption"
        >
          Pro poslance a senátory platí, že z doplňkového hodnocení mohou získat
          nebo ztratit až 20 %. (Tzn. 100 bodů odpovídá + 20 % v celkovém
          hodnocení). Tady je orientační Sáry návod: <br>
          -5 vyšteřován <br>
          -10 před komisí <br>
          -15 usvědčen komisí <br>
          +1 za šek <br>
          +1 za článek <br>
          +2 za reklamu <br>
          
        </div>
        <div
          v-if="getRatingType(person.position) === 'Lobby'"
          class="text-caption"
        >
          Lobbisté mohou ztratit body rozhodnutím etické komise. Platí Sáry návod: <br>
          -5 vyšteřován <br>
          -10 před komisí <br>
          -15 usvědčen komisí <br>
          +1 za šek <br>
          +1 za článek <br>
          +2 za reklamu <br>

          +5 za dodržení hranice 75% <br>
          -2 neodevzdaný výkaz <br>
          +2 za sek od ministra(1 bod odpovídá 1 %)
        </div>
        <div
          v-if="getRatingType(person.position) === 'Government'"
          class="text-caption"
        >
          Také Milanův index - nastavuje pouze prezident - až 33% navíc.
        </div>
        <v-slider
          v-if="
            getRatingType(person.position) === 'Congress' ||
            getRatingType(person.position) === 'Government'
          "
          v-model="adjustment"
          class="align-center"
          max="100"
          min="-100"
          v-on:change="calculateLocalOverall"
          hide-details
        >
          <template v-slot:append>
            <v-text-field
              v-model="adjustment"
              class="mt-0 pt-0"
              single-line
              type="number"
              style="width: 60px"
              max="100"
              min="-100"
            ></v-text-field>
          </template>
        </v-slider>

        <v-slider
          v-if="getRatingType(person.position) === 'Lobby'"
          v-model="adjustment"
          class="align-center"
          max="50"
          min="-50"
          hide-details
          v-on:change="calculateLocalOverall"
        >
          <template v-slot:append>
            <v-text-field
              v-model="adjustment"
              class="mt-0 pt-0"
              single-line
              type="number"
              style="width: 60px"
              max="50"
              min="-50"
            ></v-text-field>
          </template>
        </v-slider>
      </v-col>
      <v-col cols="12" lg="5" class="text-center">
        <div class="text-h3">
          {{ person.gameRating ? Math.round(overall) : 0 }}
        </div>
        <div class="text-caption">Celkové skóre účastníka po úpravě</div>
      </v-col>
    </v-row>
    <v-row>
      <v-btn class="ma-3" @click="setAdjustment(adjustment)" :loading="saveInProgress"
        >Uložit dodatečné hodnocení</v-btn
      >
    </v-row>
  </div>
</template>
<script lang="ts">
import { Component, Prop, Vue, Watch, Emit } from "vue-property-decorator";
import {
  Person,
  GameRating,
  DailyRating,
  PositionFilter,
  ApplicableFilter,
  BodyFilter,
  BodyType,
  Attendee,
  Rating,
  getRatingType,
  Position,
  calculateSingleRatingOverall,
} from "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-types";
import { calculateOverall, theClient } from "../cmak-ui";

@Component
export default class adjustmentRating extends Vue {
  @Prop({ required: true }) person!: Attendee;
  @Prop({ required: false }) saveInProgress!: boolean;
  adjustment: number | null = null;
  overall: number | null = null;

  mounted() {
    this.calculateLocalOverall();
  }

  getRatingType = getRatingType;

  calculateOverall = calculateOverall;

  @Emit()
  setAdjustment(adjustment: number) {}

  @Watch("person")
  calculateLocalOverall() {
    this.overall = calculateOverall(this.person, this.adjustment??undefined);
  }
}
</script>