<template>
  <div>
    <v-container>
      <v-col cols="12" lg="8" offset-lg="2">
        <div class="mb-3">
          <person-header :person="person"></person-header>
        </div>
        <v-card class="pa-2" v-if="isAttendee(person) && person.position">
           <v-card-title>Můj mandát</v-card-title>
           <div class="ml-5">{{ shortPositionText(person.position) }}</div>
        </v-card>

        <v-card class="pa-2 mt-3" v-if="(isAttendee(person) || isOrganizer(person)) && person.financeInfo">
          <!-- <div>
                <v-subheader>Stav registrace: </v-subheader>
                <v-progress-circular
                  :value="score(person)"
                  height="15"
                  :size="100"
                  color="primary"
                  :width="15"
                  class="ml-3 mb-2"
                >
                  <strong>{{ score(person) + "%" }}</strong>
                </v-progress-circular>
              </div>
              <v-alert v-if="!score(person) == 100" border="top" colored-border type="info" elevation="2" class="mt-5 mr-3 ml-3 ml-lg-10 alert">
                <span class="caption">Doplň registraci do 100 % do 10. května!</span>
              </v-alert> -->
          <v-card-title>Můj servis</v-card-title>
          <v-card-subtitle> Objednané položky: </v-card-subtitle>
          <fee-list
            class="ml-5 mr-5"
            v-if="fees"
            :person="person"
            :fees="fees"
          ></fee-list>
          <span v-if="!fees" class="ml-5 mt-2"> Žádné </span>

          <div class="ml-5 mt-2 mb-2" v-if="toPay >= 0" >(Zbývá k zaplacení: {{ toPay }} Kč)</div>
          <v-alert
            v-if="(toPay<0)"
            type="error"
            colored-border
            border="left"
          >Máte přeplatek ve výši {{ Math.abs(toPay)}} Kč. Napište nám na registrace@americkykongres.cz. Do emailu uveďte své jméno a variabilní symbol {{person.financeInfo.varSymbol}}.</v-alert> 
          
          <v-card-subtitle  v-if="(toPay > 0)"> Platba: </v-card-subtitle>
          <div class="ma-5" v-if="(toPay > 0)">
            <qr-code-cust
              :name="name"
              :specSymbol="1000"
              :amount="toPay"
              :varSymbol="person.financeInfo.varSymbol"
            ></qr-code-cust>
          </div>
        </v-card>
        <v-card v-if="person.rejected" class="pa-2 mt-3">
          <v-card-title>Náhradnický mandát</v-card-title>
          <v-card-text>
            <v-checkbox v-model="person.backupRoleCandidate" :label="checkboxMessage(person.backupRoleCandidate)" v-on:change="changeBackupStatus()" @click.stop></v-checkbox> 
          </v-card-text>
        </v-card>
        <v-card class="pa-2 mt-3">
          <v-card-title>Jméno</v-card-title>
          <v-form class="mt-2 ml-3">
            <v-text-field
              v-model="name"
              label="Jméno"
              required
              :rules="rules.name"
              class="mr-3"
            >
            </v-text-field>

            <v-btn elevation="0" @click="saveName()" color="primary" small
              >Uložit<v-icon>mdi-create</v-icon></v-btn
            >
          </v-form>
        </v-card>

        <v-card
          v-if="isOrganizer(person) | isAdmin(person) | isEvaluator(person)"
          class="pa-2 mt-3"
        >
          <v-card-title>Oprávnění</v-card-title>
          <v-list-item
            v-for="(auth, index) in person.authorizations"
            :key="index"
          >
            <v-list-item-content>{{ auth }}</v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>
    </v-container>
  </div>
</template>

<style lang="css" scoped>
.alert {
  max-height: 70px;
}
</style>
<script lang="ts">
import Vue from "vue";
import PersonHeader from "./PersonHeader.vue";
import { Prop, Component, Watch } from "vue-property-decorator";
import {
  Attendee,
  Authorization,
  Fee,
  Services,
  FinanceInfo,
  Position
} from "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-types";
import GetUserApi from "@/components/GetUserApi.vue";
import { theClient, theStore, theConfig, shortPositionText, computeBalance } from "../cmak-ui";
import { EmittingCmakClient } from "@/cmak-client";
import FeeList from "@/components/FeeList.vue";
import QrCodeCust from "@/components/QrCodeCust.vue";

@Component({ components: { PersonHeader, FeeList, QrCodeCust } })
export default class AttendeeProfile extends Vue {
  @Prop({ required: true }) person!: Attendee;
  theClient = new EmittingCmakClient(theClient, this);
  name = this.person.name;
  rules = {
    name: [
      (val) =>
        ((val ?? "").split(" ").length > 1 &&
          (val || "").split(" ").length <= 3 &&
          val?.length > 5) ||
        "Neplatné jméno",
    ],
  };
  nameSaved: boolean = false;
  fees: Fee[] | null = null;
  toPay: number = 0;
  hideAssignedRoles:boolean | null = null

  created() {
    this.fees = this.person.financeInfo?.fees ?? null;
    this.toPay = -computeBalance(this.person.financeInfo)
    theConfig.get().then(c => this.hideAssignedRoles = c.hideAssignedRoles) 
  }

  checkboxMessage(status:boolean):string{
  return status? "Ano, hlásím se o náhradnický mandát." : "Zaškrtněte, pokud se chcete hlásit o náhradnický mandát."    
  }
  
  changeBackupStatus() {    
    this.theClient.updateAttendee({backupRoleCandidate:this.person.backupRoleCandidate},this.person.id)        
  }

  shortPositionText(position: Position) {
    return shortPositionText(position)
  }

  isOrganizer(person: Attendee) {
    return person.authorizations?.includes(Authorization.ORGANIZER);
  }
  isAdmin(person: Attendee) {
    return person.authorizations?.includes(Authorization.ADMIN);
  }
  isEvaluator(person: Attendee) {
    return person.authorizations?.includes(Authorization.EVALUATOR);
  }
  isAttendee(person: Attendee) {
    return person.authorizations?.includes(Authorization.ATTENDEE);
  }

  score(person: Attendee): number {
    let score = 0;
    if (person.registrationInfo) {
      score = score + 5;
    }
    if (person?.registrationInfo?.motivationalLetter) {
      score = score + 40;
    }
    if (person?.registrationInfo?.secondaryRoleFilters) {
      score = score + 10;
    }
    if (person?.registrationInfo?.primaryRoles) {
      score = score + 5;
    }
    if (person?.registrationInfo?.primaryRoles?.length == 3) {
      score = score + 20;
    }
    if (person?.registrationInfo?.primaryRoles?.every((r) => r)) {
      score = score + 20;
    }
    return score;
  }
  saveName() {
    this.theClient.updateName(this.name!).then((a) => {
      this.person = a;
      theStore.person = a;
    });
  }
}
</script>
