<template>
    <v-btn class="mb-2 mt-1" color= "primary" elevation="0" v-on:click="save()">Exportovat {{attendees.length}} účastníků</v-btn>
</template>


<script lang="ts">
import Vue from "vue";
import PersonHeader from "./PersonHeader.vue";
import { Prop, Component } from "vue-property-decorator";
import {
  Attendee,
  Authorization,
  BodyType,
  CongressCommitteeId,
  CongressPosition,
  LobbyistPosition,
  MinisterPosition,
  PartisanPosition,
  SenateCommitteeId,
  SenatePosition
} from "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-types";
import {saveAs} from "file-saver"
import {exportCsv} from "../cmak-csv"
import {shortPositionText, computeBalance} from "../cmak-ui"
@Component({ components: { PersonHeader } })
export default class AttendeeProfile extends Vue {
    @Prop({required:true})
    attendees?:Attendee[]

    save(){
        var blob = new Blob([exportCsv(this.attendees!,[
            ["Jméno",a=>a.name],
            ["Pohlaví",a=>a?.personalInfo?.sex],
            ["Id",a=>a.id],
            ["Email",a=>a.email],
            ["Admin",a=>(a.authorizations?.includes(Authorization.ADMIN))],
            ["Organizátor",a=>(a.authorizations?.includes(Authorization.ORGANIZER))],
            ["Pozice",a=>a.position?shortPositionText(a.position!):""],
            ["Org team",a=>a.organizer?.orgTeam.map(t=>t.name).join("/")],
            ["Org pozice jméno", a=>a?.organizer?.orgPosition?.name],
            ["Org pozice stát", a=>a?.organizer?.orgPosition?.state],
            ["Org výbor", a=>a?.organizer?.orgPosition?.committee],
            ["Org pozice strana", a=>a?.organizer?.orgPosition?.party],
            ["Org frakce", a=>a?.organizer?.orgPosition?.fraction?.name],
            ["Org frakce zkratka", a=>a?.organizer?.orgPosition?.fraction?.id],
            ["Telefon",a=>a.personalInfo?.phone],
            ["Číslo OP",a=>a.services?.accommodationInfo?.idNumber],
            ["Adresa",a=>a.personalInfo?.address?`${a.personalInfo?.address.line1}, ${a.personalInfo?.address.city}, ${a.personalInfo?.address.zip}`:""],
            ["Ubytování - noci",a=>a.services?.accommodationInfo?.nights],
            ["Ubytování - preferovaná kolej",a=>a.services?.accommodationInfo?.dormPreference],
            ["Ubytování - spolubydlící - pokoj",a=>a.services?.accommodationInfo?.roommatePreference?.join(",")],
            ["Ubytování - spolubydlící - buňka",a=>a.services?.accommodationInfo?.cellmatePreference?.join(",")],
            ["Datum narození",a=>a.services?.accommodationInfo? a.services?.accommodationInfo?.birthday?.toString():undefined],
            ["Obědy",a=>a.services?.lunch],
            ["Obědové preference",a=>a.services?.specialFoodNeeds],
            ["MHD",a=>a.services?.transport],
            ["Zaplaceno",a=>a.financeInfo?.paid??0 + (a.financeInfo?.balanceCorrection??0)],
            ["Celkem poplatky",a=>a.financeInfo?.fees.reduce((sum,fee)=>sum+fee.price,0)],
            ["Variabilní symbol",a=>a.financeInfo?.varSymbol],
            ["Náhradník",a=>a.backupRoleCandidate],
            ["Strana", a=>a?.position? (a?.position as PartisanPosition)?.party:undefined],
            ["Frakce", a=>a?.position? (a?.position as (SenatePosition|CongressPosition))?.fraction?.name:undefined],
            ["Stát", a=>a?.position? (a?.position as (SenatePosition|CongressPosition))?.state:undefined],
            ["Výbor", a=>a?.position? (a?.position as (SenatePosition|CongressPosition))?.committee:undefined],
            ["Ministr", a=>a?.position? (a?.position as MinisterPosition)?.department?.name:undefined],
            ["Lobby společnost", a=>a?.position? (a.position as LobbyistPosition)?.organization?.name:undefined],
            ["Novinář", a=>a?.position?.body == BodyType.TCK ? "TCK":undefined]
        ])])
        saveAs(blob, 'export.csv')
    }
}

</script>