
<template>
  <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title class="text-h5"> Udělení souhlasu </v-card-title>
        <v-card-text>
          <v-form>
            <div v-if="!consent">
              <v-checkbox v-model="consent1" required>
                <template v-slot:label>
                  <div>
                    Souhlasím s

                    <router-link @click.stop class="pl-1" to="/main/terms"
                      >podmínkami účasti</router-link
                    >
                  </div>
                </template>
              </v-checkbox>
              <v-checkbox v-model="consent2" required>
                <template v-slot:label>
                  Souhlasím se
                  <router-link class="pl-1" to="/main/terms" @click.stop
                    >zpracováním osobních údajů</router-link
                  >
                </template>
              </v-checkbox>
            </div>
          </v-form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            elevation="0"
            @click="saveConsent()"
            color="primary"
            :disabled="!(consent1 && consent2)"
            >Přijmout<v-icon>mdi-create</v-icon></v-btn
          >
        </v-card-actions>
      </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import { Attendee } from "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-types";
import { theClient, theStore, theConfig, isReadyForPosition } from "../cmak-ui";
import { EmittingCmakClient } from "../cmak-client";

@Component
export default class ConsentDialog extends Vue {
  @Prop({ required: true }) person!: Attendee;
  consent: boolean = false;
  consent1: boolean = false;
  consent2: boolean = false;
  theClient = new EmittingCmakClient(theClient, this);
  dialog = true;

  saveConsent() {
    this.theClient.grantConsent().then((a) => {
      this.consent = a.consent!;
      this.person = a;
      theStore.person = a;
      this.dialog = false;
    });
  }
}
</script>