<template>
  <div>
    <v-row>
       
      <v-col cols="12" lg="7">
       
        <div v-for="category in ratingCategories" :key="category.key">
          <span>{{ category.label }}</span>
          <v-slider
            v-model="myRating[category.key]"
            class="align-center"
            max="100"
            min="0"
            hide-details
            v-on:change="calculateOverall"
          >
         
            <template v-slot:append>
              <v-text-field
                v-model="myRating[category.key]"
                class="mt-0 pt-0"
                single-line
                type="number"
                style="width: 60px"
                max="100"
                min="0"
                v-on:change="calculateOverall"
              ></v-text-field>
            </template>
             </v-slider>
          </div>
        </v-col>
        <v-col sm="12" lg="5" class="text-center">
          <div class="text-h3">{{ Math.round(myRating.overall) }}</div>
          <div class="text-caption">
            Celkové skóre za tento den
          </div>
        </v-col>
    </v-row>
    <v-row>
      <v-btn class="ma-3" @click="saveRating(myRating)" :loading="saveInProgress">Uložit hodnocení</v-btn>
    </v-row>
  </div>
</template>
<script lang="ts">
import { Component, Emit, Prop, Vue, Watch } from "vue-property-decorator";
import {
  Person,
  GameRating,
  DailyRating,
  Rating,
  Attendee,
  getRatingType,
  LobbyRating,
  CongressRating,
  TckRating,
  Position,
  calculateSingleRatingOverall,
  getRatingCategories
} from "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-types";
import { theStore, theClient } from "../cmak-ui";

@Component
export default class dailyRating extends Vue {
  @Prop({ required: true }) person!: Attendee;
  @Prop({ required: true }) ratingDay!: number;
  @Prop({ required: false }) saveInProgress!: boolean;
  
  myRating: Rating = {
    type: getRatingType(this.person.position!),
    overall: 0
  } as Rating;
  ratingCategories: {label: string, key: string}[] | null = null;

  
  mounted() {
     this.ratingCategories = getRatingCategories(this.person.position!)
      this.myRating = this.person.gameRating?.dailyRatings[this.ratingDay].find(
        (r) => r.judge.id == theStore.person!.id
      )?.rating ?? this.createEmptyRating(this.person.position!)  
  }

  calculateOverall() {
    this.myRating.overall = calculateSingleRatingOverall(this.person, this.myRating)
  }

  createEmptyRating(position: Position): Rating {
    const ratingType=getRatingType(position);
    if(!ratingType){
      throw new Error("unknown rating type for position")
    }
    let newRating: Rating = {type: ratingType, overall: 0}
    getRatingCategories(position).forEach(c => newRating[c.key] = 0)
    return newRating;
  }

  @Emit()
  saveRating(rating: Rating) {
    console.log(rating)
  }
}
</script>