<template>
  <!-- <v-chip v-if="eval && (eval.grammar+eval.creativity+eval.motivation+eval.karasIndex>0)"
         small
         
    >
    G={{eval.grammar}} C={{eval.creativity}}  M={{eval.motivation}}  K={{eval.karasIndex}}
     </v-chip> -->
  <span
    class="ma-1"
    v-if="
      eval &&
      eval.grammar + eval.creativity + eval.motivation + eval.karasIndex > 0
    "
  >
    <v-chip class="ml-1" x-small  :color="color(eval.grammar)">G&nbsp;{{ Math.round(eval.grammar) }} </v-chip>
    <v-chip class="ml-1" x-small  :color="color(eval.creativity)">C&nbsp;{{ Math.round(eval.creativity) }}</v-chip>
    <v-chip class="ml-1" x-small  :color="color(eval.motivation)">M&nbsp;{{ Math.round(eval.motivation) }}</v-chip>
    <v-chip class="ml-1" x-small  :color="color(eval.karasIndex)">K&nbsp;{{ Math.round(eval.karasIndex) }}</v-chip>
  </span>
</template>
<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

import { LetterEvaluation } from "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-types";

@Component
export default class Evaluation extends Vue {
  @Prop() eval!: LetterEvaluation | null;

  color(r: number): string {
    if (r > 75) {
      return "green";
    } else if (r > 25) {
      return "orange";
    } else if (r > 0) {
      return "red";
    } else {
      return "";
    }
  }
}
</script>