<template>
  <div>
    <v-card class="card ma-3" v-if="!selected">
      <v-container fluid class="flex-wrap">
        <v-row dense>
          <v-col cols="12" md="5">
            <div>
              <span class="overline ma-2">Ohodnoceno </span>
            </div>
            <div class="ma-3">
              <span class="text-h2"
                >{{ evaluatedCount }}/{{ lettersEvals.length }}</span
              >
            </div>
            <div>
              <span class="overline ma-2">Průměrná hodnocení</span><br />
            </div>
            <v-container class="d-flex justify-start" v-if="averageEvaluation">
              <evaluation :eval="averageEvaluation"></evaluation>
            </v-container>
          </v-col>
          <v-col cols="12" md="7">
            <div v-if="lettersEvals && lettersEvals.length > 0">
              <span class="overline ma-1">Dopisy k hodnocení</span>
              <v-list class="list rounded elevation-3">
                <v-list-item-group class="listGroup">
                  <v-list-item
                    v-for="letter in lettersEvals"
                    v-bind:key="letter.id"
                  >
                    <v-list-item-content>
                      <v-list-item-title>{{ letter.id }}</v-list-item-title>
                      <v-list-item-subtitle
                        ><evaluation :eval="letter.eval"></evaluation>
                      </v-list-item-subtitle>
                    </v-list-item-content>

                    <v-list-item-action>
                      <v-btn text small @click="toLetter(letter.id)">
                        <span class="d-none d-lg-flex">Upravit hodnocení</span>
                        <v-icon color="blue" right> mdi-pencil </v-icon>
                      </v-btn>
                    </v-list-item-action>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </div>
            <v-btn @click="addLetter" class="mt-2"> Přidat dopis </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
    <v-card v-if="selected">
      <div>
        <letter-evaluator
          :id="selected"
          :evaluation="selectedEvaluation"
          v-on:submit-evaluation="
            reset();
            evalsUpdated();
          "
          v-on:close="reset"
          v-on="$listeners"
        ></letter-evaluator>
      </div>
    </v-card>
  </div>
</template>

<style lang="css" scoped>
.listGroup {
  max-height: 200px;
}
.list {
  max-height: 300px !important;
  overflow-y: auto;
}
.card {
  min-height: 200px;
}
.number {
  font-weight: 100;
}
</style>

<script lang="ts">
import { Vue, Component, Watch } from "vue-property-decorator";
import LetterEvaluator from "./LetterEvaluator.vue";
import Evaluation from "./Evaluation.vue";
import QuillContent from "./QuillContent.vue";
import { theStore, theClient, averageEval } from "../cmak-ui";
import {EmittingCmakClient} from "../cmak-client";

import { LetterEvaluation } from "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-types";
import MotivationLetter from "@/views/MotivationLetter.vue";

@Component({ components: { LetterEvaluator, Evaluation } })
export default class EvaluatorDashboard extends Vue {
  //po evaluation period napise - it's over
  //pokud se prihlasi evaluator - prehled dopisu, statistika
  theClient=new EmittingCmakClient(theClient,this)
  lettersEvals: {
    id: string;
    eval: LetterEvaluation;
  }[] = [];

  lettersEvaluated: string[] = [];

  listView: boolean = true;
  selected: string = "";
  selectedEvaluation?: LetterEvaluation | null = null;
  averageEvaluation?: LetterEvaluation | null = null;
  evaluatedCount?: number = 0;

  created() {
    this.theClient
      .getEvaluations(theStore.person!.email)
      .then(this.evaluationsLoaded);
  }

  @Watch("lettersEvals")
  evalsUpdated(
    newEvals: {
      id: string;
      eval: LetterEvaluation;
    }[]
  ) {
    const evaluated = this.lettersEvals
      .map((e) => e.eval)
      .filter(this.isEvaled);
    this.averageEvaluation = averageEval(evaluated);
    this.evaluatedCount = evaluated.length;
  }

  // evalsCount(evaluations: { id: string; eval: LetterEvaluation }[]): number {
  //   const x = evaluations.filter((e) => this.isEvaled(e.eval)).length;

  //   return x;
  // }

  isEvaled(evaluation: LetterEvaluation): boolean {
    return (
      evaluation.grammar != 0 &&
      evaluation.creativity != 0 &&
      evaluation.motivation != 0 &&
      evaluation.karasIndex != 0
    );
  }

  evaluationsLoaded(newEvaluations: Map<string, LetterEvaluation>) {
    this.lettersEvals = newEvaluations instanceof Map?
    Array.from(newEvaluations.entries()).map((entry) => {
      return { id: entry[0], eval: entry[1] }}):
    Array.from(Object.keys(newEvaluations)).map((key) => {
      return { id: key, eval: newEvaluations[key] }});    
  }

  toLetter(id: string) {
    this.selected = id;
    this.selectedEvaluation = this.lettersEvals?.filter(
      (i) => i.id == id
    )[0].eval;
  }

  reset() {
    this.selected = "";
  }
  addLetter() {
    this.theClient
      .getNewEvaluation(theStore.person!.email)
      .then(([uuid, emptyEval]) => {
        if (uuid) {
          this.lettersEvals?.push({ id: uuid, eval: emptyEval });
        }
      })
  }
  addEvaluated(id: string) {
    this.lettersEvaluated?.push(id);
  }
}
</script>
