<template>
  <div>
    <v-btn @click="login">
      <img src="../assets/btn_google.svg"/> Přihlaš se přes Google
    </v-btn>
  </div>
</template>

<script lang="ts">

import { User, Authorization } from '@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-types'
import { Component, Emit, Vue } from 'vue-property-decorator'
import {theClient, theStore} from '../cmak-ui'
import {FakeCmakClient} from '../cmak-fake-client'

@Component
export default class FakeAuthButton extends Vue {
  login () {
    const fake = theClient as FakeCmakClient;    
    theStore.person=fake.currentUser=fake.admins[0]
    fake.currentUser.authorizations!.push(Authorization.EVALUATOR)
    this.userLoggedIn(
      fake.currentUser
    )
  }

  @Emit()
  userLoggedIn (user: User) { }
}
</script>
