<template>
  <div>
    <v-row v-for="fee in fees" :key="fee.name">
      <v-col cols="8">{{ fee.name }}</v-col>
      <v-col class="d-flex justify-end">{{ fee.price }} Kč</v-col>
    </v-row>
    <v-row class="mt-3">
      <v-col><strong>Celkem</strong></v-col>
      <v-col class="d-flex justify-end"
        ><strong>{{ computeTotal(fees) }} Kč</strong></v-col
      >
    </v-row>
  </div>
</template>
<script lang="ts">
import { Component, Prop, Emit, Vue } from "vue-property-decorator";
import {
  Fee,
  FinanceInfo,
  Person,
} from "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-types";

@Component
export default class FeeList extends Vue {
  @Prop({ required: true }) person!: Person;
  @Prop({ required: true }) fees?: Fee[];
 // @Prop({ required: false }) payment?: boolean;

  total: number | null = null;

  computeTotal(fees:Fee[]){
    return fees?.reduce((total, fee) => (total = total + fee.price), 0)??0
  }
}
</script>