<template>
    <div>
        <md-button v-on:click="callApi">{{label}}</md-button>
    </div>
</template>
<script lang="ts">
import { Vue,Component,Prop } from "vue-property-decorator";
import API from "@aws-amplify/api-rest";

@Component
class GetUserApi extends Vue{
    @Prop() apiName!: string;
    @Prop() apiPath!: string;
    @Prop() label="API test";
    @Prop() json=false;
    inProgress=false;

        callApi(){
            this.inProgress=true;
            alert("It happened")
            API.get(this.apiName, this.apiPath, null).then((response)=>{
                console.log(this.json ? JSON.parse(response) : response);
                console.log("A thing happened")
                alert("A thing happened")
            }).finally(()=>{
                this.inProgress = false;
            }).catch((e)=>{
                console.log(e)
            })
        }}
    
    
export default GetUserApi;
</script>