<template>
  <div>
    <v-container>
      <v-row>
        <v-col cols="12" md="8" class="pa-2">
           <div v-if="loading">
            <v-progress-linear class="ma-5" indeterminate></v-progress-linear>
          </div>
          <div class="ma-4"><quill-content
            v-if="motivationalLetter"
            :content="motivationalLetter.delta"
          ></quill-content>
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="8">
          <span class="caption">Gramatika</span>
          <v-slider
            v-model="evaluation.grammar"
            class="align-center"
            max="100"
            min="0"
            hide-details
          >
            <template v-slot:append>
              <v-text-field
                v-model="evaluation.grammar"
                class="mt-0 pt-0"
                single-line
                type="number"
                style="width: 60px"
                max="100"
                min="0"
              ></v-text-field>
            </template>
          </v-slider>
          <span class="caption">Kreativita</span>
          <v-slider
            v-model="evaluation.creativity"
            class="align-center"
            max="100"
            min="0"
            hide-details
          >
            <template v-slot:append>
              <v-text-field
                v-model="evaluation.creativity"
                class="mt-0 pt-0"
                single-line
                type="number"
                style="width: 60px"
                max="100"
                min="0"
              ></v-text-field>
            </template>
          </v-slider>
          <span class="caption">Motivace</span>
          <v-slider
            v-model="evaluation.motivation"
            class="align-center"
            max="100"
            min="0"
            hide-details
          >
            <template v-slot:append>
              <v-text-field
                v-model="evaluation.motivation"
                class="mt-0 pt-0"
                single-line
                type="number"
                style="width: 60px"
                max="100"
                min="0"
              ></v-text-field>
            </template>
          </v-slider>
          <span class="caption">KarasIndex</span>
          <v-slider
            v-model="evaluation.karasIndex"
            class="align-center"
            max="100"
            min="0"
            hide-details
          >
            <template v-slot:append>
              <v-text-field
                v-model="evaluation.karasIndex"
                class="mt-0 pt-0"
                single-line
                type="number"
                style="width: 60px"
                max="100"
                min="0"
              ></v-text-field>
            </template>
          </v-slider>
        </v-col>
      </v-row>
      <v-btn @click="submitEvaluation(id, {})" class="primary"
        >Uložit hodnocení</v-btn
      >
      <v-btn @click="close()" class="ml-3">Zpět</v-btn>
    </v-container>
  </div>
</template>

<style lang="css"></style>

<script lang="ts">
import {
  Letter,
  LetterEvaluation,
} from "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-types";
import { Component, Emit, Prop, Watch } from "vue-property-decorator";
import QuillContent from "./QuillContent.vue";
import Vue from "vue";
import { theClient } from "../cmak-ui";
import { EmittingCmakClient } from "../cmak-client"
import { component } from "node_modules/vue/types/umd";

@Component({ components: { QuillContent } })
export default class LetterEvaluator extends Vue {
  @Prop({ required: true }) id!: string;
  @Prop() evaluation!: LetterEvaluation;

  loading = false

  motivationalLetter?: Letter | null = null;
  theClient=new EmittingCmakClient(theClient,this)

  mounted() {
    this.loadLetter(this.id);
  }
  @Watch("id")
  loadLetter(id: string) {
    this.loading = true
    this.theClient
      .getMotivationLetterByUuid(id)
      .then((letter) => {
        this.motivationalLetter = letter        
      }).finally(()=>{this.loading = false});
  }

  @Emit()
  async submitEvaluation() {
    await this.theClient.submitEvaluations(new Map([[this.id, this.evaluation]]));
    this.theClient.close()
  }
  @Emit()
  close() {
    this.theClient.close()
  }
}
</script>
