<template>
  <div>
    <v-card class="card ma-3">
      <v-container fluid class="flex-wrap">
        <v-row dense>
          <v-col cols="12" md="3">
            <div>
              <span class="overline ma-2">Celkem objednáno</span>
            </div>
            <div class="ma-3">
              <span class="text-h2">{{ totalOrdered(attendees) }}</span>
              <span class="text-h5">CZK</span>
            </div>
          </v-col>
          <v-col cols="12" md="3">
            <div>
              <span class="overline ma-2">Celkem zaplaceno</span>
            </div>
            <div class="ma-3">
              <span class="text-h2">{{ totalPaid(attendees) }}</span>
              <span class="text-h5">CZK</span>
            </div>
          </v-col>
          <v-col cols="12" md="3">
            <div>
              <span class="overline ma-2">Dlužníci</span>
            </div>
            <div class="ma-3">
              <span class="text-h2">{{ debtorsCount(attendees) }}</span>
            </div>
          </v-col>
          <v-col cols="12" md="3">
            <div>
              <span class="overline ma-2">Přeplatky</span>
            </div>
            <div class="ma-3">
              <span class="text-h2">{{ creditorsCount(attendees) }}</span>
            </div>
          </v-col>
          <v-col>
            <v-btn @click="openPaymentsDialog()">Zpracovat platby</v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
    <v-dialog
      v-if="paymentsDialog"
      v-model="paymentsDialog"
      persistent
      fullscreen
    >
      <v-card>
        <v-toolbar flat dark color="primary">
          <v-btn icon dark @click="paymentsDialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Zpracování plateb</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn
            dark
            text
            :loading="savingToServer"
            :disabled="deltas.length <= 0"
            @click="
              paymentsDialog = false;
              updatePaymentsToServer();
            "
          >
            Uložit
          </v-btn>
        </v-toolbar>
        <v-container>
          <v-file-input
            @change="fileSelected"
            accept="text/csv"
            label="CSV soubor s platbami"
          ></v-file-input>
          <v-progress-linear
            v-if="fileProcessing"
            indeterminate
          ></v-progress-linear>
          <div v-if="fileOpened">
            <v-expansion-panels class="mb-2">
              <v-expansion-panel>
                <v-expansion-panel-header
                  ><strong
                    >Přírůstky<span v-if="deltas.length > 0"
                      >({{ deltas.length }})</span
                    ><v-icon v-if="anyNegative(deltas)"
                      >mdi-alert</v-icon
                    ></strong
                  >
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-row v-for="delta in deltas" v-bind:key="delta[0].id">
                    <v-col>{{ delta[0].name }}</v-col
                    ><v-col class="d-flex justify-end"
                      ><span> {{ delta[1] }}</span></v-col
                    >
                  </v-row>

                  <v-alert v-if="anyNegative(deltas)" type="warning">
                    Detekována negativní změna - je seznam plateb opravdu pro
                    celé relevantní období?
                  </v-alert>
                </v-expansion-panel-content>
              </v-expansion-panel>
              <v-expansion-panel>
                <v-expansion-panel-header
                  ><strong
                    >Nespárované platby
                    <span v-if="unknownPayments.length > 0"
                      >({{ unknownPayments.length }})</span
                    ></strong
                  >
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-row
                    v-for="payment in unknownPayments"
                    v-bind:key="JSON.stringify(payment)"
                  >
                    <v-col>{{ payment.comment }}</v-col
                    ><v-col class="d-flex justify-end"
                      ><span>{{ payment.amount }}</span></v-col
                    >
                  </v-row>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </div>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import LetterEvaluator from "./LetterEvaluator.vue";
import Evaluation from "./Evaluation.vue";
import QuillContent from "./QuillContent.vue";
import {
  theStore,
  theCmak,
  averageEval,
  theClient,
  computeBalance,
} from "../cmak-ui";
import { EmittingCmakClient } from "../cmak-client";
import {
  LetterEvaluation,
  Attendee,
  Authorization,
  feeGenerator,
} from "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-types";
import MotivationLetter from "@/views/MotivationLetter.vue";

interface Payment {
  amount?: number;
  vs?: number;
  comment?: string;
  attendee?: Attendee;
}

@Component({ components: { LetterEvaluator, Evaluation } })
export default class PaymentsDashboard extends Vue {
  theClient = new EmittingCmakClient(theClient, this);
  @Prop() attendees!: Attendee[];

  paymentsDialog: boolean = false;

  totalOrdered(attendees: Attendee[]): number {
    return attendees.map((a) => this.sumFeeTotal(a)).reduce((a, b) => a + b, 0);
  }

  private sumFeeTotal(a: Attendee): number {
    return (a.financeInfo?.fees ?? []).reduce(
      (total, fee) => total + fee.price,
      0
    );
  }

  totalPaid(attendees: Attendee[]): number {
    return attendees
      .map(
        (a) =>
          (a.financeInfo?.paid ?? 0) + (a.financeInfo?.balanceCorrection ?? 0)
      )
      .reduce((a, b) => a + b, 0);
  }

  debtorsCount(attendees: Attendee[]): number {
    return attendees.filter((a) => computeBalance(a.financeInfo) < 0).length;
  }

  updatePaymentsToServer() {
    this.savingToServer = true;
    this.theClient
      .updatePayments(
        this.deltas.map(([a, delta]) => {
          return [a.id, a.financeInfo!.paid + delta];
        })
      )
      .then(() => {
        this.paymentsDialog = false;
        this.savingToServer = false;
      });
  }

  creditorsCount(attendees: Attendee[]): number {
    return attendees.filter((a) => computeBalance(a.financeInfo) > 0).length;
  }

  fileProbablyCSV = false;
  fileContainsExpectedHeaders = false;
  fileProcessing = false;
  fileOpened = false;
  savingToServer = false;
  payments: Payment[] = [];
  unknownPayments: Payment[] = [];
  deltas: [Attendee, number][] = [];

  openPaymentsDialog() {
    this.fileOpened = false;
    this.fileProcessing = false;
    this.payments = [];
    this.deltas = [];
    this.paymentsDialog = true;
  }

  fileSelected(f: File) {
    if (!f) {
      this.fileOpened = false;
      return;
    }
    this.fileProbablyCSV = false;
    this.fileContainsExpectedHeaders = false;
    const reader = new FileReader();
    reader.onload = () => {
      const text = reader.result?.toString() ?? "";
      const lines = text.split("\n").filter((l) => l.trim().length > 0);
      const headers = lines[0]
        .split(";")
        .map((field) => field.trim().substring(1, field.trim().length - 1));
      console.log(headers);
      if (headers.includes("Objem") && headers.includes("VS")) {
        this.fileContainsExpectedHeaders = true;
      }
      lines.splice(0, 1);

      const attendeesByVs = new Map(
        this.attendees
          .filter((a) => a.financeInfo)
          .map((a) => [a.financeInfo!.varSymbol, a])
      );
      this.payments = lines
        .map((line) => line.split(";"))
        .map((l) => {
          const payment: Payment = {};
          l.forEach((field, index) => {
            console.log(field, index, headers[index]);
            switch (headers[index]) {
              case "Objem":
                payment.amount = Number.parseFloat(
                  field.substring(1, field.length - 1)
                );
                break;
              case "VS":
                payment.vs = Number.parseInt(
                  field.substring(1, field.length - 1)
                );
                payment.attendee = attendeesByVs.get(payment.vs);
                break;
              case "Zpráva pro příjemce":
                payment.comment = field.substring(1, field.length - 1);
              default:
            }
          });
          return payment;
        });
      this.deltas = Array.from(attendeesByVs.entries())
        .map(
          ([vs, attendee]) =>
            [
              attendee,
              this.payments
                .filter((p) => p.vs == vs)
                .reduce((sum, p) => sum + p.amount!, 0) -
                attendee.financeInfo!.paid,
            ] as [Attendee, number]
        )
        .filter(([a, delta]) => delta != 0);
      this.unknownPayments = this.payments.filter(
        (p) => !(p.vs && attendeesByVs.has(p.vs))
      );
      this.fileProcessing = false;
    };
    reader.readAsText(f);
    this.fileOpened = true;
  }

  anyNegative(deltas: [Attendee, number][]): boolean {
    return deltas.find(([a, amount]) => amount < 0) ? true : false;
  }
}
</script>