<template>
  <v-card class="person-header d-flex flex-column" flat>
    <div class="d-flex flex-row align-center" flat>
      <v-avatar class="ma-2">
        <img :src="person.pic" alt="Avatar" />
      </v-avatar>
      <div class="font-weight-bold">{{ person.name }}</div>
    </div>
    <div class="ml-2 shortinfo text-caption">{{ shortInfo() }}</div>
  </v-card>

</template>
<style lang="css" scoped>
.person-header {
  max-width: 230px;
}
.shortinfo {
  white-space: nowrap;
  text-overflow: ellipsis;
  
}
</style>
<script lang="ts">
import Vue from "vue";
import { Prop, Component } from "vue-property-decorator";
import RoleSelection from "./RoleSelection.vue";
import { Attendee, Position, Person } from "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-types";
import { shortPositionText, theConfig } from "../cmak-ui";
@Component({ components: { RoleSelection } })
export default class PersonHeader extends Vue {
  @Prop() person?: Person | Attendee;
  hideAssignedRoles: boolean|null = null

  created() {
    theConfig.get().then(c => this.hideAssignedRoles = c.hideAssignedRoles)
  }

  shortInfo(): string {
    if (this.person && "position" in this.person && !this.hideAssignedRoles) {
      return shortPositionText(this.person.position as Position);
    }else if (this.person && this.person.organizer?.orgPosition) {
       return this.person.organizer?.orgPosition.name
    } else if (this.person && "position" in this.person === false) {
      return this.person.email;
    } else {
      return "";
    }
  }
}
</script>
