
<template>
    <v-row>
        <v-col cols="12" lg="2" class="pa-2 d-flex justify-lg-center align-lg-center">
            <qrcode-vue :value="paymentString" background="white"></qrcode-vue>
        </v-col>
        <v-col cols="12" lg="10">
            <div class="mt-3">Číslo účtu: 2200503306/2010</div>
            <div class="mt-3">Variabilní symbol: {{ varSymbol }}</div>
            <div class="mt-3">Částka: {{ amount }} Kč</div>
            <div class="mt-3">Specifický symbol: {{ specSymbol }}</div>
            <div class="mt-3">Poznámka: {{ name }}</div>
        </v-col>
    </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import QrcodeVue from 'qrcode.vue';
import { Prop, Emit, Component, Watch } from "vue-property-decorator";
const account = "CZ2620100000002200503306";
@Component({components:{QrcodeVue}})
export default class QrCodeCust extends Vue{
    @Prop({required:true}) varSymbol!:String;
    @Prop({required:true}) amount!:number;
    @Prop({required:true}) name!:String;
    @Prop({required:true}) specSymbol!:String;
    
    roundedAmount: string | null = "";
    paymentString: string | null = "";

    mounted(){
        this.generatePaymentString()
    }

    @Watch("varSymbol")
    @Watch("amount")
    generatePaymentString() {
        this.roundedAmount = this.amount.toFixed(2).toString();
        this.paymentString = `SPD*1.0*ACC:${account}*AM:${this.roundedAmount}*CC:CZK**MSG:${this.name}*X-SS:${this.specSymbol}*X-VS:${this.varSymbol}`
    }
}
</script>