<template>
  <div class="md-layout">
    <div id="editor-wrapper">
      <div id="editor-container"></div>
    </div>
  </div>
</template>
<style lang="scss">
@import url('https://cdn.quilljs.com/1.3.6/quill.snow.css');
#editor-wrapper {
  height: 100%;
  width: 100%;
}
#editor-container {
  border: 1px solid #ccc;
  font-family: Roboto, Noto Sans, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.2em;
  height: 100%;
  min-height: 150px;
  margin: 0 auto;
}
#editor-container h1 + p,
#editor-container h2 + p {
  margin-top: 0.5em;
}
#editor-container blockquote {
  border-left: 4px solid #111;
  padding-left: 1em;
}
#editor-container hr {
  border: none;
  color: #111;
  letter-spacing: 1em;
  text-align: center;
}
#editor-container hr:before {
  content: '...';
}

#quill-toolbar {
  font-family: Roboto, Noto Sans, -apple-system, BlinkMacSystemFont, sans-serif;
}
</style>
<script lang="ts">
import Vue from 'vue'
import 'quill'
import Delta from 'quill-delta'
import { Prop, Emit, Component, Watch } from 'vue-property-decorator'

declare var require: any

let Quill: any

if (!Quill) {
  Quill = require('quill')
}

@Component
export default class QuillEditor extends Vue {
  quill: any
  @Prop() content?: Delta = null

  mounted () {
    const toolbarOptions = [
      [{ size: ['small', false, 'large', 'huge'] }],
      ['bold', 'italic', 'underline'],
      ['link']
    ]
    const options = {
      modules: {
        toolbar: toolbarOptions
      },
      theme: 'snow'
    }
    this.quill = new Quill('#editor-container', options)
    
    if (this.content) {
      console.log('setting content' + JSON.stringify(this.content))
      this.quill.setContents(this.content)
    }
    this.quill.on('text-change', this.onChange)
  }

  @Watch("content")
  setContent(delta:Delta, oldValue?:Delta){    
    if(delta){
      if(!oldValue){
        console.log('setting initial value ', delta.delta)
        this.quill.setContents(delta.delta, 'api')
      }
    }
  }


  onChange () {
    this.contentsChanged(this.quill.getContents())
  }

  @Emit() contentsChanged (delta: Delta) {

  }
}
</script>
