<template>
  <div>
    <v-row>
      <v-col sm="12" lg="6">
        <person-header :person="person"></person-header>
      </v-col>
      <v-col>
        <div>
          <span class="text-h2">{{
            person.gameRating ? Math.round(calculateOverall(person)) : 0
          }} </span><span class="text-h4"> %</span>
          <div>
            <span class="overline">Celkové skóre</span>
          </div>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col sm="12" lg="6">
        <div class="text-overline mb-5">Průměrná hodnocení v kategoriích</div>
        <div v-if="person.gameRating && person.gameRating.dailyRatings && averageCategoryRating">
          <div v-if="getRatingType(person.position) === 'Lobby'">
            <div class="mt-2">Lobbing: {{ Math.round(averageCategoryRating.lobbing) }} %</div>
            <div class="mt-2">
              Připravenost: {{ Math.round(averageCategoryRating.readiness) }} %
            </div>
            <div class="mt-2">
              Mediální obraz: {{ Math.round(averageCategoryRating.mediaImage) }} %
            </div>
          </div>
          <div v-if="getRatingType(person.position) === 'Congress'">
            <div>Aktivita: {{ Math.round(averageCategoryRating.activity) }} %</div>
            <div>Připravenost: {{ Math.round(averageCategoryRating.readiness) }} %</div>
            <div>Autentičnost: {{ Math.round(averageCategoryRating.authenticity) }} %</div>
            <div>Týmová práce: {{ Math.round(averageCategoryRating.teamwork) }} %</div>
          </div>
          <div v-if="getRatingType(person.position) === 'TCK'">
            <div>Kreativita: {{ Math.round(averageCategoryRating.creativity) }} % </div>
            <div>Iniciativa: {{ Math.round(averageCategoryRating.initiative) }} % </div>
            <div>Integrita: {{ Math.round(averageCategoryRating.integrity) }} % </div>
          </div>
          <div v-if="getRatingType(person.position) === 'Government'">
            <div>Aktivita: {{ Math.round(averageCategoryRating.activity) }} %</div>
            <div>Připravenost: {{ Math.round(averageCategoryRating.readiness) }} %</div>
            <div>Týmová práce: {{ Math.round(averageCategoryRating.teamwork) }} %</div>
          </div>
        </div>
        <div v-if="!person.gameRating" class="text-caption">
          Tento účastník zatím nemá žádná hodnocení.
        </div>
      </v-col>
      <v-col sm="12" lg="6">
        <div class="text-overline mb-5">Průměrná hodnocení podle dní</div>
        <div v-if="person.gameRating && person.gameRating.dailyRatings">
          <div v-if="person.gameRating.dailyRatings[0].length">
            Úterý: {{ Math.round(averageRatingInCategories(person.gameRating, 0).overall) }} % ({{ person.gameRating.dailyRatings[0].length }} hodnocení)
          </div>
          <div v-if="person.gameRating.dailyRatings[1].length">
            Středa: {{ Math.round(averageRatingInCategories(person.gameRating, 1).overall) }} % ({{ person.gameRating.dailyRatings[1].length }} hodnocení)
          </div>
          <div v-if="person.gameRating.dailyRatings[2].length">
            Čtvrtek: {{ Math.round(averageRatingInCategories(person.gameRating, 2).overall) }} % ({{ person.gameRating.dailyRatings[2].length }} hodnocení)
          </div>
        </div>
        <div v-if="!person.gameRating" class="text-caption">
          Tento účastník zatím nemá žádná hodnocení.
        </div>
      </v-col>
    </v-row>
  </div>
</template>
<script lang="ts">
import { Component, Prop, Vue, Watch, Emit } from "vue-property-decorator";
import {
  Person,
  GameRating,
  DailyRating,
  PositionFilter,
  ApplicableFilter,
  BodyFilter,
  BodyType,
  Attendee,
  Rating,
  getRatingType,
  Position,
  calculateSingleRatingOverall
} from "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-types";
import PersonHeader from "./PersonHeader.vue";
import { calculateOverall, averageRatingInCategories } from "../cmak-ui"

@Component({ components: { PersonHeader } })
export default class RatingOverview extends Vue {
  @Prop({ required: true }) person!: Attendee;

  averageCategoryRating: Rating | null = null;

  created() {
    console.log(this.person);
  }

  mounted() {
    console.log(this.person);
    this.recalculateRating()
  }

  averageRatingInCategories = averageRatingInCategories;

  getRatingType = getRatingType;

  calculateOverall = calculateOverall

  @Watch("person")
  recalculateRating() {
    
    console.log(this.person)
    if (
      this.person &&
      this.person.gameRating &&
      this.person.gameRating.dailyRatings
    ) {
      this.averageCategoryRating = this.averageRatingInCategories(
        this.person.gameRating
      );
      console.log("avg")
      console.log(this.averageCategoryRating)
    }
  }

  // mounted() {
  //   this.recalculateRating()
  // }
}
</script>