<template>
  <div>
    <v-card class="card ma-3">
      <v-container fluid class="flex-wrap">
        <v-row dense>
          <v-col cols="12" md="4">
            <div>
              <span class="overline ma-2">Motivační dopisy</span>
            </div>
            <div class = "ma-3">
            <span class="text-h2">{{letterCount}}</span>
            </div>
          </v-col>
          <v-col cols="12" md="4">
            <div>
              <span class="overline ma-2">Ohodnocení kompletní</span>
            </div>
            <div class = "ma-3">
            <span class="text-h2">{{lettersWithEvaluation}}</span>
            </div>
          </v-col>
          <v-col cols="12" md="4">
            <div>
              <span class="overline ma-2">Hodnotitelé</span>
            </div>
            <div class = "ma-3">
            <span class="text-h2">{{ evaluatorCount }}</span>
            </div>
          </v-col>
          <v-col>
            <v-btn to="/main/roles">Management rolí</v-btn>          
          </v-col>          
        </v-row>
      </v-container>      
    </v-card>    
  </div>
</template>

<style lang="css" scoped>
.listGroup {
  max-height: 500px;
}
.list {
  /* border-color: rgba(209, 208, 208, 0.89);
  border-width: 1px;
  border-style: solid; */
  max-height: 800px;
  overflow-y: auto;
}
.card {
  min-height: 200px;
}
.number {
  font-weight: 100;
}
</style>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import LetterEvaluator from "./LetterEvaluator.vue";
import Evaluation from "./Evaluation.vue";
import QuillContent from "./QuillContent.vue";
import { theStore, theCmak, averageEval } from "../cmak-ui";
import { LetterEvaluation, Attendee, Authorization } from "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-types";
import MotivationLetter from "@/views/MotivationLetter.vue";

@Component({ components: { LetterEvaluator, Evaluation } })
export default class RoleAdminDashboard extends Vue {
  @Prop() attendees!:Attendee[]
  
  letterCount: number = 0
  lettersWithEvaluation: number = 0
  evaluatorCount: number = 0
  
  mounted(){
    this.calculateStats(this.attendees)    
  }
  
  @Watch("attendees")
  calculateStats(attendees: Attendee[]) {    
    this.letterCount = attendees.filter(a => a.registrationInfo && a.registrationInfo.motivationalLetter).length
    this.lettersWithEvaluation = attendees.filter(a => a.motivationLetterRatings && a.motivationLetterRatings.filter(le=>le.grammar+le.motivation+le.karasIndex+le.creativity>0).length >= 1).length
    this.evaluatorCount = attendees.filter(a => a.authorizations?.includes(Authorization.EVALUATOR)).length
  }
}
</script>
