<template>
  <div>
    <v-card class="card ma-3">
      <v-container fluid class="flex-wrap">
        <v-row dense>
          <v-col cols="12" md="4">
            <div>
              <span class="overline ma-2">Registrovaní</span>
            </div>
            <div class = "ma-3">
            <span class="text-h2">{{count}}</span>
            </div>
          </v-col>
          <v-col cols="12" md="4">
            <div>
              <span class="overline ma-2">Vyplněná registrace</span>
            </div>
            <div class = "ma-3">
            <span class="text-h2">{{registrationCount}}</span>
            </div>
          </v-col>
          <v-col cols="12" md="4">
            <div>
              <span class="overline ma-2">Organizátoři</span>
            </div>
            <div class = "ma-3">
            <span class="text-h2">{{ orgsCount }}</span>
            </div>
          </v-col>
          <v-col>
            <v-btn to="/main/the-list">Uživatelé</v-btn>      
          </v-col>          
        </v-row>
      </v-container>      
    </v-card>
  </div>
</template>

<style lang="css" scoped>
.listGroup {
  max-height: 500px;
}
.list {
  /* border-color: rgba(209, 208, 208, 0.89);
  border-width: 1px;
  border-style: solid; */
  max-height: 300px;
  overflow-y: auto;
}
.card {
  min-height: 200px;
}
.number {
  font-weight: 100;
}
</style>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import LetterEvaluator from "./LetterEvaluator.vue";
import Evaluation from "./Evaluation.vue";
import QuillContent from "./QuillContent.vue";
import { theStore, theCmak, averageEval,isReadyForPosition } from "../cmak-ui";
import { LetterEvaluation, Attendee, Authorization } from "@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-types";
import MotivationLetter from "@/views/MotivationLetter.vue";

@Component({ components: { LetterEvaluator, Evaluation } })
export default class UserAdminDashboard extends Vue {
  @Prop() 
  attendees!:Attendee[]
  
  count: number = 0
  registrationCount: number = 0
  orgsCount: number = 0
  
  mounted(){
    this.calculateStats(this.attendees)
  }
  
  @Watch("attendees")
  calculateStats(attendees: Attendee[]) {
    this.count=attendees.length    
    this.registrationCount = attendees.filter(isReadyForPosition ).length
    this.orgsCount = attendees.filter(a => a.authorizations?.includes(Authorization.ORGANIZER)).length    
  }
}
</script>
