<template>
  <div id="app">
    <div>
      <router-view />
    </div>
  </div>
</template>

<style lang="css" scoped>
.md-app {
  border: 1px solid rgba(#000, 0.12);
}
.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}
</style>

<script lang = "ts">
import { Component, Vue } from 'vue-property-decorator'
import AddressEditor from '@/components/AddressEditor.vue'
import HelloWorld from '@/components/HelloWorld.vue'
import AttendeeProfile from '@/components/AttendeeProfile.vue'
import Preferences from '@/components/Preferences.vue'
import { Attendee, Message} from '@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-types'
import { CmakDefinition } from '@/../amplify/backend/function/cmakappLambdaLayer/opt/cmak-2021'
import {  theCmak } from './cmak-ui'

@Component({
  components: {
    AddressEditor, HelloWorld, AttendeeProfile
  }
})
export default class App extends Vue {
  menuVisible = false;
  
  cmak = theCmak;
  messages: Message[] = []  
}
</script>
